.container
	.row.col-lg-12
		h2 &nbsp;
	.row
		.col-md-4.portfolio-item(onClick='location.href="../articles/deadeyeintro"')
			a(href='#')
				img.img-responsive.articleindeximage(src="../../images/articles/dejumbo.png")
			h3.articleindextitle Player's Guide: DEADEYE
		.col-md-4.portfolio-item(onClick='location.href="../articles/gravitygirlintro"')
			a(href='#')
				img.img-responsive.articleindeximage(src="../../images/articles/ggjumbo.png")
			h3.articleindextitle Player's Guide: GRAVITY GIRL
		.col-md-4.portfolio-item(onClick='location.href="../articles/knoxintro"')
			a(href='#')
				img.img-responsive.articleindeximage(src="../../images/articles/kxjumbo.png")
			h3.articleindextitle Player's Guide: KNOX
		.col-md-4.portfolio-item(onClick='location.href="../articles/obscurityintro"')
			a(href='#')
				img.img-responsive.articleindeximage(src="../../images/articles/objumbo.png")
			h3.articleindextitle Player's Guide: OBSCURITY
		.col-md-4.portfolio-item(onClick='location.href="../articles/queryintro"')
			a(href='#')
				img.img-responsive.articleindeximage(src="../../images/articles/qujumbo.png")
			h3.articleindextitle Player's Guide: QUERY
		.col-md-4.portfolio-item(onClick='location.href="../articles/robonobointro"')
			a(href='#')
				img.img-responsive.articleindeximage(src="../../images/articles/rbjumbo.png")
			h3.articleindextitle Player's Guide: ROBONOBO	
		.col-md-4.portfolio-item(onClick='location.href="../articles/siliconartistintro"')
			a(href='#')
				img.img-responsive.articleindeximage(src="../../images/articles/sajumbo.png")
			h3.articleindextitle Player's Guide: SILICON ARTIST