.container
	.row.col-lg-12
		h1.page-header
			Page Articles
	.row
		.col-md-4.portfolio-item(onClick='location.href="../articles/gravitygirlintro"')
			a(href='#')
				img.img-responsive(src="../../images/articles/ggjumbo.png")
			h3 A Player's Guide To...Gravity Girl
		.col-md-4.portfolio-item(onClick='location.href="../articles/robonobointro"')
			a(href='#')
				img.img-responsive(src="../../images/articles/rbjumbo.png")
			h3 A Player's Guide To...Robonobo
		.col-md-4.portfolio-item(onClick='location.href="../articles/queryintro"')
			a(href='#')
				img.img-responsive(src="../../images/articles/qujumbo.png")
			h3 A Player's Guide To...Query
		.col-md-4.portfolio-item(onClick='location.href="../articles/deadeyeintro"')
			a(href='#')
				img.img-responsive(src="../../images/articles/dejumbo.png")
			h3 A Player's Guide To...Deadeye
		.col-md-4.portfolio-item(onClick='location.href="../articles/obscurityintro"')
			a(href='#')
				img.img-responsive(src="../../images/articles/objumbo.png")
			h3 A Player's Guide To...Obscurity
		.col-md-4.portfolio-item(onClick='location.href="../articles/knoxintro"')
			a(href='#')
				img.img-responsive(src="../../images/articles/kxjumbo.png")
			h3 A Player's Guide To...Knox
		.col-md-4.portfolio-item(onClick='location.href="../articles/siliconartistintro"')
			a(href='#')
				img.img-responsive(src="../../images/articles/sajumbo.png")
			h3 A Player's Guide To...Silicon Artist