.container
	.row.col-lg-12
		h4 &nbsp;
	.row
		.col-md-4.portfolio-item(onClick='location.href="../articles/deadeyeintro"')
			a(href='#')
				img.img-responsive.ai-image.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/desplash.jpg")
			h3.ai-title.f-oku.wtxt PLAYER'S GUIDE: DEADEYE
		.col-md-4.portfolio-item(onClick='location.href="../articles/gravitygirlintro"')
			a(href='#')
				img.img-responsive.ai-image.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/ggsplash.jpg")
			h3.ai-title.f-oku.wtxt PLAYER'S GUIDE: GRAVITY GIRL
		.col-md-4.portfolio-item(onClick='location.href="../articles/knoxintro"')
			a(href='#')
				img.img-responsive.ai-image.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/kxsplash.jpg")
			h3.ai-title.f-oku.wtxt PLAYER'S GUIDE: KNOX
		.col-md-4.portfolio-item(onClick='location.href="../articles/obscurityintro"')
			a(href='#')
				img.img-responsive.ai-image.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/obsplash.jpg")
			h3.ai-title.f-oku.wtxt PLAYER'S GUIDE: OBSCURITY
		.col-md-4.portfolio-item(onClick='location.href="../articles/queryintro"')
			a(href='#')
				img.img-responsive.ai-image.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/qusplash.jpg")
			h3.ai-title.f-oku.wtxt PLAYER'S GUIDE: QUERY
		.col-md-4.portfolio-item(onClick='location.href="../articles/robonobointro"')
			a(href='#')
				img.img-responsive.ai-image.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/rbsplash.jpg")
			h3.ai-title.f-oku.wtxt PLAYER'S GUIDE: ROBONOBO	
		.col-md-4.portfolio-item(onClick='location.href="../articles/siliconartistintro"')
			a(href='#')
				img.img-responsive.ai-image.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/sasplash.jpg")
			h3.ai-title.f-oku.wtxt PLAYER'S GUIDE: SILICON ARTIST
		.col-md-4.portfolio-item(onClick='location.href="http://www.dailymotion.com/video/x55h1u4"')
			a(href='#')
				img.img-responsive.ai-image.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/smsplash.jpg")
			h3.ai-title.f-oku.wtxt TUTORIAL & SAMPLE GAME VIDEO
		.col-md-4.portfolio-item(onClick='location.href="../articles/manual"')
			a(href='#')
				img.img-responsive.ai-image.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/pksplash.jpg")
			h3.ai-title.f-oku.wtxt RULES MANUAL	