.container
	.row.col-lg-12
		h2 &nbsp;
	.row
		.col-md-4.portfolio-item(onClick='location.href="../articles/deadeyeintro"')
			a(href='#')
				img.img-responsive.articleindeximage(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/dejumbo.jpg")
			h3.articleindextitle Player's Guide: DEADEYE
		.col-md-4.portfolio-item(onClick='location.href="../articles/gravitygirlintro"')
			a(href='#')
				img.img-responsive.articleindeximage(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/ggjumbo.jpg")
			h3.articleindextitle Player's Guide: GRAVITY GIRL
		.col-md-4.portfolio-item(onClick='location.href="../articles/knoxintro"')
			a(href='#')
				img.img-responsive.articleindeximage(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/kxjumbo.jpg")
			h3.articleindextitle Player's Guide: KNOX
		.col-md-4.portfolio-item(onClick='location.href="../articles/obscurityintro"')
			a(href='#')
				img.img-responsive.articleindeximage(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/objumbo.jpg")
			h3.articleindextitle Player's Guide: OBSCURITY
		.col-md-4.portfolio-item(onClick='location.href="../articles/queryintro"')
			a(href='#')
				img.img-responsive.articleindeximage(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/qujumbo.jpg")
			h3.articleindextitle Player's Guide: QUERY
		.col-md-4.portfolio-item(onClick='location.href="../articles/robonobointro"')
			a(href='#')
				img.img-responsive.articleindeximage(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/rbjumbo.jpg")
			h3.articleindextitle Player's Guide: ROBONOBO	
		.col-md-4.portfolio-item(onClick='location.href="../articles/siliconartistintro"')
			a(href='#')
				img.img-responsive.articleindeximage(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/sajumbo.jpg")
			h3.articleindextitle Player's Guide: SILICON ARTIST