.container-fluid.ggbackground
	.container.articlecontainer
		.ggjumbotron
			img.ggjumboimage.img-responsive(src="../../images/articles/ggjumbo.png")
			h1.ggjumbobanner.text-right WHO IS...
					span.ggfavfivecardtitle GRAVITY GIRL?
			h3.ggjumbobanner.text-right BY J MUNFORD &nbsp;
					span @JAEHIGHFIVE
		.row
			.col-md-12.characterbiography
				
				CHARACTER ORIGIN
				h3 As she sat beneath the stars years ago, Dr. XXXXX XXXXXX peered into her telescope to see a star-streaked comet fall to earth. She felt her eyes and hands drawn to its warm purple glow. As she touched it, she could feel herself overcome with incredible cosmic power. 

				Imbued with the ability to manipulate gravity, space and time, Dr. XXXXXX became GRAVITY GIRL!  As a founding member of her local superhero team The Amberville Heroes, Gravity Girl has used her superstrength and knowledge of astrophysics to save the lives of countless Amberville citizens. With Gravity Girl's in-depth knowledge of high level mathematics and her incredible cosmic powers, crime doesn't stand a chance.
				
				CHARACTER DIFFICULTY
				h3 Since she's the closest thing our game has to the classical superhero type, it also makes a lot of sense that she should be one of the best characters to use when learning the game. It's also central that each character feel different and unique in terms of their playstyle - complicating the design of 'easier' strategies that often require lots of simplicity and minimal complexity.
		.row
			.col-md-12.ggbanner
				img.img-responsive.articlebanner(src="../../images/articles/ggbanner2.png")
				h1.text-right WHY DOES SHE FIGHT?
			.col-md-12.charactermechanics

				MOTIVATION & TEAM ROLE
				h3 Gravity Girl's greatest strength lies in her versatility. Although she can't do any one thing particularly well, she's capable of dishing out player damage, blowing up Utilities and protecting her life total via her diverse Utilities and Throw cards.

				STRONGEST PLUS
				h3 This versatility can make Gravity Girl incredibly difficult to prepare for - forcing more specific & focused characters like Deadeye & Query to change their strategy on the fly. Gravity Girl makes an excellent introduction to the game and a solid all-around pick.

				STRONGEST MINUS
				h3 Gravity Girl's greatest strength is also her greatest weakness as this versatility comes at the cost of raw power. Unlike characters such as Robonobo & Obscurity, Gravity Girl can't easily change her deck around to meet different types of threats. An aggressive Knox or discard-based Deadeye can give Gravity Girl a lot of trouble while Robonobo's consistent player damage forces her to struggle when playing defense.		
		.row
			.col-md-12.ggbanner
				img.img-responsive.articlebanner(src="../../images/articles/ggbanner3.png")
				h1.text-right WHAT ARE HER POWERS?
			.col-md-12.characterskill

				FULL POWER SHEET
				h3 Gravity Girl's skill Throw represents her ability to throw around people, places & things thanks to her incredible gravity powers. Whenever you see the word Throw on a card, that means you must first destroy one of your own Utilities in order to play the card. You can't hold onto a stop sign and throw it at Robonobo's head at the same time, after all. 

				MECHANIC
				h3 Although Throw seems like it may be difficult to use, Throw cards provide Gravity Girl with a steady stream of powerful options. There are a lot of Utilities and Crossovers in Gravity Girl's deck that love to be thrown - and allow you draw cards, deal damage to opponents or blow up Utilities in the process. Throw is also an excellent defensive option - opponents that came to break your Utilities will be pretty disappointed when you are more than willing to break them yourself. You could even build a deck based on your aggressive Throw cards and end up with an empty Utility belt at the end of each turn.
		.row
			.col-md-12.ggbanner
				img.img-responsive.articlebanner(src="../../images/articles/ggbanner3.png")
				h1.text-right CARDS TO LOOK OUT FOR!	
		br
		.row.ggfavfive
			.col-md-5.ggimagecontainer
				img.img-responsive.favfiveimage(src='../../images/shrapnelstorm.png')
			.col-md-7.text-center.favfivetext.ggtextcontainer
				h1.ggfavfivecardtitle Shrapnel Storm
				h3.favfivecarddesc This action doesn't throw anything or draw you any cards, but can create some of the most explosive turns in the game. Try combining this with Gravity Well and some Throw cards to rack up huge damage!		
		br
		.row.ggfavfive
			.col-md-5.text-center.favfivetext.ggtextcontainer
				h1.ggfavfivecardtitle Dunk
				h3.favfivecarddesc Although Gravity Girl's deck provides you plenty of versatility, sometimes you need to close the door on your opponent entirely. This Feat destroys every single Utility and Crossover in the game at the low cost of one of your own.
			.col-md-7.ggimagecontainer
				img.img-responsive.favfiveimage(src='../../images/dunk.png')
		br
		.row.ggfavfive
			.col-md-7.ggimagecontainer
				img.img-responsive.favfiveimage(src='../../images/darkblades.png')
			.col-md-5.text-center.favfivetext.ggtextcontainer
				h1.ggfavfivecardtitle Dark Blades
				h3.favfivecarddesc Gravity Girl will throw anything around, but there's no better partner for her than Dark Blades. His decent Fight score combined with the ability to blow up a Utility when thrown makes him an excellent choice for Gravity Girl's Crossover lineup.				
		br
		.row.ggfavfive
			.col-md-7.text-center.favfivetext.ggtextcontainer
				h1.ggfavfivecardtitle Dreams Of Space
				h3.favfivecarddesc Although cards like Maple Tree and Pile Of Rubble help, Gravity Girl has a hard time keeping her hand full during the game. Almost every Gravity Girl build can use Dreams Of Space - especially against discard-heavy characters like Robonobo & Deadeye.		
			.col-md-5.ggimagecontainer
				img.img-responsive.favfiveimage(src='../../images/dreamsofspace.png')
		br
		.row.ggfavfive
			.col-md-7.ggimagecontainer
				img.img-responsive.favfiveimage(src='../../images/mapletree.png')
			.col-md-5.text-center.favfivetext.ggtextcontainer
				h1.ggfavfivecardtitle Maple Tree
				h3.favfivecarddesc Looking to rack up early damage and keep the cards flowing? Maple Tree replaces itself in your hand and is a great way to set up big Throw combos.	
