.container-fluid
	.container
		.kxjumbotron
			img.kxjumboimage.img-responsive(src="../../images/articles/kxjumbo.png")
			h1.kxjumbobanner.text-right AN INTRODUCTION TO...
					span.kxfavfivecardtitle KNOX
			h3.kxjumbobanner.text-right BY J MUNFORD &nbsp;
					span @JAEHIGHFIVE
		.row
			.col-md-12.characterbiography
				CHARACTER ORIGIN
				h3 Knox watched the henchmen lower his father's coffin into a gilded mausoleum during a cold afternoon. The boy genius was visibly disturbed by the procession and he anxiously tapped on the wall with his fingers. Seething with anger, he vowed to to reclaim his family's legacy and remake it in his own image. The boy genius would become the boy warlord! 

				Inheriting his father's empire of organized crime, Knox has used his vast fortune and arsenal of weapons to begin building his dream. His team of henchmen and hired help have become infamously known as the Villain Underground after a number of violent criminal incidents. Even alone, Knox should not be underestimated. His powersuit contains a number of deadly implements and his obsessive drive for power has lead him to become an outcast in the supervillain community.
		.row
			.col-md-12.kxbanner
				img.img-responsive.articlebanner(src="../../images/articles/kxbanner1.png")
				h1.text-right HOW DOES SHE FIGHT?
			.col-md-12.charactermechanics
				GENERAL OVERVIEW
				general description of role (combo, standard, control, etc) - aggro
				tie into flavor - coward at all costs
				difficulty - int
				who should play her - card draw, all-in, min-max

				STRONGEST PLUS
				Card Draw

				STRONGEST MINUS
				Fragile				
		.row
			.col-md-12.kxbanner
				img.img-responsive.articlebanner(src="../../images/articles/kxbanner1.png")
				h1.text-right WHAT ARE HER POWERS?
			.col-md-12.characterskill
				Full power sheet - Stolen Powersuit, Endless Wealth, Criminal Militia, Megalomania
				
				Mechanic - Minion - full text + how to read it. 
				Why use it? Dodge big combo plays, force opponents to focus on your utilities, both aggressive/defensive minions 

				Examples - Moronic Gangster. Cut-Rate Mercenary -> Flood The Streets
		.row
			.col-md-12.kxbanner
				img.img-responsive.articlebanner(src="../../images/articles/kxbanner1.png")
				h1.text-right WHAT ARE HER POWERS?	
		br
		.row.kxfavfive
			.col-md-5.kximagecontainer
				img.img-responsive.favfiveimage(src='../../images/shrapnelstorm.png')
			.col-md-7.text-center.favfivetext.kxtextcontainer
				h1.kxfavfivecardtitle Angry Lunge
				h3.favfivecarddesc Huge damage, put a minion in the way, extremely versatile
		br
		.row.kxfavfive
			.col-md-5.text-center.favfivetext.kxtextcontainer
				h1.kxfavfivecardtitle Cruel Plot
				h3.favfivecarddesc Wait for an opening, fill your hand in the meantime, great finisher in an aggressive deck
			.col-md-7.kximagecontainer
				img.img-responsive.favfiveimage(src='../../images/dunk.png')
		br
		.row.kxfavfive
			.col-md-7.kximagecontainer
				img.img-responsive.favfiveimage(src='../../images/darkblades.png')
			.col-md-5.text-center.favfivetext.kxtextcontainer
				h1.kxfavfivecardtitle Massacre
				h3.favfivecarddesc extremely high fight, almost nothing in your deck applies, can get 3+ utilities against some decks
		br
		.row.kxfavfive
			.col-md-7.text-center.favfivetext.kxtextcontainer
				h1.kxfavfivecardtitle Shatter To Bits
				h3.favfivecarddesc Great sideboard card, Keeps the hand full, clear the path for your minions 		
			.col-md-5.kximagecontainer
				img.img-responsive.favfiveimage(src='../../images/dreamsofspace.png')
		br
		.row.kxfavfive
			.col-md-7.kximagecontainer
				img.img-responsive.favfiveimage(src='../../images/mapletree.png')
			.col-md-5.text-center.favfivetext.kxtextcontainer
				h1.kxfavfivecardtitle Donaldson, The Butler
				h3.favfivecarddesc powers the hand size deck, great for machinations, toss him away with minion	
