.container-fluid.text-left.articlebg
	.container.articlecontainerbg
		.row.articlerow
			.col-md-12
				div.articlemasthead.gg-backgroundcolor
					img.articlebanner(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/ggsplash.jpg")
					h1.articletitle Gravity Girl Player's Guide
					h1.articleauthor by @jaehighfive
		.row.articlerow
			.col-md-12
				h1.articleheading.gg-backgroundcolor who is GRAVITY GIRL?
				p.articletext As she sat beneath the stars years ago, GRAVITY GIRL peered into her telescope to see a star-streaked comet fall to earth. Shoving the rest of her pizza quickly into her mouth, she threw the telescope into her satchel. Running down the hillside to pursue the heavenly body, she was thrown from the rocks by the impact of a falling crystal sphere. Collecting herself, she felt her eyes and hands drawn to the warm purple of the glowing alien geode. Touching it with her fingertips, she became overwhelmed with incredible cosmic power.

				p.articletext Imbued with the ability to manipulate gravity, space and time, that fateful evening transformed a young astrophysics professor into GRAVITY GIRL!  As a founding member of her local superhero team The Amberville Heroes, GRAVITY GIRL has used her phenominal powers and knowledge of astrophysics to save the lives of countless Amberville citizens. With GRAVITY GIRL's in-depth knowledge of high-level science and incredible cosmic abilities, crime doesn't stand a chance.  
		.row.articlerow
			.col-md-12
				h1.articleheading.gg-backgroundcolor how to play GRAVITY GIRL
				p.articletext Resident powerhouse of the Amberville Heroes, GRAVITY GIRL uses her cosmic powers to slug it out with supervillains on an everyday basis. An astrophysist by day, GRAVITY GIRL combines her fighting prowess with her knowledge of science and mathematics to outwit crime bosses, evil dopplegangers and mad scientists. Since founding the Amberville Heroes, criminals have learned time and time again that GRAVITY GIRL's physics lessons usually to end in explosions. If you play Gravity Girl, expect to pummel your opponent into the ground and blow a few things up in the process.

				p.articletext GRAVITY GIRL is an aggressive all-purpose character that can alternate between a variety of strategies as needed. Her THROW skill allows you to play powerful Action cards at the cost of destroying your own Utilities. Destroying one of your Utilities may be a high cost, but think of it like an experiment - GRAVITY GIRL has a number of Utilities that give you big rewards when throwing them at an opponent's head. By mixing-and-matching which THROW and Utility cards appear in your deck, you will be rewarded by a resilient character that can overcome most control and combo strategies.
	
				p.articletext To play GRAVITY GIRL, you'll need to be comfortable changing your deckbuilds between games. Gravity Girl's card selection includes a lot of variety, meaning that she really excels when players feel comfortable shifting around as needed. Want more Utility removal against SILICON ARTIST? Need more Armor against DEADEYE? GRAVITY GIRL players have the ability to change as needed. As this is an essential skill for new players to learn, GRAVITY GIRL has been classified as an EASY character. This fundamental simplicity makes her a friendly choice for first-time players while experienced players will be drawn to her power and versatility.
		.row.articlerow
			.col-md-12
				h1.articleheading.gg-backgroundcolor what is GRAVITY GIRL's skill?
				p.articletext GRAVITY GIRL isn't satisfied using her incredible cosmic powers to fight crime, she wants unravel the mysteries of space and time. Although she most frequently uses her gravity manipulation powers to fly and wallop her opponents with weapons, she is also capable of creating transmatter portals to teleport around the world. According to her notes, research indicates that this is just the beginning. Rewinding time. Interdimensional travel. Miniature black holes. Of course, GRAVITY GIRL might need your scientific expertise to explore the potential of her versatile THROW skill.

				.row.articleskillrow
					.col-md-12.text-center.articleskillpanel
						img(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/throw.jpg")
						h4.articleskilltext To play a card with Throw, you must first destroy one of your own Utilities.

				p.articletext How does Throw work? GRAVITY GIRL will pick up anything that's lying around and use her gravity powers to hurl it at her opponents. In order to do this, you'll need something to pick up in the first place. Cards in Gravity Girl's deck that feature THROW cannot be played unless you have a Utility or Crossover to pitch. The Utility that gets thrown may get destroyed, but many cards in Gravity Girl's deck offer big bonuses when they are blown up. 

				p.articletext Let's look at a few examples!   

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlevertcardheading.gg-backgroundcolor throw it into a portal
						img.articlevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/throwitintoaportal.jpg")
						h4.articleskilltext Throw It Into A Portal! is an Action card available in GRAVITY GIRL's deck. It has THROW, meaning that you'll need to destroy one of your Utilities as a cost for playing it. Played by itself, it lets you place one of your opponent's Utilities on top of their deck.  
					.col-md-6.articlecardpanel 
						h3.articlevertcardheading.gg-backgroundcolor barrage
						img.articlevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/barrage.jpg")
						h4.articleskilltext Barrage is an Action card also available in GRAVITY GIRL's deck. It has THROW, meaning that you'll need to destroy one of your Utilities as a cost for playing it. Played by itself, it deal 2 damage to any one opponent or 4 damage if you've already played a THROW card previously this turn.	
				p.articletext These two work well together. Check this out...

				img(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/gganim1.gif").center-block

				p.articletext Throw It Into A Portal and Barrage are two of the THROW cards avaiable in Gravity Girl's deck. Both require you to destroy one of your own Utilities as a cost, but each have a different purpose. Throw It Into A Portal is great at getting rid of pesky Utilities while Barrage goes directly for your opponent. This versatility is GRAVITY GIRL's greatest strength, especially since you can further mix-and-match abilities by choosing which Utilities to destroy.

				p.articletext Let's look at another example...

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlevertcardheading.gg-backgroundcolor javelin throw
						img.articlevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/javelinthrow.jpg")
						h4.articleskilltext Javelin Throw is an Action card avaiable in the Gravity Girl deck. It has THROW, meaning that you'll need to destroy one of your Utilities as a cost for playing it. Played by itself, it deals 4 damage to any one Utility.
					.col-md-6.articlecardpanel
						h3.articlehorzcardheading.gg-backgroundcolor picnic table
						img.articlehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/picnictable.jpg")
						h4.articleskilltext Picnic Table is a Utility card available in the Gravity Girl deck. Played by itself, it does nothing waiting for you to destroy it. If you do, it deals 3 damage to any one opponent.

				p.articletext These two cards work quite well together. Let's walk through it! 

				img(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/gganim2.gif").center-block

				p.articletext Javelin Throw is a powerful card for dealing with Utilities. Dealing 4 damage will destroy 90% of all Utilities and Crossovers in the game. It also has Throw, meaning that we'll need to destroy a Utility in order to play it.

				p.articletext On the other hand, Picnic Table doesn't do anything. It doesn't have any Armor and can't Fight. Why play it? Picnic Table combines well with Throw cards. By choosing Picnic Table when using Javelin Throw, you will be able to deal 4 damage to a Utility and 3 damage to a player! That's 7 damage with only two cards!

				p.articletext Combining THROW cards with Utilties that like to be thrown is the key to mastering GRAVITY GIRL. GRAVITY GIRL is capable of switching between combo, defensive and offensive decks just by choosing different THROW cards! Want to play with GRAVITY GIRL without feeling lost in space? Gravity Girl can be difficult to deckbuild so don't be afraid to make tweaks. You could leave yourself empty-handed without a good mix of Utility and THROW cards!

		.row.articlerow
			.col-md-12
				h1.articleheading 5 to watch out for...
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/shrapnelstorm.jpg")				
					.col-md-6.articlefivepanel
						h3.articlefiveheading.gg-backgroundcolor shrapnel storm
						h4.articlefivetext This action can create some of the most explosive turns in the game! Try combining this with Gravity Well and some THROW cards to rack up huge damage.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/dunk.jpg")				
					.col-md-6.articlefivepanel
						h3.articlefiveheading.gg-backgroundcolor dunk
						h4.articlefivetext Sometimes you need to close the door on your opponent entirely. This Feat destroys 99.9% of Utilities and Crossovers at the low cost of one of your own. 
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/darkblades.jpg")				
					.col-md-6.articlefivepanel
						h3.articlefiveheading.gg-backgroundcolor dark blades
						h4.articlefivetext GRAVITY GIRL will toss anything around, but there's no better partner for her than Dark Blades. His decent Fight score combined with the ability to blow up a Utility when thrown makes him an excellent sidekick.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/dreamsofspace.jpg")			
					.col-md-6.articlefivepanel
						h3.articlefiveheading.gg-backgroundcolor dreams of space
						h4.articlefivetext Although cards like Maple Tree and Pile Of Rubble help, GRAVITY GIRL has a hard time keeping her hand full during the game. Almost every GRAVITY GIRL build can use Dreams Of Space - especially against discard-heavy characters like Robonobo & Deadeye.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/mapletree.jpg")				
					.col-md-6.articlefivepanel
						h3.articlefiveheading.gg-backgroundcolor maple tree
						h4.articlefivetext Looking to rack up early damage and keep the cards flowing? Maple Tree replaces itself in your hand, fights well and is a great way to set up THROW combos.