.container-fluid.text-left.ar-bg
	.container.ar-contbg.top-padding-med
		.row.ar-row
			.col-md-12
				div.ar-mast.qu-bg
					img.img-responsive.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/qusplash.jpg")
					h1.ar-title.f-adv.wtxt.qu-bg Query Player's Guide
					h1.ar-author.f-oku.wtxt.qu-bg by @jaehighfive
		.row.ar-row
			.col-md-12
				h1.ar-heading.qu-bg.f-oku.wtxt who is QUERY?
				p.ar-text As a former intelligence agent, Query has dedicated their life to playing voyeur: bugging telephones, hacking video feeds and impersonating the powerful. As a hero, not much has changed. Despite Query's grey sense of morality, this disinformation expert has proved to be a scrappy and loyal ally in the fight against crime in Amberville. If you want to play as Query, prepare to watch, wait, demean, confuse and steal from your opponent. Why start a war if you can win before throwing a punch?

				p.ar-text Query is a aggressive disruption character that eats streamlined aggressive players and combo decks alive. Query's SPY skill let you play a few turns ahead while keeping your opponents away from the best cards in their deck. Query can also use this ability to set up heists - stealing the best cards from the top of your opponent's deck and playing them for free.
	
				p.ar-text Playing Query requires an incredible amount of patience. As one of the most fragile characters in the game, you'll be forced to constantly watch your back and prepare for the worst. Due to Query's limited defensive options, they have been classified as an INTERMEDIATE character - meaning that it may take a few games to figure out how to play Query well. If you are up to the challenge, Query's schemes offers a lot of options to help drive your opponent up the wall.
		.row.ar-row
			.col-md-12
				h1.ar-heading.qu-bg.f-oku.wtxt what is QUERY's skill?
				.col-md-6
					p.ar-text Only one thing about Query can be said to be consistent - their obsessive focus on surveillance. Before joining the Amberville Heroes, Query was best known for watching and recording metahumans of all stripes. Through the use of stolen military technology and expert disguise techniques, Query is also capable of breaching secure facilities and stealing valuable secrets. Attacking their opponent's personal relationships, bank accounts and identities, both heroes and villains are hesitant to pick a fight with the faceless agent. Keeping up the fight against a long list of enemies, players can use Query's SPY skill to stay one step ahead of their opponents. 
					p.ar-text So how does SPY work? Whenever you SPY, you must choose a player to spy on and then look at the top 3 cards of their deck. You can even SPY on yourself to see what you will be drawing next! After you are finished looking at the 3 cards, return them to the top of that player's deck in any order you choose. By rearranging your opponent's deck, you can prevent them from drawing useful cards or even dealing damage to get rid of a problem permanently!
					p.ar-text Included below are a couple of examples on how to use this skill!	
				.col-md-6
					.row.ar-skillrow
						.col-md-12.text-center.ar-skillpanel
							img.img-responsive.ar-skillimage.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/spy.jpg")
							h4.ar-skilltext.f-oku Choose target player. Look at the top 3 cards of their deck then return them in any order.
		.row
			.col-md-10.col-md-offset-1
				h3.ar-tutheading.qu-bg.f-oku.wtxt.curve.text-center CLICK ON THESE EXAMPLES FOR DETAILED TUTORIALS!
		.row
			.col-md-10.col-md-offset-1
				.col-md-3
					button.btn.btn-block.qu-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1" data-toggle="tab" data-target="#example1") EXAMPLE 1
				.col-md-3
					button.btn.btn-block.qu-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1gif" data-toggle="tab" data-target="#example1gif") EXAMPLE 1 GIF
				.col-md-3
					button.btn.btn-block.qu-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2" data-toggle="tab" data-target="#example2") EXAMPLE 2
				.col-md-3
					button.btn.btn-block.qu-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2gif" data-toggle="tab" data-target="#example2gif") EXAMPLE 2 GIF
		.tab-content.ar-row
			.tab-pane#example1
				.row.ar-cardrow.text-center
					.col-md-10.col-md-offset-1.text-center
						h3.ar-tutheading.qu-bg.f-oku.wtxt.curve.text-center EXAMPLE 1
						p.ar-text In this example, we're going to explore all the ways in which you can embrace your inner watchman. You can follow along below or check out an animated tutorial by using the button controls! 						
						br
						p.ar-text Seizing Assets and False Flag Attacks are two of the SPY cards available in the Query deck. Both cards allow you to look at the top 3 cards of a deck and rearrange them. These cards may look similar, but actually play quite differently.
						br
						col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/falseflagattacks.jpg")
							h3.ar-cardheading.qu-bg.f-adv.wtxt false flag attacks
						br
						p.ar-text False Flag Attacks is an Action card avaiable in the Query deck. Played by itself, you first choose a player to Spy on and deal 2 damage to any one target. Compared to many of Query's cards, False Flag Attacks is an incredibly aggressive way to disrupt your opponent. By choosing to SPY on enemies, you could keep them off of their big combo or get rid of a pesky Crossover. If you really need to get rid of something you've found, you can ever use the 2 damage to knock those cards into the discard pile.
						br
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/seizingassets.jpg")
							h3.ar-cardheading.qu-bg.f-adv.wtxt seizing assets
						br
						p.ar-text Seizing Assets is an Action card available in the Query deck. Played by itself, you get to Spy on each player in the game. Seizing Assets is a great way to set up your next few turns. Getting to SPY on yourself means you get to look at 3 cards from the top of your deck and help smooth your card draw at the end of the turn. It has the opposite effect on your opponents - allowing you to rearrange which cards they may be drawong on their turn.
			.tab-pane#example1gif
				.col-md-10.col-md-offset-1
					.row
						.col-md-12
							h3.ar-tutheading.qu-bg.f-oku.wtxt.curve.text-center EXAMPLE 1 GIF
					.row
						.col-md-12						
							img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/quanim1.gif").center-block
			.tab-pane#example2
				.row.ar-cardrow.text-center
					.col-md-10.col-md-offset-1.text-center
						h3.ar-tutheading.qu-bg.f-oku.wtxt.curve.text-center EXAMPLE 2
						p.ar-text The walls are closing in around our heads. Time to strike back against those who would trespass against us.
						br
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/revengeplot.jpg")
							h3.ar-cardheading.qu-bg.f-adv.wtxt revenge plot	
						br
						p.ar-text Revenge Plot is an Action card available in the Query deck. Played by itself, it lets you look at the top card of each player's deck and determine which card to play. Stealing the top card of your opponent's deck is a powerful ability, but also quite high-risk. There's no guarantee that what you steal will actually be useful. That's where Lightning Bug comes in handy. 
						br
						col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/a_270,e_auto_contrast,q_54:420,r_25/v1498676135/lightningbug.jpg")
							h3.ar-cardheading.qu-bg.f-adv.wtxt lightning bug
						br
						p.ar-text Lightning Bug is a Utility card available in the Query deck. When played by itself, it does nothing until you attack with it. However if Lightning Bug does attack a player and deal damage, you will be able to SPY on that player. Keep in mind that damage blocked with armor doesn't count! Since Lightning Bug lets you look at the top 3 cards of your opponent's deck and rearrange them, you'll be three times more likely to steal the card you need. Making the most of your steals is important so don't be afraid to wait for the right moment!
			.tab-pane#example2gif
				.col-md-10.col-md-offset-1
					.row
						.col-md-12
							h3.ar-tutheading.qu-bg.f-oku.wtxt.curve.text-center EXAMPLE 2 GIF
					.row
						.col-md-12
							img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/quanim2.gif").center-block
		.row.ar-row
			.col-md-12
				br
				h1.ar-heading.qu-bg.f-oku.wtxt in conclusion...
				p.ar-text SPY has a variety of uses for Query, but most importantly it allows you to stay turns ahead of your opponent. Query can't shrug off hits very easily, so it's important to see your opponent's strategy coming and cut them off. Want to win with Query but can't quite connect the dots? Use Query's beefy arsenal of Utilities to distract your opponents while setting up game-winning heists. Stealing high-price targets like DEADEYE's Aim cards, ROBONOBO's Evolve cards or powerful Crossovers can close the door on games in an instant.

				p.ar-text Still need some help? Check out Query's picks!
		.row.ar-row
			.col-md-12
				h1.ar-tutheading.qu-bg.f-oku.wtxt.curve.text-center QUICK PICKS!
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/blaireevasolomon.jpg")						
						h2.ar-5text Query's no magician, but it can help to have some friends that dabble in the dark arts. Solomon can attack, defend and draw you cards - offering a versatility Query can always use.
						h3.ar-5heading.qu-bg.f-adv.wtxt.curve blaire eva solomon
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/drdoodad.jpg")				
						h2.ar-5text Query's replacement in the Amberville Heroes, playing the good doctor on an early turn will do good work helping to secure your opponents to the operating table.
						h3.ar-5heading.qu-bg.f-adv.wtxt.curve dr. doodad		
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/paranoiddelusions.jpg")					
						h2.ar-5text Paranoid Delusions puts your opponent in an awkward position - they have to give away their best Utility or allow you to begin eating away the cards in their hand. Keep this fed and watch it take over a game.
						h3.ar-5heading.qu-bg.f-adv.wtxt.curve paranoid delusions
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/whoami.jpg")					
						h2.ar-5text The obvious play here is to Spy on yourself in order to know what you will be revealing, but sometimes you just need to refill your hand. In any case, flip this and watch your opponents squirm.
						h3.ar-5heading.qu-bg.f-adv.wtxt.curve who am i?
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/savatekick.jpg")					
						h2.ar-5text Does it get any better than this? An expert in the art of French kickboxing, a single well-timed kick from Query will get rid of most Utilities or a vulnerable opponent.
						h3.ar-5heading.qu-bg.f-adv.wtxt.curve savate kick
					.col-md-6.ar-5panel
						img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/untimelydatabreach.jpg")
						h2.ar-5text It's not always a great fit, but doubling down on healing is one of Query's best tools to surviving into the late game. You can always Spy first!
						h3.ar-5heading.qu-bg.f-adv.wtxt.curve untimely data breach