.container-fluid.text-center
	h1 WHO
	h3 Steven always looked for easy money where he could find it - email scams, pyramid schemes, door-to-door break-ins, etc. Everything would have been different if he hadn't robbed the wrong person. Kidnapped by hired goons and strapped to an operating table, Steven was injected with an experimental serum designed to turn human flesh in a pliable fluid. He life was ruined. Everything would have been different.

	h3 Troubled con artist and professional thief Silicon Artist is one of the newest members of Knox's Villain Underground criminal organization. With his ability to stretch and shape his skin like clay, Silicon Artist is a slippery opponent in any fight. In addition, Silicon Artist loves to pester his opponents with insults and imitations just for his own weird pleasure. He may not be the most bloodthirsty member of the Viilain Underground, but this invincible mess always seems to bounce back. 

	h1 WHAT
	h3 Silicon Artist is equal parts criminal genius and complete joke - an incredibly powerful and rich supervillain who lacks any kind of self-control. This professional con artist loves using his shapeshifting powers to harass his teammates on the Villain Underground. When playing Silicon Artist, you'll need to do the same thing to your opponent - stretch into wild directions and shapeshift to annoy them into oblivion. 

	h3 Silicon Artist is an aggressive combo deck that really excels against slow defensive decks. His STRETCH skill allows players to create free copies of the Utilities and Crossovers in his deck. While this is a very powerful ability, it also requires the player to think multiple turns ahead in order to get a competitive advantage. 

	h3 If you play Silicon Artist, you'll have to be comfortable planning ahead and making difficult decisions. Due to this challenge, Silicon Artist has been classified as a HARD character - meaning that new players are recommended to keep away. However if you take the time to become familiar with his deck, you'll find Silicon Artist offers a great aggressive shell with lots of explosive combo potential.

	h1 SKILL
	h3 Silicon Artist possesses an awesome range of superpowers, even if he's constantly using them to irritate his Villain Underground compatriots. A victim of a dangerous scientific experiment, Silicon Artist is able to stretch his body into any shape with a thought. Not only can he use this to impersonate others, but also slip into small spaces and turn parts of his body into a makeshift weapons. Silicon Artist's STRETCH skill lets players do the same via creating ever-changing copies of the Utilities and Crossovers in their deck.

	h2 STRETCH
	h3 Move one of your Utilities one slot to the right. If you do, replace it with a STRETCHED! card.

	h2 STRECHED!
	h3 This is a copy of the Utility card to its right. When this is destroyed, place it under your character card. 

	h3 So how does Stretch work? Strech creates STRETCHED! cards that act like exact copies of Utilities already in play. That means you could have up to 3 copies of the same card in play! To Stretch, take one of your Utilies or Crossovers that are already in play and move them one slot to the right. Then you get to place a STRETCHED! card into the now empty Utility slot. STRETCHED! cards become 1 HP Utilities if they don't have anything to copy so it's important to think about playing cards in sequence. Let's look at a few examples! 

	img(src='../../images/sa/ballooningbicep.png')
	img(src='../../images/sa/impersonate.png')

	h3 Ballooning Bicep is a Utility card available in Silicon Artist's deck. Played by itself, Ballooning Bicep sits in play. At the end of each turn, you may choose to destroy it in order to draw a card. This means you can choose to cash this in for a card on the turn that you play it! 

	h3 Impersonate is an Action card available in Silicon Artist's deck. Played by itself, you may choose to Stretch one of your Utilities and then gain 2 points of healing. 

	h3 These two cards play well together! Let's walk through it. In order to Stretch, you'll need to have a Utility in play. Ballooning Bicep looks like a great card to have in multiples, so let's play it right now. 

	h3 Here comes the hard part. In order for Stretch to work, we need to pay close attention to which Utility slot is chosen when playing Ballooning Bicep. If we put it in the right-most Utility slot, we won't be able to shift it over and create the STRETCHED! card in its place. That's why it's always best to play Silicon Artist's Utilities in the left-most Utility slot as a default.

	h3 Now that Ballooning Bicep is in place, we can stretch it out by playing Impersonate. Let's make a copy. To stretch Ballooning Bicep, move it one slot to the right and put a STRETCHED! card in its place.

	h3 At the end of our turn, we have an interesting choice. Ballooning Bicep allows us to destroy it at the end of our turn in order to draw a card. That means we could also destroy our STRETCHED! card to draw a card as well! Let's look at another example of getting value out of our STRETCHED! cards.


	img(src='../../images/sa/slingshotuppercut.png')
	img(src='../../images/sa/bodyrang.png')

	h3 Slingshot Uppercut is an Action card available in Silicon Artist's deck. Played by itself, you may choose to Stretch one of your Utilities and then deal 2 damage to any one player. 

	h3 Bodyrang is also an Action card available in Silicon Artist's deck. Played by itself, it deals 2 damage to any one player. You may also destroy one of your STRETCHED! cards in play to return it to your hand instead of placing it into the discard pile.

	h3 These two cards work quite well together. Let's walk through it. For this example, let's say we already have a STRETCHED! card in play. 

	h3 First, let's play a copy of Slingshot Uppercut. Although we do not have another Utility in play, we can choose to stretch our STRETCHED! card in order to create a second STRETCHED! card. With two stretched cards in play, any one single Utility or Crossover will be copied twice! The extra 2 player damage granted by Slingshot Uppercut is a nice bonus.

	h3 Next, let's play a copy of Bodyrang. Bodyrang also deals 2 damage to an opponent, but you can have it return to your hand by destroying one of your STRETCHED! cards when you play it. Don't be afraid to cash in your STRETCHED! cards if you can't play any Utilities! - Silicon Artist has lots of tricks to get the most out of your STRETCHED! cards.

	h3 Learning how to get the most of Silicon Artist's STRETCHED! cards can take some time, but making copies of powerful Utilities and Crossovers can get out of control very quickly. To set up good copies, you may have to plan a few turns ahead. Feeling pulled in too many directions with Silicon Artist? Try to take advantage of STRETCHED! cards being able to attack before the cards they copy. Aggressive Silicon Artist players can break through defensive players early!
	
	h1 FAV FIVE

	img(src='../../images/sa/longcon.png')

	h2 Long Con
	h3 This card does absolutely nothing until you stretch it twice and begin dealing 9 damage to your opponent each turn. Drop it onto a board already filled with STRETCHED! cards and catch them off-guard!	

	img(src='../../images/cross/baronvonheat.png')

	h2 Baron Von Heat
	h3 The Baron loves to brawl and you can make sure to stay out of his way by playing Utilities with high HP. Of course, you could always stretch him a bit in order to clear the board.

	img(src='../../images/gg/dunk.png')

	h2 Spread Thin
	h3 Spread Thin is a great way to get three copies of your best Utilities, but it gets a lot worse without room in your Utility Belt. Don't count out having three Ballooning Biceps or Fleshplates when you are forced into a defensive position!

	img(src='../../images/sa/skinwings.png')

	h2 Skin Wings
	h3 Silicon Artist is the master of cracking through defenses - whether they are bank vaults or your opponent's armor. Great by itself and even more powerful in multiples, stretch your wings to run over the competition. 

	img(src='../../images/sa/worminto.png')

	h2 Worm Into
	h3 Silicon Artist has access to a lot of Stretch cards, but this one can single-handedly break an opponent's defenses for a very low cost. Don't be afraid to play this just to get the chance to Stretch - not all decks will be using lots of armor.
