.container-fluid.text-left.ar-bg
	.container.ar-contbg.top-padding-med
		.row.ar-row
			.col-md-12
				div.ar-mast.rb-bg
					img.img-responsive.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/rbsplash.jpg")
					h1.ar-title.f-adv.wtxt.rb-bg Robonobo Player's Guide
					h1.ar-author.f-oku.wtxt.rb-bg by @jaehighfive
		.row.ar-row
			.col-md-12
				h1.ar-heading.rb-bg.f-oku.wtxt who is ROBONOBO?
				p.ar-text With ROBONOBO's constantly changing body and adapting brain, this cybernetic chimp is a fierce opponent for heroes and villain alike. With his phenominal robot AI, ROBONOBO is constantly refactoring and adjusting his own plans. This type of machine learning means you'll have access to a diverse toolkit capable of squaring off with any opponent.

				p.ar-text ROBONOBO is a defensive all-purpose charage that gives players a fair chance against most strategies. ROBONOBO's EVOLVE skill allows player to easily adjust their strategy via refresh their feats. Focused deckbuilders could even get to a point where they are playing a Feat during every turn of the game.
	
				p.ar-text Although ROBONOBO's skill requires players to monitor their Feats more often than other characters, he is still a great choice for a beginning player. As an EASY character, players will find that Robonobo offers powerful utilities and lots of synergy. ROBO may lack the explosive damage or combo potential that other characters possess, but makes up for that by being the most consistent character in the game.
		.row.ar-row
			.col-md-12
				h1.ar-heading.rb-bg.f-oku.wtxt what is ROBONOBO's skill?
				.col-md-6
					p.ar-text Born from a horrific animal experimentation program, ROBONOBO is a disgruntled robot monkey with a weaponized body. From his fists to his skull to his feet, ROBO is chock-full of deadly precision weapons and experimental armor polymers. Despite all this firepower, Robonobo's most dangerous tool is his ever-evolving artificial intelligence. Robonobo is quite advanced for a juvenile and as his brain begins to develop, other members of the Villain Underground are getting nervous. ROBONOBO's EVOLVE skill represents the steel simian's brain constantly refactoring to become more dangerous.

					p.ar-text So how does Evolve work? Just like every character, Robonobo chooses 3 Feats at the beginning of the game. These Feats provide powerful effects, but are single use per game only. After using a Feat, it is turned face-down. Evolve allows you to reset your Feat cards as long as you've already used it this game. This means that Robo is capable of using the same Feat over and over throughout the course of the game!

					p.ar-text Included below are a couple of examples on how to use this skill!		
				.col-md-6
					.row.ar-skillrow
						.col-md-12.text-center.ar-skillpanel
							img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/evolve.jpg")
							h4.ar-skilltext.f-oku To Evolve, turn one of your face-down Feats face-up.
						.row
							.col-md-12
								h3.ar-tutheading.rb-bg.f-oku.wtxt.curve.text-center CLICK ON THESE EXAMPLES FOR DETAILED TUTORIALS!
						.row
							.col-md-6
								button.btn.btn-block.rb-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1" data-toggle="tab" data-target="#example1") EXAMPLE 1
							.col-md-6
								button.btn.btn-block.rb-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1gif" data-toggle="tab" data-target="#example1gif") EXAMPLE 1 GIF
						br
						.row
							.col-md-6
								button.btn.btn-block.rb-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2" data-toggle="tab" data-target="#example2") EXAMPLE 2
							.col-md-6
								button.btn.btn-block.rb-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2gif" data-toggle="tab" data-target="#example2gif") EXAMPLE 2 GIF				
		.tab-content.ar-row
			.tab-pane#example1
				.row.ar-cardrow.text-center
					.col-md-12
						h3.ar-tutheading.rb-bg.f-oku.wtxt.curve.text-center EXAMPLE 1
					.col-md-6.text-center
						p.ar-text In this example, we're going bananas to explore the way Evolve works. You can follow along below or check out an animated tutorial by using the button controls! 
						br
						p.ar-text Logic Chain and Darwin Matrix are two of the EVOLVE cards available in the ROBONOBO deck. Both Actions and Utilities can offer you EVOLVE triggers during the course of the game. 
						br
						p.ar-text Logic Chain is an Action card avaiable in Robonobo's deck. Played by itself, it allows you to Evolve one of your Feats and then deal 2 damage to a single opponent. Logic Chain offers both an immediate EVOLVE trigger and 2 damage to your opponent. Based on ROBONOBO's feats, that could mean drawing a card or forcing your opponent to discard a card or hitting them in the face for two.
						br
						p.ar-text Darwin Matrix is a Utility card avaiable in Robonobo's deck. At the end of each turn, you may Evolve one of your Feats.Unlike Logic Chain, Darwin Matrix doesn't EVOLVE until the end of your turn. That means you'll have to wait until your next turn to use that Feat. That means you can't use this to EVOLVE immediately. On the other hand, Darwin Matrix stays in play from turn-to-turn and will let you EVOLVE forever if left unchecked. 
					.col-md-6.text-center
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/logicchain.jpg")
							h3.ar-cardheading.rb-bg.f-adv.wtxt logic chain		
						.col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/darwinmatrix.jpg")
							h3.ar-cardheading.rb-bg.f-adv.wtxt darwin matrix
					.col-md-12
						h3.ar-tutheading.rb-bg.f-oku.wtxt.curve.text-center EXAMPLE 1				
			.tab-pane#example1gif
				.row
					.col-md-12
						h3.ar-tutheading.rb-bg.f-oku.wtxt.curve.text-center EXAMPLE 1 GIF
				.row
					.col-md-12						
						img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/rbanim1.gif").center-block
				.row
					.col-md-12
						h3.ar-tutheading.rb-bg.f-oku.wtxt.curve.text-center EXAMPLE 1 GIF
			.tab-pane#example2
				.row
					.col-md-12
						h3.ar-tutheading.rb-bg.f-oku.wtxt.curve.text-center EXAMPLE 2
				.row.ar-cardrow.text-center				
					.col-md-6.text-center
						p.ar-text It's the planet of the Apes! Damn it all to hell! 
						br
						p.ar-text To start, let's say that Robonobo has used all of his Feats during this game and has a copy of Wrist Weapon in play.
						br
						p.ar-text Let's play Logic Chain first. This will deal a bit of damage to your opponent, but more importantly it gives us the ability to EVOLVE one of those face-down Feats. Let's EVOLVE our face-down copy of Jailbreak.
						br
						p.ar-text Jailbreak is a Feat card available in Robonobo's character pack. Activated by itself, it lets you draw a card. After playing Logic Chain, our next step is to activate Jailbreak. After using Jailbreak, it gets turned face-down again. Of course, you could always EVOLVE it so that you can use it next turn! 
						br
						p.ar-text Finally, activating Jailbreak had a nice side-effect. Wrist Weapon is a Utility card available in Robonobo's deck. Played by itself, it sits in play waiting for you to activate one of your Feats. When you do activate one of your Feats, it gains an additional +2 Fight for the rest of that turn. If you activate a Feat while Wrist Weapon is in play, Wrist Weapon will instantly get a boost in its Fight Value. Since Wrist Weapon has 0 Fight by default, using a Feat essentially turns Wrist Weapon on.
					.col-md-6.text-center
						.col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/jailbreak.jpg")
							h3.ar-cardheading.rb-bg.f-adv.wtxt jailbreak		
						.col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/wristweapon.jpg")
							h3.ar-cardheading.rb-bg.f-adv.wtxt wrist weapon
				.row
					.col-md-12
						h3.ar-tutheading.rb-bg.f-oku.wtxt.curve.text-center EXAMPLE 2
			.tab-pane#example2gif
				.row
					.col-md-12
						h3.ar-tutheading.rb-bg.f-oku.wtxt.curve.text-center EXAMPLE 2 GIF
				.row
					.col-md-12
						img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/rbanim2.gif").center-block
				.row
					.col-md-12
						h3.ar-tutheading.rb-bg.f-oku.wtxt.curve.text-center EXAMPLE 2 GIF
		.row.ar-row
			.col-md-12
				h1.ar-heading.rb-bg.f-oku.wtxt in conclusion...
				p.ar-text Every card in ROBONOBO's deck is interconnected. Even cards that seem underwhelming are often improved by using your Feats carefully and sticking to a consistent gameplan. Want to master this monkey but not sure how to hack the gibson? ROBO lives and dies by his Feats in close matchups. Be careful when choosing which Feats to EVOLVE and don't be afraid to change it up between games.

				p.ar-text Still need some help? Check out Robonobo's picks!
		.row.ar-row
			.col-md-12
				h1.ar-tutheading.rb-bg.f-oku.wtxt.curve.text-center ROBONOBO'S PICKS!
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/apeomega.jpg")						
						h2.ar-5text If you skew aggressive, Ape Omega quickly eats away Armor and catches your opponent's eye. Your opponents will be itching to get this monkey off their back.
						h3.ar-5heading.rb-bg.f-adv.wtxt.curve ape omega
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/chargecable.jpg")				
						h2.ar-5text An instant opportunity to EVOLVE combined with good brawlin' stats, Charge Cable fits well in both defensive and offensive builds.
						h3.ar-5heading.rb-bg.f-adv.wtxt.curve charge cable	
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/emptycache.jpg")						
						h2.ar-5text Robonobo is always looking for easy ways to Evolve and Empty Cache is Robo's best way to help you keep the cards flowing. 
						h3.ar-5heading.rb-bg.f-adv.wtxt.curve empty cache
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/monkeyspaw.jpg")					
						h2.ar-5text Ever wish you could just blow up a problem? In the right deck with fewer EVOLVE cards, Monkey's Paw is a nightmare for your opponent.
						h3.ar-5heading.rb-bg.f-adv.wtxt.curve monkey's paw
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/rocketpunch.jpg")					
						h2.ar-5text Looking for a reason to play a deck with lots of EVOLVE cards? Look no further than Rocket Punch. Using this even 3 or 4 times represents a huge chunk of damage.
						h3.ar-5heading.rb-bg.f-adv.wtxt.curve rocket punch
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/usape.jpg")
						h2.ar-5text This high ranking gorilla general is reporting for duty! Ol' Glory is perfectly fine at fighting, but if you let him lead your troops to war you'll be waving the victory flag high.
						h3.ar-5heading.rb-bg.f-adv.wtxt.curve us ape