.container-fluid.text-left.ar-bg
	.container.ar-contbg.top-padding-med
		.row.ar-row
			.col-md-12
				div.ar-mast.sa-bg
					img.img-responsive.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/sasplash.jpg")
					h1.ar-title.f-adv.wtxt.sa-bg Silicon Artist Player's Guide
					h1.ar-author.f-oku.wtxt.sa-bg by @jaehighfive
		.row.ar-row
			.col-md-12
				h1.ar-heading.sa-bg.f-oku.wtxt who is SILICON ARTIST?
				p.ar-text SILICON ARTIST is equal parts criminal genius and complete joke - an incredibly powerful and rich supervillain lacking any kind of self-control. SILICON ARTIST's powers make the Villain Underground's heists go smoothly, but this squishy grifter prefers to use his shapeshifting powers to troll his teammates. When playing SILICON ARTIST, you'll need to do the same thing to your opponent - stretch into wild directions and shapeshift enough to annoy them into oblivion.

				p.ar-text SILICON ARTIST is an aggressive combo character that excels against slow defensive characters. His STRETCH skill allows players to create free copies of the Utilities and Crossovers in his deck. While this is a very powerful ability, it also requires the player to think multiple turns ahead in order to get a competitive advantage.

				p.ar-text To play SILICON ARTIST, you'll have to be comfortable planning ahead and making difficult decisions. Due to this challenge SILICON ARTIST has been classified as a HARD character - meaning that new players are recommended to stay far away. If you take the time to become familiar with his deck, you'll find SILICON ARTIST offers a solid aggressive shell with lots of explosive combo potential.
		.row.ar-row
			.col-md-12
				h1.ar-heading.sa-bg.f-oku.wtxt what is SILICON ARTIST's skill?
				.col-md-6
					p.ar-text Dismissed as harmless joke by many superheroes, SILICON ARTIST nevertheless possesses an impressive range of superpowers. A victim of a dangerous scientific experiment, SILICON ARTIST is able to stretch his body into any shape with a thought. SILICON ARTIST's STRETCH skill represents this incredibly verstile power - allowing players to mimic others, slip into small spaces and change body parts into makeshift weapons.
					
					
					p.ar-text So how does Stretch work? Strech creates STRETCHED! cards that act like exact copies of Utilities already in play. Using STRETCHED! cards means you could have up to 3 copies of the same card in play - including powerful Crossovers! To Stretch, take one of your Utilities that is already in play and move it one slot to the right. Next,  place a STRETCHED! card into the now-empty slot. STRETCHED! cards become useless 1 HP Utilities if they don't have anything to copy so it's important to think about how to play cards in sequence. Let's look at a few examples!
				.col-md-6
					.row.ar-skillrow
						.col-md-12.text-center.ar-skillpanel
							img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/stretch.jpg")
							h4.ar-skilltext.f-oku Place a STRETCHED! card into one of your empty Utility slots.
							br 
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/STRETCHED.jpg")
						.row
							.col-md-12
								h3.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center CLICK ON THESE EXAMPLES FOR DETAILED TUTORIALS!
						.row
							.col-md-6
								button.btn.btn-block.sa-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1" data-toggle="tab" data-target="#example1") EXAMPLE 1
							.col-md-6
								button.btn.btn-block.sa-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1gif" data-toggle="tab" data-target="#example1gif") EXAMPLE 1 GIF
						br
						.row
							.col-md-6
								button.btn.btn-block.sa-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2" data-toggle="tab" data-target="#example2") EXAMPLE 2
							.col-md-6
								button.btn.btn-block.sa-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2gif" data-toggle="tab" data-target="#example2gif") EXAMPLE 2 GIF				
		.tab-content.ar-row
			.tab-pane#example1
				.row.ar-cardrow.text-center
					.col-md-12
						h3.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center EXAMPLE 1
					.col-md-6.text-center
						p.ar-text Put on your yoga pants, it's time to do some stretching! You can follow along below or check out an animated tutorial by using the button controls! 
						br
						p.ar-text Ballooning Bicep is a Utility card available in Silicon Artist's deck. Played by itself, Ballooning Bicep sits in play. At the end of each turn, you may choose to destroy it in order to draw a card. In order to get the most out of Stretch, you'll need to have a Utility to copy. Ballooning Bicep looks like a great card to have in multiples, so let's put it into play.
						br
						p.ar-text Impersonate is an Action card available in Silicon Artist's deck. Played by itself, you may choose to Stretch one of your Utilities and then gain 2 points of healing. Now that Ballooning Bicep is in place, we can stretch it out by playing Impersonate. Let's make a copy.
						br
						p.ar-test At the end of our turn, we have an interesting choice. Ballooning Bicep allows us to destroy it at the end of our turn in order to draw a card. That means we could also destroy our STRETCHED! card to draw a card as well!
					.col-md-6.text-center
						.col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/ballooningbicep.jpg")
							h3.ar-cardheading.sa-bg.f-adv.wtxt ballooning bicep	
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/impersonate.jpg")
							h3.ar-cardheading.sa-bg.f-adv.wtxt impersonate
					.col-md-12
						h3.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center EXAMPLE 1				
			.tab-pane#example1gif
				.row
					.col-md-12
						h3.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center EXAMPLE 1 GIF
				.row
					.col-md-12						
						img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/saanim1.gif").center-block
				.row
					.col-md-12
						h3.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center EXAMPLE 1 GIF
			.tab-pane#example2
				.row
					.col-md-12
						h3.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center EXAMPLE 2
				.row.ar-cardrow.text-center				
					.col-md-6.text-center
						p.ar-text Don't look now - Silicon Artist is doing something disgusting with his body! Oh, you want to look? Don't say I didn't warn you. 
						br
						p.ar-text For this example, let's say we already have a STRETCHED! card in play.
						br
						p.ar-text Slingshot Uppercut is an Action card available in Silicon Artist's deck. Played by itself, you may choose to Stretch one of your Utilities and then deal 2 damage to any one player. First, let's play a copy of Slingshot Uppercut. This will give us another copy of STRETCHED! to use for the future.
						br
						p.ar-text Next, let's play a copy of Bodyrang. Bodyrang is also an Action card available in Silicon Artist's deck. Played by itself, it deals 2 damage to any one player. You may also destroy one of your STRETCHED! cards in play to return it to your hand instead of placing it into the discard pile.  Bodyrang also deals 2 damage to an opponent, but you can have it return to your hand by destroying one of your STRETCHED! cards when you play it. 
						br
						p.ar-text Don't be afraid to cash in your STRETCHED! cards if you can't play any Utilities! - Silicon Artist has lots of tricks to get the most out of your STRETCHED! cards.						
					.col-md-6.text-center
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/bodyrang.jpg")
							h3.ar-cardheading.sa-bg.f-adv.wtxt bodyrang		
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/slingshotuppercut.jpg")
							h3.ar-cardheading.sa-bg.f-adv.wtxt slingshot uppercut
				.row
					.col-md-12
						h3.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center EXAMPLE 2
			.tab-pane#example2gif
				.row
					.col-md-12
						h3.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center EXAMPLE 2 GIF
				.row
					.col-md-12
						img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/saanim2.gif").center-block
				.row
					.col-md-12
						h3.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center EXAMPLE 2 GIF
		.row.ar-row
			.col-md-12
				h1.ar-heading.sa-bg.f-oku.wtxt in conclusion...
				p.ar-text Learning how to get the most of Silicon Artist's STRETCHED! cards can take some time, but making copies of powerful Utilities and Crossovers can get out of control very quickly. To set up good copies, you may have to plan a few turns ahead. Feeling pulled in too many directions with Silicon Artist? Try to take advantage of STRETCHED! cards being able to attack before the cards they copy. Aggressive Silicon Artist players can break through defensive players early!

				p.ar-text Still need some help? Check out SILICON ARTIST's picks!
		.row.ar-row
			.col-md-12
				h1.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center SILICON ARTIST'S PICKS!
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/baronvonheat.jpg")					
						h2.ar-5text Silicon Artist's former partner in crime now has a difficult job as Silicon Artist's sponsor. Turn up the heat on any fragile Utility by giving the Baron a call. You could even make some copies to wipe the board.
						h3.ar-5heading.sa-bg.f-adv.wtxt.curve baron von heat
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/longcon.jpg")						
						h2.ar-5text This card does absolutely nothing until you stretch it twice and begin dealing 6 damage to your opponent each turn. Drop it onto a board already filled with STRETCHED! cards and catch them off-guard!
						h3.ar-5heading.sa-bg.f-adv.wtxt.curve long con			
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/rpm.jpg")				
						h2.ar-5text This Villain Underground turncoat is the perfect partner in crime for Silicon Artist. All of your STRETCHED! cards get a lot faster, you gain a little bit of armor and you reset at the end of your turn! ZOOM!
						h3.ar-5heading.sa-bg.f-adv.wtxt.curve r p m	
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/spreadthin.jpg")						
						h2.ar-5text Spread Thin is a great way to get two copies of your best Utilities as long as you have room in your Utility Belt. Don't count out having three Ballooning Biceps or Fleshplates when you are on defense!
						h3.ar-5heading.sa-bg.f-adv.wtxt.curve spread thin		
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/tornadoofpunches.jpg")					
						h2.ar-5text For all of Silicon Artist's talents, he doesn't have a lot of ways to handle problematic Utilities. SILICON ARTIST's self-destructive tendencies can get the best of him, so make sure you aren't blowing up your own Utilities!
						h3.ar-5heading.sa-bg.f-adv.wtxt.curve tornado of punches
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/worminto.jpg")
						h2.ar-5text This unassuming card can single-handedly break an opponent's defenses for a very low cost. Don't be afraid to play this just to get the chance to Stretch - not all opponents will be using lots of armor.
						h3.ar-5heading.sa-bg.f-adv.wtxt.curve worm into