.container-fluid.text-left.ar-bg
	.container.ar-contbg.top-padding-med
		.row.ar-row
			.col-md-12
				div.ar-mast.sa-bg
					img.img-responsive.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/sasplash.jpg")
					h1.ar-title.f-adv.wtxt.sa-bg Silicon Artist Player's Guide
					h1.ar-author.f-oku.wtxt.sa-bg by @jaehighfive
		.row.ar-row
			.col-md-12
				h1.ar-heading.sa-bg.f-oku.wtxt who is SILICON ARTIST?
				p.ar-text Silicon Artist is equal parts criminal genius and complete joke - an incredibly powerful and rich supervillain lacking any kind of self-control. Silicon Artist's powers make the Villain Underground's heists go smoothly, but this squishy grifter prefers to use his shapeshifting abilities to troll his teammates. When playing Silicon Artist, you'll need to do the same thing to your opponent - stretch into wild directions and shapeshift enough to annoy them into oblivion.

				p.ar-text Silicon Artist is an aggressive combo character that excels against slow defensive characters. His STRETCH skill allows players to create free copies of the Utilities and Crossovers in his deck. While this is a very powerful ability, it also requires the player to think multiple turns ahead in order to get a competitive advantage.

				p.ar-text To play Silicon Artist, you'll have to be comfortable planning ahead and making difficult decisions. Due to this challenge Silicon Artist has been classified as a HARD character - meaning that new players are recommended to stay far away. If you take the time to become familiar with his deck, you'll find Silicon Artist offers a solid aggressive shell with lots of explosive combo potential.
		.row.ar-row
			.col-md-12
				h1.ar-heading.sa-bg.f-oku.wtxt what is SILICON ARTIST's skill?
				.col-md-6
					p.ar-text Dismissed as harmless joke by many superheroes, Silicon Artist nevertheless possesses an impressive range of superpowers. A victim of a dangerous scientific experiment, Silicon Artist is able to stretch his body into any shape with a thought. Silicon Artist's STRETCH skill represents this incredibly verstile power - allowing players to mimic others, slip into small spaces and change body parts into makeshift weapons.
										
					p.ar-text So how does Stretch work? Strech creates BODY PART cards that act like exact copies of Utilities already in play. Using BODY PARTS means you could have up to 3 copies of the same card in play - including powerful Crossovers! To Stretch, place a BODY PART card into an empty utility slot. BODY PARTS become useless 1 HP Utilities if they don't have anything to copy so it's important to think about how to play cards in sequence. Let's look at a few examples!
				.col-md-6
					.row.ar-skillrow
						.col-md-12.text-center.ar-skillpanel
							img.img-responsive.ar-skillimage.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/stretch.jpg")
							h4.ar-skilltext.f-oku Place a BODY PART card into one of your empty Utility slots.
				
		.row
			.col-md-10.col-md-offset-1
				h3.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center CLICK ON THESE EXAMPLES FOR DETAILED TUTORIALS!
		.row
			.col-md-10.col-md-offset-1
				.col-md-3
					button.btn.btn-block.sa-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1" data-toggle="tab" data-target="#example1") EXAMPLE 1
				.col-md-3
					button.btn.btn-block.sa-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1gif" data-toggle="tab" data-target="#example1gif") EXAMPLE 1 GIF
				.col-md-3
					button.btn.btn-block.sa-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2" data-toggle="tab" data-target="#example2") EXAMPLE 2
				.col-md-3
					button.btn.btn-block.sa-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2gif" data-toggle="tab" data-target="#example2gif") EXAMPLE 2 GIF
		.tab-content.ar-row
			.tab-pane#example1
				.row.ar-cardrow.text-center
					.col-md-10.col-md-offset-1.text-center
						h3.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center EXAMPLE 1
						p.ar-text Put on your yoga pants, it's time to do some stretching! You can follow along below or check out an animated tutorial by using the button controls! 					
						br
						.col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/a_270,e_auto_contrast,q_54:420,r_25/v1498676135/ballooningbicep.jpg")
							h3.ar-cardheading.sa-bg.f-adv.wtxt ballooning bicep	
						br
						p.ar-text Ballooning Bicep is a Utility card available in Silicon Artist's deck. Played by itself, Ballooning Bicep sits in play. At the end of each turn, you may choose to destroy it in order to draw a card. In order to get the most out of Stretch, you'll need to have a Utility to copy. Ballooning Bicep looks like a great card to have in multiples, so let's put it into play.
						br
						col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/impersonate.jpg")
							h3.ar-cardheading.sa-bg.f-adv.wtxt impersonate
						br
						p.ar-text Impersonate is an Action card available in Silicon Artist's deck. Played by itself, you may choose to Stretch into one of your Utilities and then gain 2 points of healing. Now that Ballooning Bicep is in place, we can stretch it out by playing Impersonate. Let's make a copy.
						br
						.col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/a_270,e_auto_contrast,q_54:420,r_25/v1498676135/bodypart.jpg")
							h3.ar-cardheading.sa-bg.f-adv.wtxt body part
						br
						p.ar-text At the end of our turn, we have an interesting choice. Ballooning Bicep allows us to destroy it at the end of our turn in order to draw a card. That means we could also destroy our BODY PARTS to draw a card as well!
			.tab-pane#example1gif
				.col-md-10.col-md-offset-1
					.row
						.col-md-12
							h3.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center EXAMPLE 1 GIF
					.row
						.col-md-12						
							img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/saanim1.gif").center-block
			.tab-pane#example2
				.row.ar-cardrow.text-center
					.col-md-10.col-md-offset-1.text-center
						h3.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center EXAMPLE 2
						p.ar-text Don't look now - Silicon Artist is doing something disgusting with his body! Oh, you want to look? Don't say I didn't warn you. For this example, let's say we already have a BODY PART card in play. 
						br
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/javelinthrow.jpg")
							h3.ar-cardheading.sa-bg.f-adv.wtxt javelin throw	
						br
						p.ar-text Slingshot Uppercut is an Action card available in Silicon Artist's deck. Played by itself, you may choose to Stretch and then deal 2 damage to any one player. First, let's play a copy of Slingshot Uppercut. This will give us another BODY PART to use for the future.
						br
						col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/a_270,e_auto_contrast,q_54:420,r_25/v1498676135/picnictable.jpg")
							h3.ar-cardheading.sa-bg.f-adv.wtxt picnic table
						br
						p.ar-text Next, let's play a copy of Bodyrang. Bodyrang is also an Action card available in Silicon Artist's deck. Played by itself, it deals 2 damage to any one player. You may also destroy one of your BODY PART cards in play to return it to your hand instead of placing it into the discard pile.  Bodyrang also deals 2 damage to an opponent, but you may be able to play it multiple times by destroying BODY PARTS when you play it.
						br
						.col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/a_270,e_auto_contrast,q_54:420,r_25/v1498676135/bodypart.jpg")
							h3.ar-cardheading.sa-bg.f-adv.wtxt body part 
						br
						p.ar-text Don't be afraid to cash in your BODY PARTS if you can't play any Utilities! - Silicon Artist has lots of tricks to get the most out of your BODY PART cards.		
			.tab-pane#example2gif
				.col-md-10.col-md-offset-1
					.row
						.col-md-12
							h3.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center EXAMPLE 2 GIF
					.row
						.col-md-12
							img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/saganim2.gif").center-block
		.row.ar-row
			.col-md-12
				br
				h1.ar-heading.sa-bg.f-oku.wtxt in conclusion...
				p.ar-text Learning how to get the most of Silicon Artist's BODY PARTS can take some time, but making copies of powerful Utilities and Crossovers can get out of control very quickly. To set up good copies, you may have to plan a few turns ahead. Feeling pulled in too many directions with Silicon Artist? Try to take advantage of BODY PARTS cards being able to attack before the cards they copy. Aggressive Silicon Artist players can break through defensive players early!

				p.ar-text Still need some help? Check out Silicon Artist's picks!
		.row.ar-row
			.col-md-12
				h1.ar-tutheading.sa-bg.f-oku.wtxt.curve.text-center QUICK PICKS!
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/baronvonheat.jpg")					
						h2.ar-5text Silicon Artist's former partner in crime carries a smoldering anger directed towards those who have crossed him. Turn up the heat on your opponent's Crossovers or go big with Stretch.
						h3.ar-5heading.sa-bg.f-adv.wtxt.curve baron von heat
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/longcon.jpg")						
						h2.ar-5text This card does absolutely nothing until you stretch it twice and begin dealing 6 damage to your opponent each turn. Drop it onto a board already filled with BODY PARTS cards and catch them off-guard!
						h3.ar-5heading.sa-bg.f-adv.wtxt.curve long con			
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/rpm.jpg")				
						h2.ar-5text This Villain Underground turncoat is the perfect partner in crime for Silicon Artist. All of your BODY PART cards get a lot faster, you gain a little bit of armor and you reset at the end of your turn! ZOOM!
						h3.ar-5heading.sa-bg.f-adv.wtxt.curve r p m	
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/snapback.jpg")						
						h2.ar-5text Snapback is a great way to get two copies of your best Utilities as long as you have room in your Utility Belt. Don't count out having three Ballooning Biceps or Fleshplates when you are on defense!
						h3.ar-5heading.sa-bg.f-adv.wtxt.curve snapback		
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/whirlingdervish.jpg")				
						h2.ar-5text Silicon Artist struggles with removing Utilities, but his signature move Whilrling Dervish does the trick! Keep your head together and nake sure you aren't blowing up your own Utilities!
						h3.ar-5heading.sa-bg.f-adv.wtxt.curve whirling dervish
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/worminto.jpg")
						h2.ar-5text This unassuming card can single-handedly break an opponent's defenses for a very low cost. Don't be afraid to play this just to get the chance to Stretch - not all opponents will be using lots of armor.
						h3.ar-5heading.sa-bg.f-adv.wtxt.curve worm into