.container-fluid.text-left.articlebg
	.container.articlecontainerbg
		.row.articlerow
			.col-md-12
				div.articlemasthead.sa-backgroundcolor
					img.articlebanner(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/sasplash.jpg")
					h1.articletitle Wayfarer Player's Guide
					h1.articleauthor by @jaehighfive
		.row.articlerow
			.col-md-12
				h1.articleheading.sa-backgroundcolor who is SILICON ARTIST?
				p.articletext Galaxies away, loyal Rygor Corporation employee Alpha Atom was given the dangerous task of exploring meteors as a punishment for breaking company guidelines. When one of these volatile meteors explodes, Atom was violently thrown into a sudden wormhole. Becoming lost in space, Atom roamed from galaxy to galaxy before being stranded on a small inhabited planet called Earth.

				p.articletext 200 years after being stranded in the milky way, the eccentric alien WAYFARER defends his new home planet alongside the Amberville Heroes. After being thrown through a wormhole, Alpha - now Al - became overwhelmed with WEIRD ENERGY!  WAYFARER's formidable abilities to create energy from thin air, deconstruct matter and manipulate the electromagnetic spectrum make him a powerful combatant in the fight against crime.
		.row.articlerow
			.col-md-12
				h1.articleheading.sa-backgroundcolor how to play WAYFARER
				p.articletext WAYFARER is a complicated hero in charge of tremendous power. Having been imprisoned for years before being rescued by the Amberville Heroes, WAYFARER has displaced memories and isn't always in full control of his incredible powers. When playing WAYFARER, you'll be spending most of the game trying to keep your alive while slowly building an unstoppable font of power.
				
				p.articletext WAYFARER is a defensive combo character that can dominate long games when played carefully. Our favorite alien's REVERB skill allows players to swap their deck and their discard pile, a powerful tool for resetting your life total. This incredible ability comes with a tremendous cost - WAYFARER always starts the game at half-strength. WAYFARER players will have to pay careful attention to their life total in order to survive from turn-to-turn.

				p.articletext To play WAYFARER, you'll need to be patient and have excellent timing - which is why he is classified as a HARD character. Due the high skill curve, new players should definitely avoid WAYFARER until they are more comfortable with the game. Expereienced players that are willing to think outside the box will find WAYFARER to be an incredibly powerful and satisfying defensive deck with incredible late-game strength.
		.row.articlerow
			.col-md-12
				h1.articleheading.sa-backgroundcolor what is WAYFARER's skill?
				p.articletext With the ability to manipulate the electromagnetic spectrum, WAYFARER is a powerful cosmic entity with control over heat, light and sound. Thrumming with the vibrations of the universe, WAYFARER's REVERB skill represents his ability to master the electromagnetic spectrum. 

				.row
					.col-md-6.text-center
						img.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/reverb.jpg")
						h4.articleskilltext Move one of your Utilities one slot to the right. If you do, replace it with a STRETCHED! card.
					.col-md-6.text-center
						img.articlehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/stretched.jpg")
						h4.articleskilltext This is a copy of the Utility card to its right. When this is destroyed, place it under your character card.

				p.articletext So how does Reverb work? Reverb allows you to swap your discard pile and deck - potentially gaining enormous amounts of life and gaining access to previously-played cards! This ability comes with a built-in cost - you must first trash the top 3 cards of your discard pile. That means the more often you Reverb, the smaller your deck becomes. As you can imagine, it's pretty important to Reverb at the right time or else run the risk of placing yourself in further danger! Let's check out a few examples.

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlehorzcardheading.sa-backgroundcolor inner reflection
						img.articlehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/innerreflection.jpg")
						h4.articleskilltext Inner Reflection is a Feat card available in Wayfarer's deck. Played by itself, Inner Reflection allows you to reverb - swapping your deck and discard pile in the process.
					.col-md-6.articlecardpanel 
						h3.articlevertcardheading.sa-backgroundcolor not of this earth...
						img.articlevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/notofthisearth.jpg")
						h4.articleskilltext Not Of This Earth is an Action card available in the Wayfarer deck. Played by itself, it allows you to take an extra turn as long as you have trashed at least 10 cards this game.

				p.articletext These two cards play well together! Let's walk through it. 

				p.articletext Wayfarer begins the game with 12 cards in his deck and it only gets more dangerous from there. Inner Reflection acts like a hall pass - giving you at least one way to reset you life total. Let's get it started - let's choose to active Inner Reflection this turn in order to swap our deck and our discard pile.

				img(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/saanim1.gif").center-block

				p.articletext Here comes the hard part. When you Reverb, it's a two-part process. First, you must trash the first three cards of your discard pile. Trashed cards are considered outside of the game - neither in your deck, discard pile or hand. Nine times out of ten, that means you can't expect to see those cards again in this game. 

				p.articletext After trashing the top three cards of your discard pile, you may then exchange your deck and your discard pile. Sometimes it's better to hold off on your Reverb triggers until your life has reached a low total - for instance, using Reverb on turn 1 would leave you with twelve cards in both your deck and your discard pile. 

				p.articletext So if Reverb is purely defensive, how does Wayfarer win against the aggressive inhabitants of Earth? Not Of This Earth gives us a clue - by trashing large portions of his deck, Wayfarer can boost his incredible alien abilities if left alone. Not Of This Earth grants you a free turn, but Wayfarer has many ways to take advantage of his trashed cards.

				p.articletext Let's look at another one...

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlevertcardheading.sa-backgroundcolor deconstruct
						img.articlevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/deconstruct.jpg")
						h4.articleskilltext Deconstruct is also an Action card available in Wayfarer's deck. Played by itself, it trashes the top card of each player's deck and discard pile. 
					.col-md-6.articlecardpanel
						h3.articlevertcardheading.sa-backgroundcolor life is a highway
						img.articlevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/lifeisahighway.jpg")
						h4.articleskilltext Life Is A Highway is an Feat card available in Wayfarer's deck. Played by itself, it allows you to place up to five trashed cards on top of your deck. Then you draw two cards.

				p.articletext These two cards work quite well to show the value of trashing in Wayfarer's deck . Let's walk through it. 

				img(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/saanim2.gif").center-block

				p.articletext For this example, let's say we've already trashed 9 cards in our deck using Reverb. 

				p.articletext First, let's play a copy of Deconstruct. Our deck is shrinking as the game has gone on, so it's not safe to Reverb right now. Even though we are on the ropes, we only need to trash one more card to turn on powerful actions like Hypersonic Harmony & Pulse Of The Void. 

				p.articletext Deconstruct instructs us to trash the top card of our deck, the top card of our discard pile, the top card of our opponent's deck & the top card of our opponent's discard pile. That gains us a grand total of four trashed cards, placing our total of trashed cards to 13! Time to use Life Is A Highway!

				p.articletext Life Is A Highway is a powerful late-game Feat that allows us to place up to five cards on top of our deck. In a tight game, that represents a lot of extra health! In this case, we've got a game plan that requires us to keep ten cards inside the trash, so let's only choose three and place them on top of our deck. 

				p.articletext Of course, if you have a powerful reward card like Not Of This Earth stored in the trash this is perfect opportunity to place it back into play! Life Is A Highway instructs us to draw two right after placing those cards on top of our deck, so in managing our trash carefully we have guaranteed that we'll be taking an extra turn after this one!

				p.articletext Managing your deck, discard pile, hand and trash all at the same time can make playing WAYFARER seem intimidating. Learning how to get the most out of your Reverbs and reward cards is not an easy skill and changes wildly depending on your opponent! Surviving into the late game grants careful players with powerful game-ending abilities, so don't be afraid to play it safe. Feeling lost in the vastness of space? Using reverb lets you replay cards that were sitting in our discard pile, so make sure you are trashing stuff you don't want to draw! Given enough time, a clever WAYFARER will win a late-game standoff with any competitor.

		.row.articlerow
			.col-md-12
				h1.articleheading 5 to watch out for...
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/empcacoon.jpg")				
					.col-md-6.articlefivepanel
						h3.articlefiveheading.sa-backgroundcolor EMP Cocoon
						h4.articlefivetext You read that right - if you have an empty deck, this is your get-out-of-jail free card. Opponents won't play into this very often so try to set this up carefully!
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/weirdenergy.jpg")		
					.col-md-6.articlefivepanel
						h3.articlefiveheading.sa-backgroundcolor weird energy
						h4.articlefivetext Weird Energy may not look like a powerful card on its face, but with Wayfarer's ability to manipulate his discard pile this can seal away a game very quickly. Not Of This World anyone?
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/ironjustice.jpg")
					.col-md-6.articlefivepanel
						h3.articlefiveheading.sa-backgroundcolor iron justice
						h4.articlefivetext The erstwhile protector of Steel City can help all sorts of players out of tight situations, but Wayfarer's old friend Iron Justice can easily escort you out of early pressure.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/ultrasonicquake.jpg")
					.col-md-6.articlefivepanel
						h3.articlefiveheading.sa-backgroundcolor ultrasonic quake
						h4.articlefivetext All of the trash reward cards are strong but nothing closes out a game like Ultrasonic Quake. Sit patiently, wait for your opponent to run themselves out and then finish them off with a big bang!
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/heatshadow.jpg")
					.col-md-6.articlefivepanel
						h3.articlefiveheading.sa-backgroundcolor heat shadow
						h4.articlefivetext Of course, Wayfarer can go on the offensive if need be. Heat Shadow allows you to keep the pressure up by snagging high damage targets like Crackling Air, Displaced Memory or even a Crossover! 