.container-fluid.text-left.ar-bg
	.container.ar-contbg.top-padding-med
		.row.ar-row
			.col-md-12
				div.ar-mast.gg-bg
					img.img-responsive.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/ggsplash.jpg")
					h1.ar-title.f-adv.wtxt.gg-bg Gravity Girl Player's Guide
					h1.ar-author.f-oku.wtxt.gg-bg by @jaehighfive
		.row.ar-row
			.col-md-12
				h1.ar-heading.gg-bg.f-oku.wtxt who is GRAVITY GIRL?
				p.ar-text Resident powerhouse of the Amberville Heroes, GRAVITY GIRL uses her cosmic powers to slug it out with supervillains on an everyday basis. An astrophysist by day, GRAVITY GIRL combines her fighting prowess with her knowledge of science and mathematics to outwit crime bosses, evil dopplegangers and mad scientists. Since founding the Amberville Heroes, criminals have learned time and time again that GRAVITY GIRL's physics lessons usually to end in explosions. If you play Gravity Girl, expect to pummel your opponent into the ground and blow a few things up in the process.

				p.ar-text GRAVITY GIRL is an aggressive all-purpose character that can alternate between a variety of strategies as needed. Her THROW skill allows you to play powerful Action cards at the cost of destroying your own Utilities. Destroying one of your Utilities may be a high cost, but think of it like an experiment - GRAVITY GIRL has a number of Utilities that give you big rewards when throwing them at an opponent's head. By mixing-and-matching which THROW and Utility cards appear in your deck, you will be rewarded by a resilient character that can overcome most control and combo strategies.
	
				p.ar-text To play GRAVITY GIRL, you'll need to be comfortable changing your deckbuilds between games. Gravity Girl's card selection includes a lot of variety, meaning that she really excels when players feel comfortable shifting around as needed. Want more Utility removal against SILICON ARTIST? Need more Armor against DEADEYE? GRAVITY GIRL players have the ability to change as needed. As this is an essential skill for new players to learn, GRAVITY GIRL has been classified as an EASY character. This fundamental simplicity makes her a friendly choice for first-time players while experienced players will be drawn to her power and versatility.
		.row.ar-row
			.col-md-12
				h1.ar-heading.gg-bg.f-oku.wtxt what is GRAVITY GIRL's skill?
				.col-md-6
					p.ar-text GRAVITY GIRL isn't satisfied using her incredible cosmic powers to fight crime, she wants unravel the mysteries of space and time. Although she most frequently uses her gravity manipulation powers to fly and wallop her opponents with weapons, she is also capable of creating transmatter portals to teleport around the world. According to her notes, research indicates that this is just the beginning. Rewinding time. Interdimensional travel. Miniature black holes. Of course, GRAVITY GIRL might need your scientific expertise to explore the potential of her versatile THROW skill.

					p.ar-text How does Throw work? GRAVITY GIRL will pick up anything that's lying around and use her gravity powers to hurl it at her opponents. In order to do this, you'll need something to pick up in the first place. Cards in Gravity Girl's deck that feature THROW cannot be played unless you have a Utility or Crossover to pitch. The Utility that gets thrown may get destroyed, but many cards in Gravity Girl's deck offer big bonuses when they are blown up.	
				.col-md-6
					.row.ar-skillrow
						.col-md-12.text-center.ar-skillpanel
							img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/throw.jpg")
							h4.ar-skilltext.f-oku To play a card with Throw, you must first destroy one of your own Utilities.
						.row
							.col-md-12
								h3.ar-tutheading.gg-bg.f-oku.wtxt.curve.text-center CLICK ON THESE EXAMPLES FOR DETAILED TUTORIALS!
						.row
							.col-md-6
								button.btn.btn-block.gg-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1" data-toggle="tab" data-target="#example1") EXAMPLE 1
							.col-md-6
								button.btn.btn-block.gg-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1gif" data-toggle="tab" data-target="#example1gif") EXAMPLE 1 GIF
						br
						.row
							.col-md-6
								button.btn.btn-block.gg-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2" data-toggle="tab" data-target="#example2") EXAMPLE 2
							.col-md-6
								button.btn.btn-block.gg-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2gif" data-toggle="tab" data-target="#example2gif") EXAMPLE 2 GIF				
		.tab-content.ar-row
			.tab-pane#example1
				.row.ar-cardrow.text-center
					.col-md-12
						h3.ar-tutheading.gg-bg.f-oku.wtxt.curve.text-center EXAMPLE 1
					.col-md-6.text-center
						p.ar-text In this example, we're going to compare the differences between two of Gravity Girl's Throw cards. You can follow along below or check out an animated tutorial by using the button controls! 
						br
						p.ar-text Throw It Into A Portal and Barrage are two of the THROW cards avaiable in Gravity Girl's deck. Both require you to destroy one of your own Utilities as a cost, but each have a different purpose. 

						p.ar-text Throw It Into A Portal! is an Action card available in GRAVITY GIRL's deck. It has THROW, meaning that you'll need to destroy one of your Utilities as a cost for playing it. Played by itself, it lets you place one of your opponent's Utilities on top of their deck.

						p.ar-text Barrage is an Action card also available in GRAVITY GIRL's deck. It has THROW, meaning that you'll need to destroy one of your Utilities as a cost for playing it. Played by itself, it deal 2 damage to any one opponent or 4 damage if you've already played a THROW card previously this turn.
						br
						p.ar-text Throw It Into A Portal is great at getting rid of pesky Utilities while Barrage goes directly for your opponent. This versatility is GRAVITY GIRL's greatest strength, especially since you can further mix-and-match abilities by choosing which Utilities to destroy.
					.col-md-6.text-center
						.col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/barrage.jpg")
							h3.ar-cardheading.gg-bg.f-adv.wtxt throw it into a portal				
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/throwitintoaportal.jpg")
							h3.ar-cardheading.gg-bg.f-adv.wtxt empty the clip
					.col-md-12
						h3.ar-tutheading.gg-bg.f-oku.wtxt.curve.text-center EXAMPLE 1				
			.tab-pane#example1gif
				.row
					.col-md-12
						h3.ar-tutheading.gg-bg.f-oku.wtxt.curve.text-center EXAMPLE 1 GIF
				.row
					.col-md-12						
						img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/gganim2.gif").center-block
				.row
					.col-md-12
						h3.ar-tutheading.gg-bg.f-oku.wtxt.curve.text-center EXAMPLE 1 GIF
			.tab-pane#example2
				.row
					.col-md-12
						h3.ar-tutheading.gg-bg.f-oku.wtxt.curve.text-center EXAMPLE 2
				.row.ar-cardrow.text-center				
					.col-md-6.text-center
						p.ar-text Time to start throwing things around...
						br
						p.ar-text Javelin Throw is an Action card avaiable in the Gravity Girl deck. It has THROW, meaning that you'll need to destroy one of your Utilities as a cost for playing it. Played by itself, it deals 4 damage to any one Utility.
						br
						p.ar-text Javelin Throw is a powerful card for dealing with Utilities. Dealing 4 damage will destroy 90% of all Utilities and Crossovers in the game. It also has Throw, meaning that we'll need to destroy a Utility in order to play it.
						br
						p.ar-text Picnic Table is a Utility card available in the Gravity Girl deck. Played by itself, it does nothing waiting for you to destroy it. If you do, it deals 3 damage to any one opponent.
						br
						p.ar-text On the other hand, Picnic Table doesn't do anything. It doesn't have any Armor and can't Fight. Why play it? Picnic Table combines well with Throw cards. By choosing Picnic Table when using Javelin Throw, you will be able to deal 4 damage to a Utility and 3 damage to a player! That's 7 damage with only two cards! Wonderful!
					.col-md-6.text-center
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/javelinthrow.jpg")
							h3.ar-cardheading.gg-bg.f-adv.wtxt javelin throw	
						.col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/picnictable.jpg")
							h3.ar-cardheading.gg-bg.f-adv.wtxt picnic table
				.row
					.col-md-12
						h3.ar-tutheading.gg-bg.f-oku.wtxt.curve.text-center EXAMPLE 2
			.tab-pane#example2gif
				.row
					.col-md-12
						h3.ar-tutheading.gg-bg.f-oku.wtxt.curve.text-center EXAMPLE 2 GIF
				.row
					.col-md-12
						img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/gganim1.gif").center-block
				.row
					.col-md-12
						h3.ar-tutheading.gg-bg.f-oku.wtxt.curve.text-center EXAMPLE 2 GIF
		.row.ar-row
			.col-md-12
				h1.ar-heading.gg-bg.f-oku.wtxt in conclusion...
				p.ar-text Combining THROW cards with Utilties that like to be thrown is the key to mastering GRAVITY GIRL. GRAVITY GIRL is capable of switching between combo, defensive and offensive decks just by choosing different THROW cards! Want to play with GRAVITY GIRL without feeling lost in space? Gravity Girl can be difficult to deckbuild so don't be afraid to make tweaks. You could leave yourself empty-handed without a good mix of Utility and THROW cards!

				p.ar-text Still need some help? Check out GRAVITY GIRL's picks!
		.row.ar-row
			.col-md-12
				h1.ar-tutheading.gg-bg.f-oku.wtxt.curve.text-center GRAVITY GIRL'S PICKS!
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/basalt.jpg")						
						h2.ar-5text Gravity Girl's former partner Basalt may have left the Amberville Heroes, but he's still driven to protect his city. Keep yourself safe brawling in the chaos by getting some extra armor!
						h3.ar-5heading.gg-bg.f-adv.wtxt basalt
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/darkblades.jpg")						
						h2.ar-5text GRAVITY GIRL will toss anything around, but there's no better partner for her than Dark Blades. Especially when you throw him in order to enact dark vengeance your opponent's board.
						h3.ar-5heading.gg-bg.f-adv.wtxt dark blades	
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/dunk.jpg")				
						h2.ar-5text Sometimes you need to close the door on your opponent entirely. Dunk destroys 99.9% of Utilities and Crossovers at the low cost of one of your own.
						h3.ar-5heading.gg-bg.f-adv.wtxt dunk
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/mapletree.jpg")
						h2.ar-5text Looking to rack up early damage and keep the cards flowing? Maple Tree replaces itself in your hand, fights well and is a great way to set up THROW combos.
						h3.ar-5heading.gg-bg.f-adv.wtxt maple tree
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/dreamsofspace.jpg")		
						h2.ar-5text With Grav Girl's weak card draw, almost every GRAVITY GIRL build can use Dreams Of Space - especially against discard-heavy characters like Robonobo & Deadeye.
						h3.ar-5heading.gg-bg.f-adv.wtxt dreams of space
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/shrapnelstorm.jpg")					
						h2.ar-5text This action can create some of the most explosive turns in the game! Try combining this with Gravity Well and some THROW cards to rack up huge damage.
						h3.ar-5heading.gg-bg.f-adv.wtxt shrapnel storm