.container-fluid.text-left.articlebg
	.container.articlecontainerbg
		.row.articlerow
			.col-md-12
				div.articlemasthead.sa-backgroundcolor
					img.articlebanner(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/sasplash.jpg")
					h1.articletitle Silicon Artist Player's Guide
					h1.articleauthor by @jaehighfive
		.row.articlerow
			.col-md-12
				h1.articleheading.sa-backgroundcolor who is SILICON ARTIST?
				p.articletext Steven always looked for easy money where he could find it - and found it in email scams, bank robberies & wire fraud. Everything was good until he robbed the wrong person. Kidnapped by hired goons and strapped to an operating table, Steven was injected with an experimental serum designed to turn human flesh in a pliable rubber. Steven became a horrible blob. Everything should have been different.

				p.articletext Troubled con artist and professional thief SILICON ARTIST is one of the newest members of Knox's Villain Underground criminal organization. Mastering his ability to stretch and shape his skin like clay, SILICON ARTIST loves to pester his opponents with insults and imitations for his own weird pleasure. While he may not be the most bloodthirsty member of the Viilain Underground, this invincible mess always seems to bounce back. 
		.row.articlerow
			.col-md-12
				h1.articleheading.sa-backgroundcolor how to play SILICON ARTIST
				p.articletext SILICON ARTIST is equal parts criminal genius and complete joke - an incredibly powerful and rich supervillain lacking any kind of self-control. SILICON ARTIST's powers make the Villain Underground's heists go smoothly, but this squishy grifter prefers to use his shapeshifting powers to troll his teammates. When playing SILICON ARTIST, you'll need to do the same thing to your opponent - stretch into wild directions and shapeshift enough to annoy them into oblivion. 

				p.articletext SILICON ARTIST is an aggressive combo character that excels against slow defensive characters. His STRETCH skill allows players to create free copies of the Utilities and Crossovers in his deck. While this is a very powerful ability, it also requires the player to think multiple turns ahead in order to get a competitive advantage. 
	
				p.articletext To play SILICON ARTIST, you'll have to be comfortable planning ahead and making difficult decisions. Due to this challenge SILICON ARTIST has been classified as a HARD character - meaning that new players are recommended to stay far away. If you take the time to become familiar with his deck, you'll find SILICON ARTIST offers a solid aggressive shell with lots of explosive combo potential.
		.row.articlerow
			.col-md-12
				h1.articleheading.sa-backgroundcolor what is SILICON ARTIST's skill?
				p.articletext Dismissed as harmless joke by many superheroes, SILICON ARTIST nevertheless possesses an impressive range of superpowers. A victim of a dangerous scientific experiment, SILICON ARTIST is able to stretch his body into any shape with a thought. SILICON ARTIST's STRETCH skill represents this incredibly verstile power - allowing players to mimic others, slip into small spaces and change body parts into makeshift weapons.

				.row
					.col-md-6.text-center
						img.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/stretch.jpg")
						h4.articleskilltext Move one of your Utilities one slot to the right. If you do, replace it with a STRETCHED! card.
					.col-md-6.text-center
						img.articlehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/stretched.jpg")
						h4.articleskilltext This is a copy of the Utility card to its right. When this is destroyed, place it under your character card.

				p.articletext So how does Stretch work? Strech creates STRETCHED! cards that act like exact copies of Utilities already in play. Using STRETCHED! cards means you could have up to 3 copies of the same card in play - including powerful Crossovers! To Stretch, take one of your Utilities that is already in play and move it one slot to the right. Next,  place a STRETCHED! card into the now-empty slot. STRETCHED! cards become useless 1 HP Utilities if they don't have anything to copy so it's important to think about how to play cards in sequence. Let's look at a few examples!

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlehorzcardheading.sa-backgroundcolor ballooning bicep
						img.articlehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/ballooningbicep.jpg")
						h4.articleskilltext Ballooning Bicep is a Utility card available in Silicon Artist's deck. Played by itself, Ballooning Bicep sits in play. At the end of each turn, you may choose to destroy it in order to draw a card. 
					.col-md-6.articlecardpanel 
						h3.articlevertcardheading.sa-backgroundcolor impersonate
						img.articlevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/impersonate.jpg")
						h4.articleskilltext Impersonate is an Action card available in Silicon Artist's deck. Played by itself, you may choose to Stretch one of your Utilities and then gain 2 points of healing.

				p.articletext These two cards play well together! Let's walk through it. 

				p.articletext In order to Stretch, you'll need to have a Utility in play. Ballooning Bicep looks like a great card to have in multiples, so let's put it into play.

				img(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/saanim1.gif").center-block

				p.articletext Here comes the hard part. In order for Stretch to work, we need to pay close attention to which Utility slot is chosen when playing Ballooning Bicep. If we put it in the right-most Utility slot, we won't be able to shift it over and create the STRETCHED! card in its place. That's why it's always best to play Silicon Artist's Utilities in the left-most Utility slot as a default.

				p.articletext Now that Ballooning Bicep is in place, we can stretch it out by playing Impersonate. Let's make a copy. 

				p.articletext To stretch Ballooning Bicep, move it one slot to the right and put a STRETCHED! card in its place.
			
				p.articletext At the end of our turn, we have an interesting choice. Ballooning Bicep allows us to destroy it at the end of our turn in order to draw a card. That means we could also destroy our STRETCHED! card to draw a card as well! 

				p.articletext Let's look at another example of getting value out of our STRETCHED! cards.

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlevertcardheading.sa-backgroundcolor bodyrang
						img.articlevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/bodyrang.jpg")
						h4.articleskilltext Bodyrang is also an Action card available in Silicon Artist's deck. Played by itself, it deals 2 damage to any one player. You may also destroy one of your STRETCHED! cards in play to return it to your hand instead of placing it into the discard pile.
					.col-md-6.articlecardpanel
						h3.articlevertcardheading.sa-backgroundcolor slingshot uppercut
						img.articlevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/slingshotuppercut.jpg")
						h4.articleskilltext Slingshot Uppercut is an Action card available in Silicon Artist's deck. Played by itself, you may choose to Stretch one of your Utilities and then deal 2 damage to any one player.

				p.articletext These two cards work quite well together. Let's walk through it. 

				img(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/saanim2.gif").center-block

				p.articletext For this example, let's say we already have a STRETCHED! card in play. 

				p.articletext First, let's play a copy of Slingshot Uppercut. Although we do not have a Utility in play, we can choose to stretch our STRETCHED! card in order to create a second STRETCHED! card. 

				p.articletext With two STRETCHED! cards in play, any one Utility or Crossover played into the right-hand Utility slot will be copied twice! The extra 2 player damage granted by Slingshot Uppercut is a nice bonus.

				p.articletext Next, let's play a copy of Bodyrang. Bodyrang also deals 2 damage to an opponent, but you can have it return to your hand by destroying one of your STRETCHED! cards when you play it. Don't be afraid to cash in your STRETCHED! cards if you can't play any Utilities! - Silicon Artist has lots of tricks to get the most out of your STRETCHED! cards.

				p.articletext Learning how to get the most of Silicon Artist's STRETCHED! cards can take some time, but making copies of powerful Utilities and Crossovers can get out of control very quickly. To set up good copies, you may have to plan a few turns ahead. Feeling pulled in too many directions with Silicon Artist? Try to take advantage of STRETCHED! cards being able to attack before the cards they copy. Aggressive Silicon Artist players can break through defensive players early!	

		.row.articlerow
			.col-md-12
				h1.articleheading 5 to watch out for...
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/longcon.jpg")				
					.col-md-6.articlefivepanel
						h3.articlefiveheading.sa-backgroundcolor long con
						h4.articlefivetext This card does absolutely nothing until you stretch it twice and begin dealing 9 damage to your opponent each turn. Drop it onto a board already filled with STRETCHED! cards and catch them off-guard!
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/spreadthin.jpg")			
					.col-md-6.articlefivepanel
						h3.articlefiveheading.sa-backgroundcolor spread thin
						h4.articlefivetext Spread Thin is a great way to get two copies of your best Utilitys, but it gets a lot worse without room in your Utility Belt. Don't count out having three Ballooning Biceps or Fleshplates when you are forced into a defensive position!
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/rpm.jpg")
					.col-md-6.articlefivepanel
						h3.articlefiveheading.sa-backgroundcolor rpm
						h4.articlefivetext This Villain Underground ringer is the perfect partner in crime for Silicon Artist. You can use him to shore up your armor or reset your stretching at superspeed!
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/worminto.jpg")
					.col-md-6.articlefivepanel
						h3.articlefiveheading.sa-backgroundcolor worm into
						h4.articlefivetext Silicon Artist has access to a lot of Stretch cards, but this one can single-handedly break an opponent's defenses for a very low cost. Don't be afraid to play this just to get the chance to Stretch - not all opponents will be using lots of armor.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/skinwings.jpg")
					.col-md-6.articlefivepanel
						h3.articlefiveheading.sa-backgroundcolor skin wings
						h4.articlefivetext Silicon Artist is the master of cracking through defenses - whether they are bank vaults or your opponent's armor. Great by itself and even more powerful in multiples, stretch your wings to run over the competition.