.container-fluid.text-left.ar-bg
	.container.ar-contbg
		.row.ar-row
			.col-md-12
				div.ar-mast.de-bg
					img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/desplash.jpg")
					h1.ar-title.f-adv.wtxt Deadeye Player's Guide
					h1.ar-author.f-oku.wtxt by @jaehighfive
		.row.ar-row
			.col-md-12
				h1.ar-heading.de-bg.f-oku.wtxt who is DEADEYE?
				p.ar-text Handguns. Shotguns. Sniper Rifles. Plastique. The no-nonsense mercenary DEADEYE is resigned to use whatever it takes to get the job done. DEADEYE herself has no natural superpowers, but frequently clashes with both heroes and villains in dangerous shootouts. If you've got the guts to take the safety off, playing as Deadeye offers explosive rewards -  if you can manage to pull the trigger.

				p.ar-text DEADEYE is an aggressive combo character that can alternate between attacking your opponent's hand and their life total. DEADEYE's AIM skill allows you to dramatically increase the damage dealt by cards in your deck. When playing as Deadeye, it's not uncommon to play Actions dealing upwards of 8 or 9 damage. DEADEYE's defensive options may be limited, but sometimes the best defense is a good offense.
	
				p.ar-text To play DEADEYE, you'll have to embrace being cutthroat. DEADEYE offers a lot of options in terms of player damage and discard strategies, but struggles with surviving into the later turns of the game. Players can include more defensive Crossovers as a way of shoring up this weakness. 

				p.ar-text By regularly and aggressively attacking your opponent, Deadeye shines as one of the centerpiece aggro characters of the game. Marked as an EASY character, DEADEYE is a great option for new players. Want to set the pace? Tired of waiting around for slow players? Pick up Deadeye and start firing live rounds.
		.row.ar-row
			.col-md-12
				h1.ar-heading.de-bg.f-oku.wtxt what is DEADEYE's skill?
				.col-md-6
					p.ar-text Expertly trained with long-range and short-range weapons, DEADEYE has superb combat reflexes and pinpoint accuracy. An experienced war veteran, DEADEYE is not above using surveillance devices and explosives to hunt her targets. DEADEYE's skill AIM represents her ability to deal extra damage by hitting her opponent right where it counts.
					p.ar-text So how does Aim work? Your Aim score is represented by a number that begins each turn at 0. Increasing your Aim score provides your Actions and Feats with a temporary damage boost. DEADEYE players can take advantage of this powerful ability by waiting for a big Aim bonus! 
					p.ar-text Included below are a couple of examples on how to use this skill!		
				.col-md-6
					.row.ar-skillrow
						.col-md-12.text-center.ar-skillpanel
							img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/aim.jpg")
							h4.ar-skilltext.f-oku Cards in your deck give you Aim points. Whenever your Actions or Feats deal damage, add your Aim to that damage. At the end of each turn, reset your Aim to 0.
						.row
							.col-md-12
								h3.ar-tutheading.de-bg.f-oku.wtxt.curve.text-center CLICK ON THESE EXAMPLES FOR DETAILED TUTORIALS!
						.row
							.col-md-6
								button.btn.btn-block.de-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1" data-toggle="tab" data-target="#example1") EXAMPLE 1
							.col-md-6
								button.btn.btn-block.de-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1gif" data-toggle="tab" data-target="#example1gif") EXAMPLE 1 GIF
						br
						.row
							.col-md-6
								button.btn.btn-block.de-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2" data-toggle="tab" data-target="#example2") EXAMPLE 2
							.col-md-6
								button.btn.btn-block.de-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2gif" data-toggle="tab" data-target="#example2gif") EXAMPLE 2 GIF				
		.tab-content.ar-row
			.tab-pane#example1
				.row.ar-cardrow.text-center
					.col-md-12
						h3.ar-tutheading.de-bg.f-oku.wtxt.curve.text-center EXAMPLE 1
					.col-md-6.text-center
						p.ar-text In this example, we're going to use Deadeye's Laser Sights card to make Empty The Clip more effective. You can follow along below or check out an animated tutorial by using the button controls! 
						br
						p.ar-text Laser Sights is a Utility card also available in Deadeye's deck. Played by itself, it increases your Aim score by 1 at the beginning of your turn. If your turn begins with a copy of Laser Sights in play, your AIM score will increase from 0 to 1. That means until end of turn, all Actions and Feats you play will get a +1 damage increase. 
						br
						p.ar-text Empty Clip is an Action card available in Deadeye's deck. Played by itself, it represents your player dealing 4 damage to one of your opponents.  Empty Clip's card text says to deal 4 damage to our opponent, but by adding our +1 AIM bonus it deals 5 damage instead! Since your AIM score resets to 0 at the end of your turn, make sure to use your AIM while you can!
					.col-md-6.text-center
						.col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/lasersights.jpg")
							h3.ar-cardheading.de-bg.f-adv.wtxt laser sights				
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/emptytheclip.jpg")
							h3.ar-cardheading.de-bg.f-adv.wtxt empty the clip
					.col-md-12
						h3.ar-tutheading.de-bg.f-oku.wtxt.curve.text-center EXAMPLE 1				
			.tab-pane#example1gif
				.row
					.col-md-12
						h3.ar-tutheading.de-bg.f-oku.wtxt.curve.text-center EXAMPLE 1 GIF
				.row
					.col-md-12						
						img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/deanim1.gif").center-block
				.row
					.col-md-12
						h3.ar-tutheading.de-bg.f-oku.wtxt.curve.text-center EXAMPLE 1 GIF
			.tab-pane#example2
				.row
					.col-md-12
						h3.ar-tutheading.de-bg.f-oku.wtxt.curve.text-center EXAMPLE 2
				.row.ar-cardrow.text-center				
					.col-md-6.text-center
						p.ar-text Let's go for a big AIM score! Be sure to check out Example 1 first if you get lost! 
						br
						p.ar-text Since our last example made good use of Laser Sights, let's just say this turn starts with a copy in play. That will make sure that our AIM starts at 1!
						br
						p.ar-text Next, let's play Spotting Targets. Spotting Targets is an Action card available in Deadeye's deck. Played by itself, you get to increase your AIM score by 2 and you may draw a card afterwards. Playing this will increase our AIM score by 2. Combined with the bonus received from Laser Sights, our AIM score for this turn is now 3!
						br
						p.ar-text Let's play Trick Shot last. Trick Shot is another Action card found in Deadeye's deck. Played by itself, it increases your AIM score by 1 and then deals 2 damage to any Utility. Combining the bonus from Laser Sights, Spotting Targets & Trick Shot bring our AIM score up to 4! Trick Shot's card text says that it deals 2 damage to Utility, but that's without including our AIM bonus. By adding our +4 AIM bonus, Trick Shot deals 6 damage any Utility! BOOM!
					.col-md-6.text-center
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/spottingtargets.jpg")
							h3.ar-cardheading.de-bg.f-adv.wtxt spotting targets		
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/trickshot.jpg")
							h3.ar-cardheading.de-bg.f-adv.wtxt trickshot
				.row
					.col-md-12
						h3.ar-tutheading.de-bg.f-oku.wtxt.curve.text-center EXAMPLE 2
			.tab-pane#example2gif
				.row
					.col-md-12
						h3.ar-tutheading.de-bg.f-oku.wtxt.curve.text-center EXAMPLE 2 GIF
				.row
					.col-md-12
						img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/deanim2.gif").center-block
				.row
					.col-md-12
						h3.ar-tutheading.de-bg.f-oku.wtxt.curve.text-center EXAMPLE 2 GIF
		.row.ar-row
			.col-md-12
				h1.ar-heading.de-bg.f-oku.wtxt in conclusion...
				p.ar-text Creating big AIM scores to deal huge amounts of damage is DEADEYE's biggest advantage in the game. With the AIM score resetting to 0 every turn, DEADEYE players need to sustain momentum to break through defensive characters. Still struggling to get collect your payment? Look to Deadeye's Utility and Feats to set up sweet AIM combos a few turns ahead of time.

				p.ar-text Still need some help? Check out Deadeye's picks!
		.row.ar-row
			.col-md-12
				h1.ar-tutheading.de-bg.f-oku.wtxt.curve.text-center DEADEYE'S PICKS!
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/duckdown.jpg")						
						h2.ar-5text You can use Duck Down to grab crossovers, powerful defensive options like Decent Cover or a scope to improve your Aim. Don't count this one out.
						h3.ar-5heading.de-bg.f-adv.wtxt.curve duck down	
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/explosiverounds.jpg")				
						h2.ar-5text Even without big AIM bonuses, Explosive Rounds is a versatile card that can handle almost any problem. Don't be afraid to snap this off at a pesky crossover!
						h3.ar-5heading.de-bg.f-adv.wtxt.curve explosive rounds					
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/newclip.jpg")						
						h2.ar-5text Deadeye really struggles with finding extra cards to keep her hand full, so New Clip is great to have on-demand whenever you might need it. Risky if your opponent is too aggressive!
						h3.ar-5heading.de-bg.f-adv.wtxt.curve new clip
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/riotgrrrl.jpg")					
						h2.ar-5text With Deadeye's small utilities and weak late game, you might need something to close the opponent out. For a few cards, Riot Grrrl turns your spent rounds into live ammmunition.
						h3.ar-5heading.de-bg.f-adv.wtxt.curve riot grrrl
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/spoilsofwar.jpg")					
						h2.ar-5text In Deadeye's discard strategy this is a powerful engine for keeping your opponents hand size down. It's also great insurance against another discard character.
						h3.ar-5heading.de-bg.f-adv.wtxt.curve spoils of war
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/thwip.jpg")
						h2.ar-5text Deadeye's sister keeps you safe and sticks around to brawl afterwards. Great at protecting your AIM combo pieces, this card will help you win games.
						h3.ar-5heading.de-bg.f-adv.wtxt.curve thwip!