.container-fluid.text-left.articlebg
	.container.articlecontainerbg
		.row.articlerow
			.col-md-12
				div.articlemasthead
					img.articlebanner(src="../../images/articles/debanner1.png")
					h1.articletitle Deadeye Player's Guide
					h1.articleauthor by @jaehighfive
		.row.articlerow
			.col-md-12
				h1.articleheading who is DEADEYE?
				p.articletext Raised in a warzone, the mercenary known as Deadeye lived day and night with a gun in her hand. As she escaped this world alongside her estranged sister, she kept the gun on her waist. And now, the gun has made her rich, powerful and feared. 

				p.articletext These days, Deadeye is on a permanent contract with Knox's Villain Underground. During this time, DEADEYE has quickly gained a reputation as one of the world's deadliest marksmen. Despite her constant disgust with the team's antics, Deadeye has proved to be a dangerous and loyal ally to the Villain Underground. Underestimate her at your own risk - it takes a cold-blooded killer to stand tall in a world filled with superhumans. 
		.row.articlerow
			.col-md-12
				h1.articleheading how to play DEADEYE
				p.articletext Handguns. Shotguns. Sniper Rifles. Plastique. The no-nonsense mercenary Deadeye is happy is use whatever it takes to get the job done. Deadeye herself has no natural superpowers, but has frequently clashed with both heroes and villains in dangerous shootouts. If you've got the guts to take the safety off, playing as Deadeye offers explosive rewards. That is, if you are willing to pull the trigger.

				p.articletext Deadeye is an aggressive combo deck that can alternate between attacking your opponent's hand and their life total. Her AIM skill allows you to dramatically increase the damage dealt by cards in your deck. When playing as Deadeye, it's not uncommon to play Actions dealing upwards of 8 damage. Don't expect to have access to a lot of defensive options, but why bother? Sometimes it only takes one shot.
	
				p.articletext While playing Deadeye, you'll have to embrace being cutthroat. Deadeye offers a lot of options in terms of player damage and discard strategies, but struggles with surviving into the later turns of the game. Of course, players can include more defensive Crossovers as a way of shoring up this weakness. By regularly and aggressively attacking your opponent, Deadeye shines as one of the centerpiece aggressive characters of the game. Due to her status as an beginner-friendly combo character, Deadeye has been classified as an EASY character. Want to set the pace? Tired of waiting around for slow players? Pick up Deadeye and start firing live rounds.
		.row.articlerow
			.col-md-12
				h1.articleheading what is DEADEYE's skill?
				p.articletext Trained to handle dangerous weapons from a young age, Deadeye has excellent combat reflexes and pinpoint accuracy. As an experienced war veteran, Deadeye is also happy to utilize surveillance devices and explosives to hunt her targets. Deadeye's special skill AIM represents her ability to maximize damage by hitting your opponent right where it counts.

				.row.articleskillrow
					.col-md-12.text-center.articleskillpanel
						img(src="../../images/aim.png")
						h4.articleskilltext Cards in your deck give you Aim points. Whenever your Actions or Feats deal damage, add your Aim to that damage. At the end of each turn, reset your Aim to 0.

				p.articletext So how does Aim work? Your Aim score is a number that begins each turn at 0. By playing cards that increase your Aim score, you can give cards in your deck a temporary damage boost based on your Aim score. This allows you to power-up cards in your deck by waiting until you can take advantage of a big Aim bonus! Let's look at an example.

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlevertcardheading empty clip
						img.articlevertimg.center-block(src='../../images/de/emptyclip.png')
						h4.articleskilltext Empty Clip is an Action card available in Deadeye's deck. Played by itself, it represents your player dealing 4 damage to one of your opponents. 
					.col-md-6.articlecardpanel 
						h3.articlehorzcardheading laser sights
						img.articlehorzimg.center-block(src='../../images/de/lasersights.png')
						h4.articleskilltext Laser Sights is a Utility card also available in Deadeye's deck. Played by itself, it increases your Aim score at the beginning of your turn.			

				p.articletext These two cards work quite well together. Let's walk through it. If your turn begins with a copy of Laser Sights in play, your Aim score will increase from 0 to 1. That means until end of turn, all Actions and Feats you play will get a +1  damage increase. Playing a copy of Empty Clip afterwards allows you to deal 5 damage to your opponent instead of 4. 

				p.articletext Let's look at another example...

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlevertcardheading spotting targets
						img.articlevertimg.center-block(src='../../images/de/spottingtargets.png')
						h4.articleskilltext Spotting Targets is an Action card available in Deadeye's deck. Played by itself, you get to increase your Aim score by 2 and draw a card afterwards. Combined with the bonus received from Laser Sights, our Aim score for this turn is now 3!
					.col-md-6.articlecardpanel
						h3.articlevertcardheading trickshot
						img.articlevertimg.center-block(src='../../images/de/trickshot.png')
						h4.articleskilltext Trick Shot is another Action card found in Deadeye's deck. Played by itself, it increases your Aim score by 1 and then deals 2 damage to any Utility.

				p.articletext First we will start the turn with a copy of Laser Sights in play, raising our Aim score to 1.

				p.articletext Next, let's play Spotting Targets.

				p.articletext Spotting Targets is an Action card available in Deadeye's deck. Played by itself, you get to increase your Aim score by 2 and draw a card afterwards. Combined with the bonus received from Laser Sights, our Aim score for this turn is now 3!

				p.articletext Finally, here's Trick Shot.

				p.articletext i Played after Laser Sights and Spotting Targets, our Aim score raises to 4. That means that instead of dealing the 2 damage printed on the card, Trick Shot now allows you to deal 6 damage any Utility. That's a huge bonus!

				p.articletext Creating big Aim scores to deal huge amounts of damage is her biggest advantage in the game. With the Aim score reseting to 0 every turn, you'll need to find a way to sustain momentum. Still struggling to get big AIM scores? Look to Deadeye's Utility and Feats to set up sweet headshots a few turns ahead of time.
		.row.articlerow
			.col-md-12
				h1.articleheading 5 to watch out for...
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivevertimg.center-block(src='../../images/de/explosiverounds.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading explosive rounds
						h4.articlefivetext Spotting Targets is an Action card available in Deadeye's deck. Played by itself, you get to increase your Aim score by 2 and draw a card afterwards. Combined with the bonus received from Laser Sights, our Aim score for this turn is now 3!
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src='../../images/de/newclip.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading new clip
						h4.articlefivetext Deadeye really struggles with finding extra cards to keep her hand full, so New Clip is great to have on-demand whenever you might need it. This may come at a risk if your opponent is too aggressive! 
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src='../../images/cross/thwip.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading thwip!
						h4.articlefivetext Deadeye's sister Thwip! deals with any problem for one turn and sticks around to brawl afterwards. With her decent armor and ability to protect your Aim combo pieces, this card will help you win games.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivevertimg.center-block(src='../../images/de/explosiverounds.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading duck down
						h4.articlefivetext You can use Duck Down to grab crossovers, powerful defensive options like Decent Cover or a scope to improve your Aim. Don't count this one out.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src='../../images/de/spoilsofwar.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading spoils of war
						h4.articlefivetext You might need a bit of incentive to include this in your deck, but in Deadeye's discard strategy this is a powerful engine for keeping your opponents hand size down. It's also great insurance against another discard player.