.container-fluid.ggbackground
	.container.articlecontainer
		.ggjumbotron
			img.ggjumboimage.img-responsive(src="../../images/articles/ggjumbo.png")
			h1.ggjumbobanner.text-right WHO IS...
					span.ggfavfivecardtitle GRAVITY GIRL?
			h3.ggjumbobanner.text-right BY J MUNFORD &nbsp;
					span @JAEHIGHFIVE
		.row
			.col-md-12.characterbiography
				
				CHARACTER ORIGIN
				h3 As she sat beneath the stars years ago, Dr. XXXXX XXXXXX peered into her telescope to see a star-streaked comet fall to earth. She felt her eyes and hands drawn to its warm purple glow. As she touched it, she could feel herself overcome with incredible cosmic power. 

				Imbued with the ability to manipulate gravity, space and time, Dr. XXXXXX became GRAVITY GIRL!  As a founding member of her local superhero team The Amberville Heroes, Gravity Girl has used her superstrength and knowledge of astrophysics to save the lives of countless Amberville citizens. With Gravity Girl's in-depth knowledge of high level mathematics and her incredible cosmic powers, crime doesn't stand a chance.ds 4es  				
				
		.row
			.col-md-12.ggbanner
				img.img-responsive.articlebanner(src="../../images/articles/ggbanner2.png")
				h1.text-right HOW DOES SHE FIGHT?
			.col-md-12.charactermechanics

				GENERAL OVERVIEW
				general description of role (combo, standard, control, etc) - standard
				tie into flavor - average superhero
				difficulty - easy
				who should play her - beginners, deck builders, unsure meta

				STRONGEST PLUS
				Versatility

				STRONGEST MINUS
				Hand		
		.row
			.col-md-12.ggbanner
				img.img-responsive.articlebanner(src="../../images/articles/ggbanner3.png")
				h1.text-right WHAT ARE HER POWERS?
			.col-md-12.characterskill

				Full power sheet - superstrength, gravity manipulation, time manipulation, teleportation portals
				
				Mechanic - Throw - full text + how to read it. 

				Why use it? Destruction triggers, throw cards are much stronger than other cards in your deck, let's you mix-and-match

				Examples - Javeline Throw, Javelin Throw + Picnic Table
		.row
			.col-md-12.ggbanner
				img.img-responsive.articlebanner(src="../../images/articles/ggbanner3.png")
				h1.text-right CARDS TO LOOK OUT FOR!	
		br
		.row.ggfavfive
			.col-md-5.ggimagecontainer
				img.img-responsive.favfiveimage(src='../../images/shrapnelstorm.png')
			.col-md-7.text-center.favfivetext.ggtextcontainer
				h1.ggfavfivecardtitle Shrapnel Storm
				h3.favfivecarddesc This action doesn't throw anything or draw you any cards, but can create some of the most explosive turns in the game. Try combining this with Gravity Well and some Throw cards to rack up huge damage!		
		br
		.row.ggfavfive
			.col-md-5.text-center.favfivetext.ggtextcontainer
				h1.ggfavfivecardtitle Dunk
				h3.favfivecarddesc Although Gravity Girl's deck provides you plenty of versatility, sometimes you need to close the door on your opponent entirely. This Feat destroys every single Utility and Crossover in the game at the low cost of one of your own.
			.col-md-7.ggimagecontainer
				img.img-responsive.favfiveimage(src='../../images/dunk.png')
		br
		.row.ggfavfive
			.col-md-7.ggimagecontainer
				img.img-responsive.favfiveimage(src='../../images/darkblades.png')
			.col-md-5.text-center.favfivetext.ggtextcontainer
				h1.ggfavfivecardtitle Dark Blades
				h3.favfivecarddesc Gravity Girl will throw anything around, but there's no better partner for her than Dark Blades. His decent Fight score combined with the ability to blow up a Utility when thrown makes him an excellent choice for Gravity Girl's Crossover lineup.				
		br
		.row.ggfavfive
			.col-md-7.text-center.favfivetext.ggtextcontainer
				h1.ggfavfivecardtitle Dreams Of Space
				h3.favfivecarddesc Although cards like Maple Tree and Pile Of Rubble help, Gravity Girl has a hard time keeping her hand full during the game. Almost every Gravity Girl build can use Dreams Of Space - especially against discard-heavy characters like Robonobo & Deadeye.		
			.col-md-5.ggimagecontainer
				img.img-responsive.favfiveimage(src='../../images/dreamsofspace.png')
		br
		.row.ggfavfive
			.col-md-7.ggimagecontainer
				img.img-responsive.favfiveimage(src='../../images/mapletree.png')
			.col-md-5.text-center.favfivetext.ggtextcontainer
				h1.ggfavfivecardtitle Maple Tree
				h3.favfivecarddesc Looking to rack up early damage and keep the cards flowing? Maple Tree replaces itself in your hand and is a great way to set up big Throw combos.	
