.container-fluid
	.container
		.objumbotron
			img.objumboimage.img-responsive(src="../../images/articles/objumbo.png")
			h1.objumbobanner.text-right AN INTRODUCTION TO...
					span.obfavfivecardtitle OBSCURITY
			h3.objumbobanner.text-right BY J MUNFORD &nbsp;
					span @JAEHIGHFIVE
		.row
			.col-md-12.characterbiography
				CHARACTER ORIGIN
				h3 After an embarassing college life and shaky start on the police force, Det. Ainsley knew today that was the day where she was going to make a difference! After all, she did catch that bank robber - even if she did fall down a manhole during the press conference. She knew that tonight would be different! Unfortunately, it wasn't. She would later fall through a glass window while chasing a small dog.

		.row
				Despite her crummy luck, Ainsley is a superhero detective working for the Amberville Police. Known as Obscurity due to her metahuman ability to become invisible, Ainsley is also a founding member of the Amberville Heroes. With her dedication to her teammates and unshakeable courage, Obscurity has fought through the odds and bureaocorcy to become a powerful force of good within her home of Amberville. With her detective's intuition, trenchcoat filled with cool gadgets and hydraulic robot legs, Obscurity has the tenacity and courage to stand up to any threat.
		.row
			.col-md-12.obbanner
				img.img-responsive.articlebanner(src="../../images/articles/obbanner1.png")
				h1.text-right HOW DOES SHE FIGHT?
			.col-md-12.charactermechanics
				GENERAL OVERVIEW
				general description of role (combo, standard, control, etc) - control
				tie into flavor - hiding and sneaking
				difficulty - int
				who should play her - defensive, combo, pillow fort

				STRONGEST PLUS
				Endurance

				STRONGEST MINUS
				Damage		
		.row
			.col-md-12.obbanner
				img.img-responsive.articlebanner(src="../../images/articles/obbanner1.png")
				h1.text-right WHAT ARE HER POWERS?
			.col-md-12.characterskill
				Full power sheet - Invisibility, A Detective's Intuition, Hydraulic Robot Legs, High-Tech Gadgets
				
				Mechanic - Vanish & Gadgets - full text + how to read it. 

				Why use it? Hide Valuable Utilities, Use It Multiple Times Per Turn, Distract Your Opponent

				Examples - Static Grenade,  High Anxiety -> Vibro-Knuckle Dusters
		.row
			.col-md-12.obbanner
				img.img-responsive.articlebanner(src="../../images/articles/obbanner1.png")
				h1.text-right WHAT ARE HER POWERS?	
		br
		.row.obfavfive
			.col-md-5.obimagecontainer
				img.img-responsive.favfiveimage(src='../../images/shrapnelstorm.png')
			.col-md-7.text-center.favfivetext.obtextcontainer
				h1.obfavfivecardtitle Drop From The Ceiling
				h3.favfivecarddesc Versatile, Utility Destruction, Two Vanish triggers	
		br
		.row.obfavfive
			.col-md-5.text-center.favfivetext.obtextcontainer
				h1.obfavfivecardtitle Calm Down
				h3.favfivecarddesc Refill your hand quickly, deny your opponent a turn, use after playing your cards for the turn
			.col-md-7.obimagecontainer
				img.img-responsive.favfiveimage(src='../../images/dunk.png')
		br
		.row.obfavfive
			.col-md-7.obimagecontainer
				img.img-responsive.favfiveimage(src='../../images/darkblades.png')
			.col-md-5.text-center.favfivetext.obtextcontainer
				h1.obfavfivecardtitle Rubber Maiden
				h3.favfivecarddesc Throws around a lot of damage if left unchecked, use it to destroy utilities, helps with OB's damage problem			
		br
		.row.obfavfive
			.col-md-7.text-center.favfivetext.obtextcontainer
				h1.obfavfivecardtitle Pastel Pistol
				h3.favfivecarddesc huge combo piece, main source of damage, vanish it by the EOT	
			.col-md-5.ggimagecontainer
				img.img-responsive.favfiveimage(src='../../images/dreamsofspace.png')
		br
		.row.obfavfive
			.col-md-7.obimagecontainer
				img.img-responsive.favfiveimage(src='../../images/mapletree.png')
			.col-md-5.text-center.favfivetext.obtextcontainer
				h1.obfavfivecardtitle Casing The Scene
				h3.favfivecarddesc Refill your hand or just keep the momentum going, offset the 6 with healing, great against discard
