.container-fluid.text-left.articlebg
	.container.articlecontainerbg
		.row.articlerow
			.col-md-12
				div.articlemasthead.kx-backgroundcolor
					img.articlebanner(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/kxsplash.jpg")
					h1.articletitle Knox Player's Guide
					h1.articleauthor by @jaehighfive
		.row.articlerow
			.col-md-12
				h1.articleheading.kx-backgroundcolor who is KNOX?
				p.articletext Knox watched his father gasp for air in his last breaths. The seething boy genius was visibly disturbed by what lay before him but did not move, anxiously tapping his fingers on the wall. As his father's eyes closed, the child peered down onto his father's limp body and spat in his face. In the husk of his hollow family lineage, KNOX discovered a terrible purpose - the boy genius must become the boy warlord! 

				p.articletext Inheriting his father's empire of organized crime, KNOX has used his vast fortune and arsenal of weapons to live out his greedy dreams. KNOX's team of henchmen and hired help have become infamously known as the Villain Underground after a number of violent criminal incidents. Even alone, KNOX should not be underestimated. His high-tech powersuit contains a number of deadly implements while his obsessive drive for power has led many heroes and villains to an early grave.
		.row.articlerow
			.col-md-12
				h1.articleheading.kx-backgroundcolor how to play KNOX
				p.articletext Behold The Boy Warlord KNOX! Despite his pompous speeches and aversion to combat, this teenaged crime boss is at the top of every government agency's most wanted list for murder, extortion, fraud and more. Wearing a mech suit stolen from a fallen superhero's grave, Knox concocts grand schemes inside his remote mansion surrounded with hired criminals and feral dogs. Although KNOX's schemes never go as planned, his Villain Underground superteam has developed a dangerous reputation. When playing KNOX, give in to your greed. Draw as many cards as you can. Kill off your lackeys. Look out for number one.

				p.articletext KNOX is an aggressive rushdown character who tramples over slow control and combo players. KNOX's MINION skill allows him to avoid big chunks of player damage without being forced to commit to armor or healing. As this skill is limited to Utilities, many of your aggressive cards can also be cashed-in to avoid damage. KNOX also loves to draw as many cards as possible in order to find aggressive threats and speed up the game.
	
				p.articletext Playing KNOX means being comfortable with burning through your deck at a rapid pace and keeping the pressure up at any costs. This all-out play style means that the design team has classified Knox as an INTERMEDIATE character. Newer players may not immediately be comfortable with this approach due to Knox's fragility, but experienced KNOX players can be the scariest opponents to see across the table. If you want to be aggressive and back defensive players into a corner, consider hiring the boy warlord and his Villain Underground!
		.row.articlerow
			.col-md-12
				h1.articleheading.kx-backgroundcolor what is KNOX's skill?
				p.articletext Although KNOX keeps a number of metahumans on the payroll, he has no superpowers himself. A vengeful coward, Knox hides inside an armored powersuit and behind a small army of brainless goons. Don't mistake this cowardace for kindness - KNOX has leveraged his wealth and power to steal relics from the gods and execute superheroes in the streets. KNOX's MINION ability allows players to hide behind their henchmen while crafting horrible plots to strike at your enemy's heart! 

				.row.articleskillrow
					.col-md-12.text-center.articleskillpanel
						img(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/minion.jpg")
						h4.articleskilltext Some Utilities in your deck are MINIONS. Whenever you would take damage, you may destroy one of your MINIONS instead.

				p.articletext So how does MINION work? Some Utilities in your deck have the MINION skill. When a Utility with MINION is in play, you may destroy that card to prevent one instance of damage dealt to you directly. By playing Utilities with MINION, Knox can avoid big chunks of damage without relying on other methods stay in the game. You can even get rid of multiple MINIONS in one turn if you find yourself under attack! 

				p.articletext Let's look at an example... 

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlehorzcardheading.kx-backgroundcolor moronic gangster
						img.articlehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/moronicgangster.jpg")
						h4.articleskilltext Moronic Gangster is a Utilty card available in Knox's deck. Played by itself, it has no card text other than MINION. Anytime you would take damage, you may destroy this card instead.
					.col-md-6.articlecardpanel 
						h3.articlehorzcardheading.kx-backgroundcolor cannon fodder
						img.articlehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/cannonfodder.jpg")
						h4.articleskilltext Cannon Fodder is a Utility card available in Knox's deck. Played by itself, it has no card text other than MINION. Anytime you would take damage, you may destroy this card instead.			

				p.articletext These two work quite well together. Let's check it out...

				img(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/kxanim1.gif").center-block

				p.articletext Cannon Fodder and Moronic Gangster are two Utilities from KNOX's deck with the MINION skill. That means whenever you have one of these cards in play, you can destroy them to block damage dealt to you directly. Since MINIONS only prevent individual instances of damage, it's a good idea to have multiple MINIONS in play to keep yourself safe.

				p.articletext Let's look at another example...

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlevertcardheading.kx-backgroundcolor collateral damage
						img.articlevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/collateraldamage.jpg")
						h4.articleskilltext Collateral Damage is an Action card available in Knox's deck. Played by itself, it deals 4 damage to each player.
					.col-md-6.articlecardpanel
						h3.articlehorzcardheading.kx-backgroundcolor cut-rate mercenary
						img.articlehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/cutratemercenary.jpg")
						h4.articleskilltext Cut-Rate Mercenary is a Utility card also available in Knox's deck. Played by itself, it draws you a card and also has the MINION skill. Anytime you would take damage, you may destroy this card instead.			

				p.articletext These two cards work quite well together. Let's walk through it. 

				img(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/kxanim2.gif").center-block

				p.articletext Playing Cut-Rate Mercenary first allows you to draw a card. Afterwards, it continues to sit in play waiting for you to use its MINION skill. Playing Collatoral Damage by itself would deal 4 damage to your opponents and yourself, but since you have a Cut-Rate Mercenary in play you could avoid taking that damage. By choosing to destroy your Cut-Rate Mercenary in reaction to taking damage, Collateral Damage deals 4 damage to your opponents and leaves you unscathed!

				p.articletext Playing Knox will require you to choose which of your MINIONS live and die. Many of Knox's Utilities are very aggressive and Knox can offer lots of support to those MINIONS via his Actions and Feats. Want to help KNOX take over the world? Focus on keeping three Utilities in play at all times in order to keep the pressure up. Draw as many cards as it takes to make secure your ultimate victory!
		.row.articlerow
			.col-md-12
				h1.articleheading 5 to watch out for...
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/angrylunge.jpg")				
					.col-md-6.articlefivepanel
						h3.articlefiveheading.kx-backgroundcolor angry lunge
						h4.articlefivetext In this game, 4 is a big number. Angry Lunge represents a huge threat and its ability to target anything makes it incredibly versatile. Plus, you can always ditch a Minion to get away scott-free.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/cruelplot.jpg")			
					.col-md-6.articlefivepanel
						h3.articlefiveheading.kx-backgroundcolor cruel plot
						h4.articlefivetext Sometimes you need to sit back and wait for an opening, but Cruel Plot rewards you for biding your time. This can represent upwards of 9 damage so hit when it counts!
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/massacre.jpg")			
					.col-md-6.articlefivepanel
						h3.articlefiveheading.kx-backgroundcolor massacre
						h4.articlefivetext Massacre loves to fight and his ability to break board stalls can clear the way for an aggressive play. Since almost nothing in your deck will be destroyed during Massacre's rampage, try to get one or more your opponent's Utilties!
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/shattertobits.jpg")				
					.col-md-6.articlefivepanel
						h3.articlefiveheading.kx-backgroundcolor shatter to bits
						h4.articlefivetext KNOX is greedy enough to play any cards that let you keep drawing from your deck, but this one has the pleasant side-effect of destroying hard-to-kill defensive players. 
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/donaldsonthebutler.jpg")			
					.col-md-6.articlefivepanel
						h3.articlefiveheading.kx-backgroundcolor donaldson, the butler
						h4.articlefivetext Donaldson does a little bit of everything! He helps the hand-size deck sit back and stay greedy, uses armor to keep aggressive decks in the game and as a Minion, can step in front of a critical hit when needed. How thoughtful!