.container-fluid.text-left.articlebg
	.container.articlecontainerbg
		.row.articlerow
			.col-md-12
				div.articlemasthead
					img.articlebanner(src="../../images/articles/qubanner1.png")
					h1.articletitle Query Player's Guide
					h1.articleauthor by @jaehighfive
		.row.articlerow
			.col-md-12
				h1.articleheading who is QUERY?
				p.articletext The blank-faced spy woke screaming inside the identity eraser machine. They remembered nothing except how to escape the facility unseen. Finding pieces of their past life to be mysterious and conspiratorial, this spy created a new purpose for themselves. They would comb the world for dangerous secrets to be exposed. In process. they've made quite a few enemies...  

				p.articletext A collector of secrets, Query has spied on superheroes and supervillains alike. With their ability to change faces, genders and personalities, Query could be anywhere in your life collecting intricate details to be shared with the world. Since the joining the Amberville Heroes, Query has taken on the role of an altrustic superhero and trusted ally. What changed? Why did they join the team in the first place? Who knows?

		.row.articlerow
			.col-md-12
				h1.articleheading how to play DEADEYE
				p.articletext As a spy, Query has dedicated their life to playing voyeur: bugging telephones, hacking video feeds and impersonating the powerful. As a hero, not much has changed. Despite their grey sense of morality, Query has proved to be a scrappy and loyal ally in the fight against crime in Amberville. If you want to play as Query, prepare to watch, wait, demean, confuse and steal from your opponent. Why start a war if you can win without throwing a punch? 

				p.articletext Query is a aggressive disruption deck that eats defensive and combo decks alive. Their SPY skill helps to keep the flow of cards to your hand strong while keeping your opponents away from the best cards in their deck. Of course, Query can also use this ability to set up heists - stealing the best cards from the top of your opponent's deck and playing them for free.
	
				p.articletext Playing Query requires an incredible amount of patience. As one of the most fragile characters in the game, you'll be forced to constantly watch your back and prepare for the worst. Due to Query's limited defensive options, they have been classified as an INTERMEDIATE character - meaning that it may take a few games to figure out how to play Query well. If you are up to the challenge, Query's deck offers lots of control options while driving your opponents up the wall.

		.row.articlerow
			.col-md-12
				h1.articleheading what is DEADEYE's skill?
				p.articletext Does Query have superpowers? It's hard to tell. What's known for sure is that Query has an obsessive focus on surveillance - watching and recording their allies and opponents at all times. Through the use of stolen military technology and expert disguise techniques, Query is also capable of breaching secure facilities and stealing valuable secrets. Attacking their opponent's personal relationships, bank accounts and identities, both heroes and villains are hesitant to pick a fight with the faceless agent. It's a dangerous life and Query's SPY skill helps to keep players one step ahead of their opponent.

				.row.articleskillrow
					.col-md-12.text-center.articleskillpanel
						img(src="../../images/spy.png")
						h4.articleskilltext Choose target player. Look at the top 3 cards of their deck then return them in any order.

				p.articletext So how does SPY work? Whenever you SPY, you must choose a player to spy on and then look at the top 3 cards of their deck. You can even SPY on yourself to see what you will be drawing! After you are finished looking at the 3 cards, return them to the top of that player's deck in any order you choose. By rearranging your opponent's deck, you can prevent them from drawing useful cards or deal damage afterwards to destroy the top-most cards! Let's look at a few examples.

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlevertcardheading gathering intelligence
						img.articlevertimg.center-block(src='../../images/qu/gatheringintelligence.png')
						h4.articleskilltext Gathering Intelligence is an Action card available in the Query deck. Played by itself, you first choose a players to Spy on and draw a card afterwards.
					.col-md-6.articlecardpanel 
						h3.articlehorzcardheading laser sights
						img.articlehorzimg.center-block(src='../../images/de/lasersights.png')
						h4.articleskilltext Laser Sights is a Utility card also available in Deadeye's deck. Played by itself, it increases your Aim score at the beginning of your turn.			

				p.articletext Gathering Intelligence is a great example of why SPY is a versatile way to stay ahead of your opponent. If you choose to SPY on your opponent, you could keep them off of their big combo or get rid of a pesky Crossover. Drawing the card afterwards is just a bonus. If you choose to Spy on yourself, you get to look at 3 cards from the top of your deck and choose which one to draw. Let's look at another example.

				p.articletext Let's look at another example...

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlehorzcardheading spotting targets
						img.articlehorzimg.center-block(src='../../images/qu/lightningbug.png')
						h4.articleskilltext Lightning Bug is a Utility card available in the Query deck. When played by itself, it does nothing until you attack with it. However if Lightning Bug does attack a player and deal damage, you will be able to Spy on that player. Keep in mind that damage blocked with armor doesn't count!
					.col-md-6.articlecardpanel
						h3.articlevertcardheading seizing assets
						img.articlevertimg.center-block(src='../../images/qu/seizingassets.png')
						h4.articleskilltext Seizing Assets is an Action card available in the Query deck. Played by itself, it lets you look at the top card of any one opponent's deck and determine if you want to play it or destroy it.

				p.articletext These two cards work well together. Let's walk through it. Seizing Assets allows you to steal the top card of your opponent's deck. This is a powerful ability, but also quite high-risk. There's no guarantee that what you steal will actually be useful.

				p.articletext That's where Lightning Bug comes in. Since Lightning Bug lets you look at the top 3 cards of your opponent's deck and rearrange them, you'll be three times more likely to steal the card you need. Making the most of your steals is important so don't be afraid to wait for the right moment!

				p.articletext Spy has a variety of uses for Query, but most importantly it allows you to stay a turn ahead of your opponent. Query can't shrug off hits very easily, so it's important to see your opponent's strategy  coming and cut them off. Want to win with Query but can't connect the dots? Use Query's beefy arsenal of Utilities to distract your opponents while setting up big game-winning heists. Stealing high-price targets like Deadeye's Aim cards, Robonobo's Evolve cards or powerful Crossovers can close the door on games in an instant.
		.row.articlerow
			.col-md-12
				h1.articleheading 5 to watch out for...
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src='../../images/qu/paranoiddelusions.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading paranoid delusions
						h4.articlefivetext Paranoid Delusions puts your opponent in an awkward position - give away their best Utility or allow you to eat away the cards in their hand. Keep this fed and watch it take over a game.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src='../../images/qu/whoami.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading who am i?
						h4.articlefivetext The obvious play here is to Spy on yourself in order to know what you will be revealing, but sometimes you just need to refill your hand. In any case, flip this and watch your opponents squirm.

				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src='../../images/cross/drdoodad.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading dr. doodad
						h4.articlefivetext If Dr. Doodad manages to even get one hit on your opponent, she's worth the effort. By using Spy to keep opponents off of their removal, you'll be able to buy yourself even more time on the operating table.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivevertimg.center-block(src='../../images/qu/savatekick.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading savate kick
						h4.articlefivetext Does it get any better than this? You may not have room for it in your ultra-defensive deck, but it will get rid of most Utilities and is always capable of finishing off a vulnerable opponent.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src='../../images/qu/musicbox.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading music box
						h4.articlefivetext Query is fragile. Very fragile. Music Box seems innocuous, but provides much-needed armor and an incredible rate of healing from turn-to-turn. Nothing in your deck is better at buying the time you need to steal a victory.