.container-fluid
	.container
		.rbjumbotron
			img.rbjumboimage.img-responsive(src="../../images/articles/rbjumbo.png")
			h1.rbjumbobanner.text-right AN INTRODUCTION TO...
					span.rbfavfivecardtitle ROBONOBO
			h3.rbjumbobanner.text-right BY J MUNFORD &nbsp;
					span @JAEHIGHFIVE
		.row
			.col-md-12.characterbiography
				CHARACTER ORIGIN
				h3 Robonobo had become disillusioned with his short, painful life. After he was forcably digitized by the evil cosmetics company ShelterGirl, this innocent bonobo became a weaponized robot ape for hire. His life was violent. Until he was introduced to his father, a young boy named Knox. Knox took Robonobo home to become his faithful son. Despite years of Knox's father love, Robo couldn't quite shake the feeling that something was very wrong. 

				Strapped up with rockets, machine guns, bombs and battle armor, cybernetic ape Robonobo is a founding member of Knox's Villain Underground criminal organization. Childish and aloof, Robonobo was far more likely to play video games or eat cereal than rob a bank. Over time, Robo's personality began to change. He began to fight with Knox and became intense and militant. Robo's getting smarter. And Robo likes to play.
		.row
			.col-md-12.rbbanner
				img.img-responsive.articlebanner(src="../../images/articles/rbbanner2.png")
				h1.text-right HOW DOES SHE FIGHT?
			.col-md-12.charactermechanics
				GENERAL OVERVIEW
				general description of role (combo, standard, control, etc) - standard
				tie into flavor - machine repitition
				difficulty - easy
				who should play her - beginners, aggro, unsure meta

				STRONGEST PLUS
				Repitition

				STRONGEST MINUS
				Explosiveness		
		.row
			.col-md-12.rbbanner
				img.img-responsive.articlebanner(src="../../images/articles/rbbanner3.png")
				h1.text-right WHAT ARE HER POWERS?
			.col-md-12.characterskill
				Full power sheet - Advanced AI Brain, Weaponized Body, Armor Plating, Expert Prankster
				
				Mechanic - Evolve - full text + how to read it. 
				Why use it? Use your feats every turn, do the same thing consistently turn to turn, adapt to matchups without changing much of your plan

				Examples - Darwin Matrix, Logic Chain -> Rocket Punch -> Wrist Weapon
		.row
			.col-md-12.rbbanner
				img.img-responsive.articlebanner(src="../../images/articles/rbbanner3.png")
				h1.text-right WHAT ARE HER POWERS?	
		br
		.row.rbfavfive
			.col-md-5.rbimagecontainer
				img.img-responsive.favfiveimage(src='../../images/shrapnelstorm.png')
			.col-md-7.text-center.favfivetext.rbtextcontainer
				h1.rbfavfivecardtitle Charge Cable
				h3.favfivecarddesc Instant evolve trigger, brawler stats, great early play
		br
		.row.rbfavfive
			.col-md-5.text-center.favfivetext.rbtextcontainer
				h1.rbfavfivecardtitle Rocket Punch
				h3.favfivecarddesc Play with evolve, 2-3 triggers make this pay off, SB if you see armor
			.col-md-7.rbimagecontainer
				img.img-responsive.favfiveimage(src='../../images/dunk.png')
		br
		.row.rbfavfive
			.col-md-7.rbimagecontainer
				img.img-responsive.favfiveimage(src='../../images/darkblades.png')
			.col-md-5.text-center.favfivetext.rbtextcontainer
				h1.rbfavfivecardtitle Ape Omega
				h3.favfivecarddesc Protect yourself with armor, scary turn-1 play, Play sequence: play this first				
		br
		.row.rbfavfive
			.col-md-7.text-center.favfivetext.rbtextcontainer
				h1.rbfavfivecardtitle Skull Plating
				h3.favfivecarddesc Efficiency, combo piece, distracting	
			.col-md-5.rbimagecontainer
				img.img-responsive.favfiveimage(src='../../images/dreamsofspace.png')
		br
		.row.ggfavfive
			.col-md-7.rbimagecontainer
				img.img-responsive.favfiveimage(src='../../images/mapletree.png')
			.col-md-5.text-center.favfivetext.rbtextcontainer
				h1.rbfavfivecardtitle Monkey's Paw
				h3.favfivecarddesc short on utility removal, use all your feats, not great in an evolve build
