.container-fluid.text-left.articlebg
	.container.articlecontainerbg
		.row.articlerow
			.col-md-12
				div.articlemasthead
					img.articlebanner(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/rbbanner1.jpg")
					h1.articletitle Robonobo Player's Guide
					h1.articleauthor by @jaehighfive
		.row.articlerow
			.col-md-12
				h1.articleheading who is ROBONOBO?
				p.articletext The android ape dreamed of running outside of his cage. After being forcably digitized by an amoral cosmetics company, an innocent bonobo became ROBONOBO - weaponized robot ape for hire. He was scared. His life was so violent. Until the day he was introduced to the crime lord KNOX. KNOX opened the door of ROBONOBO's cage and him home to become his faithful son. It was a good life for a young chimp but Robo still couldn't quite shake the feeling that something was very wrong.

				p.articletext Strapped up with rockets, machine guns, bombs and battle armor, cybernetic ape ROBONOBO is a founding member of KNOX's criminal organization. Childish and aloof, ROBONOBO is far more likely to play video games or eat cereal than rob a bank. Somewhere along the line, Robo's personality began to change. As his intelligence began to increase, ROBO became withdrawn and militant. Torn between his loyalty to KNOX and his own traumatic memories, ROBONOBO's inner turmoil is surfacing in an unpredicatable and violent way.
		.row.articlerow
			.col-md-12
				h1.articleheading how to play ROBONOBO
				p.articletext With ROBONOBO's constantly changing body and adapting brain, this cybernetic chimp is a fierce opponent for heroes and villain alike. With his phenominal robot AI, ROBONOBO is constantly refactoring and adjusting his own plans. This type of machine learning means you'll have access to a diverse toolkit capable of squaring off with any opponent.

				p.articletext ROBONOBO is a defensive all-purpose charage that gives players a fair chance against most strategies. ROBONOBO's EVOLVE skill allows player to easily adjust their strategy via refresh their feats. Focused deckbuilders could even get to a point where they are playing a Feat during every turn of the game. 
	
				p.articletext Although ROBONOBO's skill requires players to monitor their Feats more often than other characters, he is still a great choice for a beginning player. As an EASY character, players will find that Robonobo offers powerful utilities and lots of synergy. ROBO may lack the explosive damage or combo potential that other characters possess, but makes up for that by being the most consistent character in the game.
		.row.articlerow
			.col-md-12
				h1.articleheading what is ROBONOBO's skill?
				p.articletext Born from a horrific animal experimentation program, ROBONOBO is a disgruntled robot monkey with a weaponized body. From his fists to his skull to his feet, ROBO is chock-full of deadly precision weapons and experimental armor polymers. Despite all this firepower, Robonobo's most dangerous tool is his ever-evolving artificial intelligence. Robonobo is quite advanced for a juvenile and as his brain begins to develop, other members of the Villain Underground are getting nervous. ROBONOBO's EVOLVE skill represents the steel simian's brain constantly refactoring to become more dangerous.

				.row.articleskillrow
					.col-md-12.text-center.articleskillpanel
						img(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/evolve.jpg")
						h4.articleskilltext To Evolve, turn one of your face-down Feats face-up.

				p.articletext So how does Evolve work? Just like every character, Robonobo chooses 3 Feats at the beginning of the game. These Feats provide powerful effects, but are single use per game only. After using a Feat, it is turned face-down. Evolve allows you to reset your Feat cards as long as you've already used it this game. This means that Robo is capable of using the same Feat over and over throughout the course of the game!

				p.articletext Let's look at an example... 

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlevertcardheading logic chain
						img.articlevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/logicchain.jpg")
						h4.articleskilltext Logic Chain is an Action card avaiable in Robonobo's deck. Played by itself, it allows you to Evolve one of your Feats and then deal 2 damage to a single opponent.
					.col-md-6.articlecardpanel 
						h3.articlehorzcardheading darwin matrix
						img.articlehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/darwinmatrix.jpg")
						h4.articleskilltext Darwin Matrix is a Utility card avaiable in Robonobo's deck. At the end of each turn, you may Evolve one of your Feats.		

				p.articletext Logic Chain and Darwin Matrix are two of the EVOLVE cards available in the ROBONOBO deck. Both Actions and Utilities can offer you EVOLVE triggers during the course of the game.

				p.articletext Logic Chain offers both an immediate EVOLVE trigger and 2 damage to your opponent. Based on ROBONOBO's feats, that could mean drawing a card or forcing your opponent to discard a card or hitting them in the face for two. 

				p.articletext Unlike Logic Chain, Darwin Matrix doesn't EVOLVE until the end of your turn. That means you'll have to wait until your next turn to use that Feat. That means you can't use this to EVOLVE immediately. On the other hand, Darwin Matrix stays in play from turn-to-turn and will let you EVOLVE forever if left unchecked. 
 
				p.articletext Let's look at another example...

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel 
						h3.articlehorzcardheading jailbreak
						img.articlehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/jailbreak.jpg")
						h4.articleskilltext Jailbreak is a Feat card available in Robonobo's character pack. Activated by itself, it lets you draw a card.	
					.col-md-6.articlecardpanel 
						h3.articlehorzcardheading wrist weapon
						img.articlehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/wristweapon.jpg")
						h4.articleskilltext Wrist Weapon is a Utility card available in Robonobo's deck. Played by itself, it sits in play waiting for you to activate one of your Feats. When you do activate one of your Feats, it gains an additional +2 Fight for the rest of that turn.	

				p.articletext These cards play quite well with each other. Let's walk through it. 

				p.articeltext To start, let's say that Robonobo has used all of his Feats during this game and has a copy of Wrist Weapon in play.

				p.articletext Let's play Logic Chain first. This will deal a bit of damage to your opponent, but more importantly it gives us the ability to EVOLVE one of those face-down Feats. Let's EVOLVE our face-down copy of Jailbreak.

				p.articletext After playing Logic Chain, our next step is to activate Jailbreak. Played by itself, simply draws you a card. After using Jailbreak, it gets turned face-down again. Of course, you could always EVOLVE it so that you can use it next turn!

				p.articletext Finally, activating Jailbreak had a nice side-effect. If you activate a Feat while Wrist Weapon is in play, Wrist Weapon will instantly get a boost in its Fight Value. Since Wrist Weapon has 0 Fight by default, using a Feat essentially turns Wrist Weapon on.  

				p.articletext Every card in ROBONOBO's deck is interconnected. Even cards that seem underwhelming are often improved by using your Feats carefully and sticking to a consistent gameplan. Want to master this monkey but not sure how to hack the gibson? ROBO lives and dies by his Feats in close matchups. Be careful when choosing which Feats to EVOLVE and don't be afraid to change it up between games.
		.row.articlerow
			.col-md-12
				h1.articleheading 5 to watch out for...
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/chargecable.jpg")				
					.col-md-6.articlefivepanel
						h3.articlefiveheading charge cable
						h4.articlefivetext An instant opportunity to EVOLVE combined with good brawlin' stats, Charge Cable fits well in both defensive and offensive builds. 
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/rocketpunch.jpg")				
					.col-md-6.articlefivepanel
						h3.articlefiveheading rocket punch
						h4.articlefivetext Looking for a reason to play a deck with lots of EVOLVE cards? Look no further than Rocket Punch. Using this even 3 or 4 times represents a huge chunk of damage. You may need to swap it out if your opponent has a lot of Armor.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/apeomega.jpg")			
					.col-md-6.articlefivepanel
						h3.articlefiveheading ape omega
						h4.articlefivetext If your deck skews aggressive, Ape Omega quickly eats away Armor and catches your opponent's attention. Lots of player damage will speed the game up by a few turns so this requires an answer fast.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/monkeyspaw.jpg")			
					.col-md-6.articlefivepanel
						h3.articlefiveheading monkey's paw
						h4.articlefivetext Do you wish ROBONOBO had efficient ways of destroying Utilities? This does the job even if it isn't always as useful as you might want. In the right deck with fewer EVOLVE cards, Monkey's Paw is a nightmare for your opponent.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/skullplating.jpg")			
					.col-md-6.articlefivepanel
						h3.articlefiveheading skull plating
						h4.articlefivetext Skull Plating's 4 HP and 5 Armor are certainly efficient enough to play by themselves, but Robo's bulky Armor sources are perfect targets for combo cards like Anti-Virus and Grooming. Need a pillow fort? Look no further.