.container-fluid.text-left.ar-bg
	.container.ar-contbg
		.row.ar-row
			.col-md-12
				div.ar-mast.wf-bg
					img.img-responsive.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/wfsplash.jpg")
					h1.ar-title.f-adv.wtxt.wf-bg Wayfarer Player's Guide
					h1.ar-author.f-oku.wtxt.wf-bg by @jaehighfive
		.row.ar-row
			.col-md-12
				h1.ar-heading.wf-bg.f-oku.wtxt who is Wayfarer?
				p.ar-text Wayfarer is a complicated hero in charge of tremendous power. Having been imprisoned for years before being rescued by the Amberville Heroes, Wayfarer has displaced memories and isn't always in full control of his incredible powers. When playing Wayfarer, you'll be spending most of the game trying to keep yourself alive while slowly building an unstoppable font of weird energy.

				p.ar-text Wayfarer is a defensive combo character that can dominate long games when played carefully. Our favorite alien's REVERB skill allows players to swap their deck and their discard pile, a powerful tool for resetting your life total. This incredible ability comes with a tremendous cost - Wayfarer always starts the game at half-strength. Wayfarer players will have to pay careful attention to their life total in order to survive from turn-to-turn.
	
				p.ar-text To play Wayfarer, you'll need to be patient and have excellent timing. Due the high skill curve, new players should definitely avoid Wayfarer until they are more comfortable with the game. Expereienced players that are willing to think outside the box will find Wayfarer to be a powerful and satisfying defensive deck with incredible late-game strength.

				p.ar-text By monitoring his deck size and taking advantage of his unpredictability, a confidant player makes any match against Wayfarer is disorienting and strange. Marked as an HARD character, Wayfarer is a powerful, unique character within HYPERCRISIS. Looking to intimidate your opponent? Like to break the game wherever you can? Play Wayfarer and go full-on galaxy brain.
		.row.ar-row
			.col-md-12
				h1.ar-heading.wf-bg.f-oku.wtxt what is Wayfarer's skill?
				.col-md-6
					p.ar-text With the ability to manipulate the electromagnetic spectrum, Wayfarer is a powerful cosmic entity with control over heat, light and sound. Thrumming with the vibrations of the universe, Wayfarer's REVERB skill represents his ability to master the electromagnetic spectrum. 
					p.ar-text So how does Reverb work? Reverb allows you to swap your discard pile and deck - potentially gaining enormous amounts of life and gaining access to previously-played cards! This ability comes with a built-in cost - you must first trash the top 3 cards of your discard pile. That means the more often you Reverb, the smaller your deck becomes.
					p.ar-text Included below are a couple of examples on how to use this skill!		
				.col-md-6
					.row.ar-skillrow
						.col-md-12.text-center.ar-skillpanel
							img.img-responsive.ar-skillimage.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/reverb.jpg")
							h4.ar-skilltext.f-oku Trash the top 3 cards of your discard pile. Turn your deck and discard pile upside-down, then exchange them.
				
		.row
			.col-md-10.col-md-offset-1
				h3.ar-tutheading.wf-bg.f-oku.wtxt.curve.text-center CLICK ON THESE EXAMPLES FOR DETAILED TUTORIALS!
		.row
			.col-md-10.col-md-offset-1
				.col-md-3
					button.btn.btn-block.wf-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1" data-toggle="tab" data-target="#example1") EXAMPLE 1
				.col-md-3
					button.btn.btn-block.wf-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1gif" data-toggle="tab" data-target="#example1gif") EXAMPLE 1 GIF
				.col-md-3
					button.btn.btn-block.wf-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2" data-toggle="tab" data-target="#example2") EXAMPLE 2
				.col-md-3
					button.btn.btn-block.wf-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2gif" data-toggle="tab" data-target="#example2gif") EXAMPLE 2 GIF
		.tab-content.ar-row
			.tab-pane#example1
				.row.ar-cardrow.text-center
					.col-md-10.col-md-offset-1.text-center
						h3.ar-tutheading.wf-bg.f-oku.wtxt.curve.text-center EXAMPLE 1
						p.ar-text In this example, we're going to use Wayfarer's Tremors card to make use of Courage From Beyond. You can follow along below or check out an animated tutorial by using the button controls!
						br
						col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/a_270,e_auto_contrast,q_54:420,r_25/v1498676135/tremors.jpg")
							h3.ar-cardheading.wf-bg.f-adv.wtxt tremors		
						br
						p.ar-text Tremors is a Feat card available in Wayfarer's deck. Played by itself, Tremors allows you to reverb - swapping your deck and discard pile in the process. Wayfarer begins the game with 12 cards in his deck and it only gets more dangerous from there. Tremors acts like a hall pass - giving you at least one way to reset you life total. Let's get it started - let's choose to active Tremors this turn in order to swap our deck and our discard pile.  
						
						br
						p.ar-text Here comes the hard part. When you Reverb, it's a two-part process. First, you must trash the first three cards of your discard pile. Trashed cards are considered outside of the game - neither in your deck, discard pile or hand. Nine times out of ten, that means you can't expect to see those cards again in this game. 
						br
						p.ar-text After trashing the top three cards of your discard pile, you then exchange your deck and your discard pile. Sometimes it's better to hold off on your Reverb triggers until your life has reached a low total - for instance, using Reverb on turn 1 would leave you with twelve cards in both your deck and your discard pile. 
						br
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/couragefrombeyond.jpg")
							h3.ar-cardheading.wf-bg.f-adv.wtxt courage from beyond
						br
						p.ar-text So if Reverb is purely defensive, how does Wayfarer win against the aggressive earthlings? Courage From Beyond gives us a clue - by trashing large portions of his deck, Wayfarer can boost his incredible alien abilities if left alone. Courage From Beyond grants you a free turn, but Wayfarer has many ways to take advantage of his trashed cards.
			.tab-pane#example1gif
				.col-md-10.col-md-offset-1
					.row
						.col-md-12
							h3.ar-tutheading.wf-bg.f-oku.wtxt.curve.text-center EXAMPLE 1 GIF
					.row
						.col-md-12						
							img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/wfanim2.gif").center-block
			.tab-pane#example2
				.row.ar-cardrow.text-center
					.col-md-10.col-md-offset-1.text-center
						h3.ar-tutheading.wf-bg.f-oku.wtxt.curve.text-center EXAMPLE 2
						p.ar-text Now we can spend some time digging through the trash. Let's walk through it. 
						br
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/deconstruct.jpg")
							h3.ar-cardheading.wf-bg.f-adv.wtxt deconstruct	
						br
						p.ar-text For this example, let's say we've already trashed 9 cards in our deck using Reverb. First, let's play a copy of Deconstruct. Our deck is shrinking as the game has gone on, so it's not safe to Reverb right now. Even though we are on the ropes, we only need to trash one more card to turn on powerful actions like Hypersonic Harmony & Pulse Of The Void. 
						br
						col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/a_270,e_auto_contrast,q_54:420,r_25/v1498676135/lifeisahighway.jpg")
							h3.ar-cardheading.wf-bg.f-adv.wtxt life is a highway
						br
						p.ar-text Life Is A Highway is a powerful late-game Feat that allows us to place up to five cards on top of our deck. In a tight game, that represents a lot of extra health! In this case, we've got a game plan that requires us to keep ten cards inside the trash, so let's only choose three and place them on top of our deck.
						br
						p.ar-text Of course, if you have a powerful reward card like Courage From Beyond stored in the trash this is perfect opportunity to place it back into play! Life Is A Highway instructs us to draw two right after placing those cards on top of our deck, so in managing our trash carefully we have guaranteed that we'll be taking an extra turn after this one!
			.tab-pane#example2gif
				.col-md-10.col-md-offset-1
					.row
						.col-md-12
							h3.ar-tutheading.wf-bg.f-oku.wtxt.curve.text-center EXAMPLE 2 GIF
					.row
						.col-md-12
							img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/wfanim2.gif").center-block
		.row.ar-row
			br
			.col-md-12
				h1.ar-heading.wf-bg.f-oku.wtxt in conclusion...
				p.ar-text Managing your deck, discard pile, hand and trash all at the same time makes playing Wayfarer intimidating. Learning how to get the most out of your Reverbs and reward cards is not an easy skill and changes wildly depending on your opponent! Surviving into the late game grants careful players with powerful game-ending abilities, so don't be afraid to play it safe. Feeling lost in the vastness of space? Using reverb lets you replay cards that were sitting in our discard pile, so make sure you are trashing stuff you don't want to draw! Given enough time, a clever Wayfarer will win a late-game standoff with any competitor.

				p.ar-text Still need some help? Check out Wayfarer's picks!
		.row.ar-row
			.col-md-12
				h1.ar-tutheading.wf-bg.f-oku.wtxt.curve.text-center QUICK PICKS!
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/goodvibrations.jpg")
						h2.ar-5text Wayfarer doesn't have a ton of ways to take up difficult Utilities, but Good Vibrations is among the best removal in the game. Combine this with your own high-HP Utilities for a one-sided board wipe.
						h3.ar-5heading.wf-bg.f-adv.wtxt.curve good vibrations
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/ultrasonicquake.jpg")
						h2.ar-5text All of the trash reward cards are strong but nothing closes out a game like Ultrasonic Quake. Sit patiently, wait for your opponent to run themselves out and then finish them off with a big bang!
						h3.ar-5heading.wf-bg.f-adv.wtxt.curve ultrasonic quake				
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/heatshadow.jpg")
						h2.ar-5text Of course, Wayfarer can go on the offensive if need be. Heat Shadow allows you to keep the pressure up by snagging high damage targets like Crackling Air, Displaced Memory or even a Crossover! 
						h3.ar-5heading.wf-bg.f-adv.wtxt.curve heat shadow
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/ironjustice.jpg")					
						h2.ar-5text The erstwhile protector of Steel City can help all sorts of players out of tight situations, but Wayfarer's old friend Iron Justice is great for keeping you safe from early pressure.
						h3.ar-5heading.wf-bg.f-adv.wtxt.curve iron justice
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/theevangelist.jpg")					
						h2.ar-5text Normally this religious zealot requires a high cost, but Wayfarer can use this drawback to power up his Reverbs. The devilish deacon sends his thoughts and prayers. 
						h3.ar-5heading.wf-bg.f-adv.wtxt.curve the evangelist
					.col-md-6.ar-5panel
						img.ar-5himg.center-block.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/a_270/v1498676135/weirdenergy.jpg")
						h2.ar-5text Weird Energy may not look like a powerful card on its face, but with Wayfarer's ability to manipulate his discard pile this can seal away a game very quickly! Hard to lose when you can cast Courage From Beyond multiple times.
						h3.ar-5heading.wf-bg.f-adv.wtxt.curve weird energy