.container-fluid.text-left.articlebg
	.container.articlecontainerbg
		.row.articlerow
			.col-md-12
				div.articlemasthead
					img.articlebanner(src="../../images/articles/kxbanner1.png")
					h1.articletitle Knox Player's Guide
					h1.articleauthor by @jaehighfive
		.row.articlerow
			.col-md-12
				h1.articleheading who is KNOX?
				p.articletext Knox watched the henchmen lower his father's coffin into a gilded mausoleum during a cold afternoon. The boy genius was visibly disturbed by the procession and he anxiously tapped on the wall with his fingers. Seething with anger, he vowed to to reclaim his family's legacy and remake it in his own image. The boy genius would become the boy warlord! 

				p.articletext Inheriting his father's empire of organized crime, Knox has used his vast fortune and arsenal of weapons to begin building his dream. His team of henchmen and hired help have become infamously known as the Villain Underground after a number of violent criminal incidents. Even alone, Knox should not be underestimated. His powersuit contains a number of deadly implements and his obsessive drive for power has lead him to become an outcast in the supervillain community.  
		.row.articlerow
			.col-md-12
				h1.articleheading how to play KNOX
				p.articletext Behold The Boy Warlord, Knox! Despite his pompous speeches and aversion to combat, this teenaged crime boss is atop every government agency's most wanted list for murder, extortion, fraud and more. Wearing a mech suit stolen from a young superhero's grave, Knox schemes inside his remote mansion surrounded with hired criminals and feral dogs. Although Knox's plans never go the way he wants, his Villain Underground superteam has developed a dangerous reputation. When playing Knox, give in to your greed. Draw as many cards as you can. Kill off your lackeys. Look out for number one.

				p.articletext Knox is an aggressive rushdown deck that tramples over slow control and combo players. His MINION skill allows him to avoid big chunks of player damage without being forced to commit to armor or healing. Since this skill is limited to Utilities, many of your aggressive cards can also be cashed-in to avoid damage. Knox also loves to draw as many cards as possible in order to find aggressive threats and speed up the game.
	
				p.articletext Playing Knox means being comfortable with burning through your deck at a rapid pace and keeping the pressure up at all costs. This all-out play style means that the design team has classified Knox as an INTERMEDIATE character. Newer players may not immediately be comfortable with this approach due to Knox's fragility, but after a few games Knox becomes one of the scariest characters to see across the table. If you want to be aggressive and back defensive players into a corder, consider hiring the boy warlord and his Villain Underground!
		.row.articlerow
			.col-md-12
				h1.articleheading what is KNOX's skill?
				p.articletext Although Knox keeps a number of metahumans on the payroll, he has not superpowers himself. A vengeful coward, Knox hides behind a small army of brainless goons and inside of an armored powersuit. Don't mistake this cowardace for kindness - Knox has leveraged his wealth and power to steal relics from the gods and execute superheroes in the streets. Knox's MINION ability allows players to hide behind their henchmen while concocting horrible plots to strike at the heart of your enemy! 

				.row.articleskillrow
					.col-md-12.text-center.articleskillpanel
						img(src="../../images/minion.png")
						h4.articleskilltext Some Utilities in your deck are MINIONS. Whenever you would take damage, you may destroy one of your MINIONS instead.

				p.articletext So how does Minion work? Some of the Utilities in your deck have the MINION skill. When these cards are in play, you may destroy that card to prevent one instance of damage dealt to you directly. By playing Utilities with Minion, Knox can avoid big chunks of damage without relying on Armor or Healing to stay in the game. You can even get rid of multiple minions in one turn if you find yourself under attack! Let's look at an example... 

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlehorzcardheading moronic gangster
						img.articlehorzimg.center-block(src='../../images/kx/moronicgangster.png')
						h4.articleskilltext Moronic Gangster is a Utilty card available in Knox's deck. Played by itself, it has no card text other than MINION. This means that Moronic Gangster will stay around and fight until you decide to get rid of him.
					.col-md-6.articlecardpanel 
						h3.articlehorzcardheading laser sights
						img.articlehorzimg.center-block(src='../../images/de/lasersights.png')
						h4.articleskilltext Laser Sights is a Utility card also available in Deadeye's deck. Played by itself, it increases your Aim score at the beginning of your turn.			

				p.articletext Since Minions only prevent individual instances of damage, it's a good idea to have multiple minions in play to keep yourself safe.

				p.articletext Let's look at another example...

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlevertcardheading collateral damage
						img.articlevertimg.center-block(src='../../images/kx/collateraldamage.png')
						h4.articleskilltext Collatoral Damage is an Action card available in Knox's deck. Played by itself, it deals 4 damage to each player.
					.col-md-6.articlecardpanel
						h3.articlehorzcardheading cut-rate mercenary
						img.articlehorzimg.center-block(src='../../images/kx/cutratemercenary.png')
						h4.articleskilltext Cut-Rate Mercenary is a Utility card also available in Knox's deck. Played by itself, it draws you a card and also has the MINION skill.

				p.articletext These two cards work quite well together. Let's walk through it. Playing Cut-Rate Mercenary first allows you to draw a card. Afterwards, it continues to sit in play waiting for you to use its MINION skill. Playing Collatoral Damage by itself would deal 4 damage to your opponents and yourself, but since you have a Cut-Rate Mercenary in play you could avoid taking that damage. By choosing to destroy your Cut-Rate Mercenary in reaction to taking damage, Collatoral Damage deals 4 damage to your opponents and leaves you unscathed!

				p.articletext Playing Knox will require you to choose which of your Minions live and die. Many of Knox's minions are very aggressive and Knox can offer lots of support to those Minions via his Actions and Feats. Love Knox but having a hard time taking over the world? Knox needs to focus on keeping three Utilities in play at all times. Draw as many cards as it takes to make secure your ultimate victory!
		.row.articlerow
			.col-md-12
				h1.articleheading 5 to watch out for...
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivevertimg.center-block(src='../../images/kx/angrylunge.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading angry lunge
						h4.articlefivetext In this game, 4 is a big number. Angry Lunge represents a huge threat and its ability to target anything makes it incredibly versatile. Plus, you can always ditch a Minion to get away scott-free.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src='../../images/kx/cruelplot.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading cruel plot
						h4.articlefivetext Sometimes you need to sit back and wait for an opening, but Cruel Plot rewards you for biding your time. This can represent 6+ damage so hit when it counts!
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src='../../images/cross/massacre.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading massacre
						h4.articlefivetext Massacre loves to fight and his ability to break board stalls can clear the way for an aggressive turn. Since almost nothing in your deck will be destroyed during Massacre's rampage, try to get one or more your opponent's Utilties!
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivevertimg.center-block(src='../../images/kx/shattertobits.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading shatter to bits
						h4.articlefivetext You can use Duck Down to grab crossovers, powerful defensive options like Decent Cover or a scope to improve your Aim. Don't count this one out.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src='../../images/kx/donaldsonthebutler.png')				
					.col-md-6.articlefivepanel
						h3.articlefiveheading donaldson, the butler
						h4.articlefivetext Donaldson does a little bit of everything! He helps the hand-size deck sit back and stay greedy, uses armor to keep aggressive decks in the game and as a Minion, can step in front of a critical hit when needed. How thoughtful!