.container-fluid
	.container
		.dejumbotron
			img.dejumboimage.img-responsive(src="../../images/articles/dejumbo.png")
			h1.dejumbobanner.text-right AN INTRODUCTION TO...
					span.defavfivecardtitle DEADEYE
			h3.dejumbobanner.text-right BY J MUNFORD &nbsp;
					span @JAEHIGHFIVE
		.row
			.col-md-12.characterbiography
				CHARACTER ORIGIN
				h3 Raised in a warzone, Dr. XXXXX XXXXXX lived day and night with a gun in her hand. As she escaped this world alongside her estranged sister, she kept the gun on her waist. And now, the gun has made her rich, powerful and feared. 

				Dr. XXXX XXXXX entered the mercenary field under the codename DEADEYE. On a permanent contract with Knox's Villain Underground, DEADEYE has quickly gained a reputation as one of the world's deadliest markswoman. Despite her constant disgust with the team's antics, Deadeye has proved to be a dangerous and loyal ally. And don't worry if she has a contract on you - you wouldn't even see it coming.
		.row
			.col-md-12.debanner
				img.img-responsive.articlebanner(src="../../images/articles/debanner1.png")
				h1.text-right HOW DOES SHE FIGHT?
			.col-md-12.charactermechanics
				GENERAL OVERVIEW
				general description of role (combo, standard, control, etc) - aggro
				tie into flavor - one woman action movie
				difficulty - easy
				who should play her - aggro, discard, sb combo

				STRONGEST PLUS
				Headshots

				STRONGEST MINUS
				Defense			
		.row
			.col-md-12.debanner
				img.img-responsive.articlebanner(src="../../images/articles/debanner1.png")
				h1.text-right WHAT ARE HER POWERS?
			.col-md-12.characterskill
				
				Full power sheet - Perfect vision, superhuman accuracy, arsenal of firearms, explosive expert
				
				Mechanic - Aim - full text + how to read it. 

				Why use it? Deal huge player damage, can wait until you find an opening, changes your deckbuilding

				Examples - Empty Clip. Laser Sights -> Empty Clip. Laser Sights -> Spotting Targets -> Trick Shot.
		.row
			.col-md-12.debanner
				img.img-responsive.articlebanner(src="../../images/articles/debanner1.png")
				h1.text-right WHAT ARE HER POWERS?	
		br
		.row.defavfive
			.col-md-5.deimagecontainer
				img.img-responsive.favfiveimage(src='../../images/shrapnelstorm.png')
			.col-md-7.text-center.favfivetext.detextcontainer
				h1.defavfivecardtitle Explosive Rounds
				h3.favfivecarddesc Ratchets up the Aim, Can target anything, Great any time of the game	
		br
		.row.ggfavfive
			.col-md-5.text-center.favfivetext.detextcontainer
				h1.defavfivecardtitle New Clip
				h3.favfivecarddesc Limited card draw options, great to have on-demand, not great against aggressive decks
			.col-md-7.deimagecontainer
				img.img-responsive.favfiveimage(src='../../images/dunk.png')
		br
		.row.defavfive
			.col-md-7.deimagecontainer
				img.img-responsive.favfiveimage(src='../../images/darkblades.png')
			.col-md-5.text-center.favfivetext.detextcontainer
				h1.defavfivecardtitle Thwip!
				h3.favfivecarddesc limited defensive options, great armor, protect your combos for a turn				
		br
		.row.defavfive
			.col-md-7.text-center.favfivetext.detextcontainer
				h1.defavfivecardtitle Spoils Of War
				h3.favfivecarddesc Powers the discard deck, great insurance against another discard deck, Speeds the game up		
			.col-md-5.deimagecontainer
				img.img-responsive.favfiveimage(src='../../images/dreamsofspace.png')
		br
		.row.defavfive
			.col-md-7.deimagecontainer
				img.img-responsive.favfiveimage(src='../../images/mapletree.png')
			.col-md-5.text-center.favfivetext.detextcontainer
				h1.defavfivecardtitle Duck Down
				h3.favfivecarddesc Can get crossovers, helps find defense, setup aim combos	
