.container-fluid.text-left.ar-bg
	.container.ar-contbg.top-padding-med
		.row.ar-row
			.col-md-12
				div.ar-mast.ob-bg
					img.img-responsive.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/obsplash.jpg")
					h1.ar-title.f-adv.wtxt.ob-bg Obscurity Player's Guide
					h1.ar-author.f-oku.wtxt.ob-bg by @jaehighfive
		.row.ar-row
			.col-md-12
				h1.ar-heading.ob-bg.f-oku.wtxt who is OBSCURITY?
				p.ar-text Say what you want about the superhero business, but OBSCURITY is one of the good ones. With her cheerful attitude and deductive reasoning, OBSCURITY has a long record of putting dangerous criminals in jail. Lots of supervillains come to Amberville underestimating Obscurity due to her sunny personality, but the disappearing detective has saved countless lives since forming the Amberville Heroes. To play OBSCURITY, you'll have get comfortable sitting back and staying safe instead of throwing punches. Never give up!

				p.ar-text Obscurity is a grindy control character that has the potential to outlast any character in the game. Her VANISH skill allows players to hide powerful Utilities from their opponent between turns. Some gadgets give you special bonuses when you VANISH them, so take extra care to keep your most valuable tools safe. If you want to combine powerful Utilities with strong card draw and healing, OBSCURITY is your gal.
	
				p.ar-text OBSCURITY is the least aggressive character in the game, but that doesn't mean she can't win. If left alone, OBSCURITY's gadgets begin to snowball in a way that buries her opponent over time. Since Obscurity has been classified as an INTERMEDIATE character, it may take players a bit of time to adjust to the slower pace. Once you've got her figured out, Obscurity can provide patient players a lot of time and safety.
		.row.ar-row
			.col-md-12
				h1.ar-heading.ob-bg.f-oku.wtxt what is OBSCURITY's skill?
				.col-md-6
					p.ar-text A detective first and superhero second, crack gumshoe Obscurity uses her invisibility powers to sneak around crime scenes and ambush unsuspecting criminals. Non-confrontational, OBSCURITY prefers to avoid fighting but keeps her ankle-length trenchcoat packed full of magnet guns, static grenades, unbreakable handcuffs and long-forgotten granola bars. If all else fails, her piston-like robotic legs are capable of kicking a hole through a concrete wall. OBSCURITY's VANISH ability lets your gadgets stay hidden from your opponent until you are ready to close the case!
 
					p.ar-text Included below are a couple of examples on how to use this skill!		
				.col-md-6
					.row.ar-skillrow
						.col-md-12.text-center.ar-skillpanel
							img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/vanish.jpg")
							h4.ar-skilltext.f-oku To VANISH, turn one of your Gadgets upside down. Face-down Gadgets can be VANISHED to turn them face-up but otherwise do not exist.
						.row
							.col-md-12
								h3.ar-tutheading.ob-bg.f-oku.wtxt.curve.text-center CLICK ON THESE EXAMPLES FOR DETAILED TUTORIALS!
						.row
							.col-md-6
								button.btn.btn-block.ob-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1" data-toggle="tab" data-target="#example1") EXAMPLE 1
							.col-md-6
								button.btn.btn-block.ob-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example1gif" data-toggle="tab" data-target="#example1gif") EXAMPLE 1 GIF
						br
						.row
							.col-md-6
								button.btn.btn-block.ob-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2" data-toggle="tab" data-target="#example2") EXAMPLE 2
							.col-md-6
								button.btn.btn-block.ob-bg.f-oku.wtxt.ar-tutbtn.curve(href="#example2gif" data-toggle="tab" data-target="#example2gif") EXAMPLE 2 GIF				
		.tab-content.ar-row
			.tab-pane#example1
				.row.ar-cardrow.text-center
					.col-md-12
						h3.ar-tutheading.ob-bg.f-oku.wtxt.curve.text-center EXAMPLE 1
					.col-md-6.text-center
						p.ar-text In this example, we're going to practice digging into Obscurity's coat of gadgets. You can follow along below or check out an animated tutorial by using the button controls! 
						br
						p.ar-text Static Grenade is a Utility card available in OBSCURITY's deck. Played by itself, Static Grenades sits in play waiting for you to VANISH it. When you VANISH Static Grenades, it deals 1 damage to each opponent and their Utilities. 
						br
						p.ar-text X-Ray Spex is a Utility card available in OBSCURITY's deck. Played by itself, X-Ray Spex sits in play waiting for you to VANISH it. When you VANISH X-Ray Spex, you may choose to play an Action card from your hand for free.
						br
						p.ar-text As you can see by the sub-type underneath the card titles, both Static Grenade and X-Ray Spex are Gadgets. That means that OBSCURITY can VANISH Static Grenades to turn it upside-down. Face-down Utilities are hidden from all players until they are turned face-up and using VANISH on face-down Gadgets will turn them face-up.
						br
						p.ar-text Both Static Grenades and X-Ray Spex have abilities that trigger each time you VANISH them. This ability will fire every time you VANISH the card, regardless whether it is face-up or face-down. There is no limit for the number of times you are able to VANISH a given Utility per turn, meaning that each of these Gadgets could fire 3 times or more per turn!
					.col-md-6.text-center
						.col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/staticgrenades.jpg")
							h3.ar-cardheading.ob-bg.f-adv.wtxt static grenades	
						.col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/xrayspex.jpg")
							h3.ar-cardheading.ob-bg.f-adv.wtxt x-ray spex
					.col-md-12
						h3.ar-tutheading.ob-bg.f-oku.wtxt.curve.text-center EXAMPLE 1				
			.tab-pane#example1gif
				.row
					.col-md-12
						h3.ar-tutheading.ob-bg.f-oku.wtxt.curve.text-center EXAMPLE 1 GIF
				.row
					.col-md-12						
						img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/obanim1.gif").center-block
				.row
					.col-md-12
						h3.ar-tutheading.ob-bg.f-oku.wtxt.curve.text-center EXAMPLE 1 GIF
			.tab-pane#example2
				.row
					.col-md-12
						h3.ar-tutheading.ob-bg.f-oku.wtxt.curve.text-center EXAMPLE 2
				.row.ar-cardrow.text-center				
					.col-md-6.text-center
						p.ar-text Time to get on the case! Let's emerge from the shadows and strike! 
						br
						p.ar-text Vibro-Knuckle Dusters is a Utility card available in OBSCURITY's deck. Played by itself, Vibro-Knuckle Dusters sits in play waiting for you to VANISH it. When you do VANISH Vibro-Knuckle Dusters, you may play the top card of your deck for free.
						br
						p.ar-text Let's say your turn begins with a copy of Vibro-Knuckle Dusters in play face-down. Since it is face-down, you won't be able to attack with Vibro-Knuckle Duster's until you turn it face-up. 
						br
						p.ar-text Next, let's play a copy of Crack Shot. Crack Shot is an Action card available in OBSCURITY's deck. Many of OBSCURITY's Actions give you the choice of choosing between multiple options. Played by itself, Crack Shot lets you deal 2 damage to any target or VANISH one of your Gadgets.
						br
						p.ar-text Crack Shot gives us the choice of dealing 2 damage to any target or Vanishing our Vibro-Knuckle Dusters. Turning our Gadget face-up would let us attack and allows us to play the top card of your deck for free thanks to the Dusters' bonus ability! It's entirely possible we find another copy of Crack Shot or another set of Knuckle Dusters!
					.col-md-6.text-center
						.col-md-12.ar-cardpanel
							img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/crackshot.jpg")
							h3.ar-cardheading.ob-bg.f-adv.wtxt crack shot
						.col-md-12.ar-cardpanel
							img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/vibroknuckledusters.jpg")
							h3.ar-cardheading.ob-bg.f-adv.wtxt vibro-knuckle dusters
				.row
					.col-md-12
						h3.ar-tutheading.ob-bg.f-oku.wtxt.curve.text-center EXAMPLE 2
			.tab-pane#example2gif
				.row
					.col-md-12
						h3.ar-tutheading.ob-bg.f-oku.wtxt.curve.text-center EXAMPLE 2 GIF
				.row
					.col-md-12
						img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/obanim2.gif").center-block
				.row
					.col-md-12
						h3.ar-tutheading.ob-bg.f-oku.wtxt.curve.text-center EXAMPLE 2 GIF
		.row.ar-row
			.col-md-12
				h1.ar-heading.ob-bg.f-oku.wtxt in conclusion...
				p.ar-text Playing OBSCURITY is all about measuring your options and making difficult decisions. After all - she is a detective. By sitting back and thinking long-term, OBSCURITY can grind out her opponent by VANISHING powerful Gadgets turn after turn after turn. Struggling to crack the case? Try to protect one powerful Gadget like Pastel Pistol or X-Ray Spex instead of spreading your VANISH triggers around.				
				p.ar-text Still need some help? Check out Obscurity's picks!
		.row.ar-row
			.col-md-12
				h1.ar-tutheading.ob-bg.f-oku.wtxt.curve.text-center OBSCURITY'S PICKS!
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/casingthescene.jpg")						
						h2.ar-5text When your deck doubles as your life total, drawing cards can be a mixed bag. Go low to keep the cards flowing and stay defensive. Go high to find a specific card early or strike back against a discard player.
						h3.ar-5heading.ob-bg.f-adv.wtxt.curve casing the scene	
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/dropfromtheceiling.jpg")				
						h2.ar-5text If you are looking to make a dramatic entrance, being able to blow up a Utility or VANISH two gadgets is a fine way to say 'hi'. This card may have different two modes, but you'll always have a target.
						h3.ar-5heading.ob-bg.f-adv.wtxt.curve drop from the ceiling
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/calmdown.jpg")						
						h2.ar-5text Time to slow down a little bit? Use Calm Down to force your opponent to lose their balance next turn but don't stumble over yourself in the process!
						h3.ar-5heading.ob-bg.f-adv.wtxt.curve calm down
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/detectivewolfcop.jpg")					
						h2.ar-5text She and Obscurity don't exactly get along, but you can always count on Officer Barbara to prevent your opponents from sniffing around too closely.
						h3.ar-5heading.ob-bg.f-adv.wtxt.curve detective wolfcop
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/pastelpistol.jpg")					
						h2.ar-5text The more you get to use this thing, the more your opponent will be working to get rid of it. Use your VANISH cards to keep this face-down at the end of your turn and keep firing away!
						h3.ar-5heading.ob-bg.f-adv.wtxt.curve pastel pistol
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/rubbermaiden.jpg")
						h2.ar-5text Rubber Maiden is a world-class brawler, throwing around 3 damage left and right until she's taken off the board. With OBSCURITY's limited offense, Rubber Maiden can be a great tool for closing out a stalemate.
						h3.ar-5heading.ob-bg.f-adv.wtxt.curve rubber maiden