
..container-fluid
	.container
		.sajumbotron
			img.sajumboimage.img-responsive(src="../../images/articles/sajumbo.png")
			h1.sajumbobanner.text-right AN INTRODUCTION TO...
					span.safavfivecardtitle SILICON ARTIST
			h3.sajumbobanner.text-right BY J MUNFORD &nbsp;
					span @JAEHIGHFIVE
		.row
			.col-md-12.characterbiography
				CHARACTER ORIGIN
				h3 Steven always looked for easy money where he could find it - email scams, pyramid schemes, door-to-door break-ins, etc. Everything would have been different if he hadn't robbed the wrong person. Kidnapped by hired goons and strapped to an operating table, Steven was injected with an experimental serum designed to turn human flesh in a pliable fluid. He life was ruined. Everything would have been different.

				Troubled con artist and thief Silicon Artist is one of the newest members of Knox's Villain Underground criminal organization. With his ability to stretch and shape his skin like clay, Silicon Artist is a slippery opponent in any fight. In addition, Silicon Artist loves to pester his opponents with insults and imitations just for his own pleasure. He may not be the most bloodthirsty member of the Viilain Underground, but this invincible mess always seems to bounce back.
		.row
			.col-md-12.sabanner
				img.img-responsive.articlebanner(src="../../images/articles/sabanner1.png")
				h1.text-right HOW DOES SHE FIGHT?
			.col-md-12.charactermechanics
				GENERAL OVERVIEW
				general description of role (combo, standard, control, etc) - combo
				tie into flavor - constantly changing shape
				difficulty - hard
				who should play her - aggro, unsure meta, sb against defensive decks

				STRONGEST PLUS
				Redundancy

				STRONGEST MINUS
				Foresight			
		.row
			.col-md-12.sabanner
				img.img-responsive.articlebanner(src="../../images/articles/sabanner1.png")
				h1.text-right WHAT ARE HER POWERS?
			.col-md-12.characterskill
				Full power sheet - Shapeshifting, Elastic Skin, Body Horror, Experienced Grifter
				
				Mechanic - Stretch & STRETCHED! - full text + how to read it. 

				Why use it? Duplicate powerful effects, change your Utility lineup at will, Currency

				Examples - Impersonate. Slingshot Uppercut -> Bodyrang.
		.row
			.col-md-12.sabanner
				img.img-responsive.articlebanner(src="../../images/articles/sabanner1.png")
				h1.text-right WHAT ARE HER POWERS?	
		br
		.row.safavfive
			.col-md-5.saimagecontainer
				img.img-responsive.favfiveimage(src='../../images/shrapnelstorm.png')
			.col-md-7.text-center.favfivetext.satextcontainer
				h1.safavfivecardtitle Long Con
				h3.favfivecarddesc Build around, high player damage, stretch it out
		br
		.row.safavfive
			.col-md-5.text-center.favfivetext.satextcontainer
				h1.safavfivecardtitle Spread Thin
				h3.favfivecarddesc Most efficient stretch, sets up combos, better early
			.col-md-7.ggimagecontainer
				img.img-responsive.favfiveimage(src='../../images/dunk.png')
		br
		.row.safavfive
			.col-md-7.saimagecontainer
				img.img-responsive.favfiveimage(src='../../images/darkblades.png')
			.col-md-5.text-center.favfivetext.satextcontainer
				h1.ggfavfivecardtitle Baron Von Heat
				h3.favfivecarddesc big fight, play high HP utilities, stretch him for board wipe
		br
		.row.safavfive
			.col-md-7.text-center.favfivetext.satextcontainer
				h1.safavfivecardtitle Skin Wings
				h3.favfivecarddesc Aggressive, Great In Multiples, Run over armor decks
			.col-md-5.saimagecontainer
				img.img-responsive.favfiveimage(src='../../images/dreamsofspace.png')
		br
		.row.safavfive
			.col-md-7.saimagecontainer
				img.img-responsive.favfiveimage(src='../../images/mapletree.png')
			.col-md-5.text-center.favfivetext.satextcontainer
				h1.safavfivecardtitle Worm Into
				h3.favfivecarddesc Both sides are good in context, Can counteract combo decks, Set up for big player damage
