.container-fluid
	.container
		.qujumbotron
			img.qujumboimage.img-responsive(src="../../images/articles/qujumbo.png")
			h1.qujumbobanner.text-right AN INTRODUCTION TO...
					span.qufavfivecardtitle QUERY
			h3.qujumbobanner.text-right BY J MUNFORD &nbsp;
					span @JAEHIGHFIVE
		.row
			.col-md-12.characterbiography
				CHARACTER ORIGIN
				h3 The blank-face spy woke screaming inside the identity eraser machine. They remembered nothing except how to escape the facility unseen. Finding pieces of their past life to be mysterious and conspiratorial, this spy created a new purpose for themselves. They would comb the world for dangerous secrets to be exposed. In process. they've made quite a few enemies...  

				A collector of secrets, Query has spied on superheroes and supervillains alike. With their ability to change faces, genders and personalities, Query could be anywhere in your life collecting intricate details to be shared with the world. Since the joining the Amberville Heroes, Query has taken on the role of an altrustic superhero and trusted ally. What changed? Why did they join the team in the first place? Who knows?

			.col-md-12.qubanner
				img.img-responsive.articlebanner(src="../../images/articles/qubanner1.png")
				h1.text-right HOW DOES SHE FIGHT?
			.col-md-12.charactermechanics
				GENERAL OVERVIEW
				general description of role (combo, standard, control, etc) - control
				tie into flavor - sneaking and spying
				difficulty - int
				who should play her - patience, utilities, risky

				STRONGEST PLUS
				Combo Breaker

				STRONGEST MINUS
				Unpredictable		
		.row
			.col-md-12.qubanner
				img.img-responsive.articlebanner(src="../../images/articles/qubanner1.png")
				h1.text-right WHAT ARE HER POWERS?
			.col-md-12.characterskill
				Full power sheet - Master Of Disguise, Surveillance Expert, Skilled in CQC, Black Market Gadgets 
				
				Mechanic - Spy - full text + how to read it. 
				
				Why use it? Set up your own draws, slow down your opponent's gameplan, maximize your steals

				Examples - Gathering Intelligence, Lightning Bug -> Seizing Assets
		.row
			.col-md-12.qubanner
				img.img-responsive.articlebanner(src="../../images/articles/qubanner1.png")
				h1.text-right WHAT ARE HER POWERS?	
		br
		.row.qufavfive
			.col-md-5.quimagecontainer
				img.img-responsive.favfiveimage(src='../../images/shrapnelstorm.png')
			.col-md-7.text-center.favfivetext.qutextcontainer
				h1.qufavfivecardtitle Paranoid Delusions
				h3.favfivecarddesc Take their best, temporary but disorienting, eats away at their hand		
		br
		.row.qufavfive
			.col-md-5.text-center.favfivetext.qutextcontainer
				h1.qufavfivecardtitle Dr. Doodad
				h3.favfivecarddesc Turn 1!, gets their attention, Spy to keep her safe
			.col-md-7.quimagecontainer
				img.img-responsive.favfiveimage(src='../../images/dunk.png')
		br
		.row.qufavfive
			.col-md-7.quimagecontainer
				img.img-responsive.favfiveimage(src='../../images/darkblades.png')
			.col-md-5.text-center.favfivetext.qutextcontainer
				h1.qufavfivecardtitle Who Am I?
				h3.favfivecarddesc refill your hand, setup with spy, try to read your opponent
		br
		.row.qufavfive
			.col-md-7.text-center.favfivetext.qutextcontainer
				h1.qufavfivecardtitle Music Box
				h3.favfivecarddesc great rate of healing, buy time to setup steals, don't forget about the armor	
			.col-md-5.quimagecontainer
				img.img-responsive.favfiveimage(src='../../images/dreamsofspace.png')
		br
		.row.qufavfive
			.col-md-7.quimagecontainer
				img.img-responsive.favfiveimage(src='../../images/mapletree.png')
			.col-md-5.text-center.favfivetext.qutextcontainer
				h1.qufavfivecardtitle Savate Kick
				h3.favfivecarddesc swiss army knife, finish off an opponent, combine with utilities to kill utilities	
