.container-fluid.text-left.ar-bg
	.container.ar-contbg
		.row.ar-row
			.col-md-12
				div.ar-mast.de-bg
					img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/desplash.jpg")
					h1.ar-title.f-adv.wtxt Deadeye Player's Guide
					h1.ar-author.f-oku.wtxt by @jaehighfive
		.row.ar-row
			.col-md-12
				h1.ar-heading.de-bg.f-oku.wtxt who is DEADEYE?
				p.ar-text Raised in a warzone, the sinister sniper DEADEYE grew up day and night with a gun in her hand. After escaping from her forced conscription alongside her estranged sister, DEADEYE kept that same gun on her waist for safety. Since that day, her gun has made her rich, powerful and feared. 

				p.ar-text DEADEYE is on a brutal sharpshooter contracted with Knox's Villain Underground. As a professional assassin, DEADEYE has quickly gained a reputation as a cold-blooded killer. Despite an everpresent disgust with her teammates, DEADEYE has proven to be a dangerous and loyal ally to the Villain Underground. 
		.row.ar-row
			.col-md-12
				h1.ar-heading.de-bg.f-oku.wtxt how to play DEADEYE
				p.ar-text Handguns. Shotguns. Sniper Rifles. Plastique. The no-nonsense mercenary DEADEYE is resigned to use whatever it takes to get the job done. DEADEYE herself has no natural superpowers, but frequently clashes with both heroes and villains in dangerous shootouts. If you've got the guts to take the safety off, playing as Deadeye offers explosive rewards -  if you can manage to pull the trigger.

				p.ar-text DEADEYE is an aggressive combo character that can alternate between attacking your opponent's hand and their life total. DEADEYE's AIM skill allows you to dramatically increase the damage dealt by cards in your deck. When playing as Deadeye, it's not uncommon to play Actions dealing upwards of 8 or 9 damage. DEADEYE's defensive options may be limited, but sometimes the best defense is a good offense.
	
				p.ar-text To play DEADEYE, you'll have to embrace being cutthroat. DEADEYE offers a lot of options in terms of player damage and discard strategies, but struggles with surviving into the later turns of the game. Players can include more defensive Crossovers as a way of shoring up this weakness. 

				p.ar-text By regularly and aggressively attacking your opponent, Deadeye shines as one of the centerpiece aggro characters of the game. Marked as an EASY character, DEADEYE is a great option for new players. Want to set the pace? Tired of waiting around for slow players? Pick up Deadeye and start firing live rounds.
		.row.ar-row
			.col-md-12
				h1.ar-heading.de-bg.f-oku.wtxt what is DEADEYE's skill?
				p.ar-text Expertly trained with long-range and short-range weapons, DEADEYE has superb combat reflexes and pinpoint accuracy. An experienced war veteran, DEADEYE is not above using surveillance devices and explosives to hunt her targets. DEADEYE's skill AIM represents her ability to deal extra damage by hitting her opponent right where it counts.

				.row.ar-skillrow
					.col-md-12.text-center.ar-skillpanel
						img(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/aim.jpg")
						h4.ar-skilltext.f-oku Cards in your deck give you Aim points. Whenever your Actions or Feats deal damage, add your Aim to that damage. At the end of each turn, reset your Aim to 0.

				p.ar-text So how does Aim work? Your Aim score is represented by a number that begins each turn at 0. Increasing your Aim score provides your Actions and Feats with a temporary damage boost. DEADEYE players can take advantage of this powerful ability by waiting for a big Aim bonus! 

				p.ar-text Let's look at an example...

				.row.ar-cardrow.text-center
					.col-md-6.ar-cardpanel
						h3.ar-cardheading.de-bg.f-adv.wtxt empty the clip
						img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/emptytheclip.jpg")
						h4.ar-skilltext.f-oku Empty Clip is an Action card available in Deadeye's deck. Played by itself, it represents your player dealing 4 damage to one of your opponents. 
					.col-md-6.ar-cardpanel
						h3.ar-cardheading.de-bg.f-adv.wtxt laser sights
						img.ar-himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/lasersights.jpg")
						h4.ar-skilltext.f-oku Laser Sights is a Utility card also available in Deadeye's deck. Played by itself, it increases your Aim score by 1 at the beginning of your turn.			

				p.ar-text These two cards work quite well together. Let's walk through it. 

				img(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/deanim1.gif").center-block

				p.ar-text If your turn begins with a copy of Laser Sights in play, your AIM score will increase from 0 to 1. That means until end of turn, all Actions and Feats you play will get a +1 damage increase. 

				p.ar-text Empty Clip's card text says to deal 4 damage to our opponent, but by adding our +1 AIM bonus it deals 5 damage instead! Since your AIM score resets to 0 at the end of your turn, make sure to use your AIM while you can!  

				p.ar-text Let's look at another example...

				.row.ar-cardrow.text-center
					.col-md-6.ar-cardpanel
						h3.ar-cardheading.de-bg.f-adv.wtxt spotting targets
						img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/spottingtargets.jpg")
						h4.ar-skilltext.f-oku Spotting Targets is an Action card available in Deadeye's deck. Played by itself, you get to increase your AIM score by 2 and you may draw a card afterwards. 
					.col-md-6.ar-cardpanel
						h3.ar-cardheading.de-bg.f-adv.wtxt trickshot
						img.ar-vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/trickshot.jpg")
						h4.ar-skilltext.f-oku Trick Shot is another Action card found in Deadeye's deck. Played by itself, it increases your AIM score by 1 and then deals 2 damage to any Utility.

				p.ar-text Let's try to go for a big AIM score!

				img(src="http://res.cloudinary.com/jhi5/image/upload/v1500588106/deanim2.gif").center-block

				p.ar-text First we will start the turn with a copy of Laser Sights in play, raising our AIM score to 1.

				p.ar-text Next, let's play Spotting Targets. Spotting Targets will increase our AIM score by 2. Combined with the bonus received from Laser Sights, our AIM score for this turn is now 3!

				p.ar-text Let's play Trick Shot last.

				p.ar-text Combining the bonus from Laser Sights, Spotting Targets & Trick Shot our AIM score raises to 4. Trick Shot's card text says that it deals 2 damage to Utility, but that's without including our AIM bonus. By adding our +4 AIM bonus, Trick Shot deals 6 damage any Utility. Headshot!

				p.ar-text Creating big AIM scores to deal huge amounts of damage is DEADEYE's biggest advantage in the game. With the AIM score resetting to 0 every turn, DEADEYE players need to sustain momentum to break through defensive characters. Still struggling to get collect your payment? Look to Deadeye's Utility and Feats to set up sweet AIM combos a few turns ahead of time.
		.row.ar-row
			.col-md-12
				h1.ar-heading.f-oku.wtxt 5 to watch out for...
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/explosiverounds.jpg")		
					.col-md-6.ar-5panel
						h3.ar-5heading.de-bg.f-adv.wtxt explosive rounds
						h4.ar-5text Even without big AIM bonuses, Explosive Rounds is a versatile card that can handle almost any problem. 
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/newclip.jpg")
					.col-md-6.ar-5panel
						h3.ar-5heading.de-bg.f-adv.wtxt new clip
						h4.ar-5text Deadeye really struggles with finding extra cards to keep her hand full, so New Clip is great to have on-demand whenever you might need it. Risky if your opponent is too aggressive! 
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/thwip.jpg")		
					.col-md-6.ar-5panel
						h3.ar-5heading.de-bg.f-adv.wtxt thwip!
						h4.ar-5text Deadeye's sister Thwip! deals with any problem for one turn and sticks around to brawl afterwards. With her decent armor and ability to protect your AIM combo pieces, this card will help you win games.
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5vimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/duckdown.jpg")
					.col-md-6.ar-5panel
						h3.ar-5heading.de-bg.f-adv.wtxt duck down
						h4.ar-5text You can use Duck Down to grab crossovers, powerful defensive options like Decent Cover or a scope to improve your Aim. Don't count this one out.
				.row.ar-5row.text-center
					.col-md-6.ar-5panel
						img.ar-5himg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/spoilsofwar.jpg")
					.col-md-6.ar-5panel
						h3.ar-5heading.de-bg.f-adv.wtxt spoils of war
						h4.ar-5text In Deadeye's discard strategy this is a powerful engine for keeping your opponents hand size down. It's also great insurance against another discard character.