.container-fluid.text-left.articlebg
	.container.articlecontainerbg
		.row.articlerow
			.col-md-12
				div.articlemasthead
					img.articlebanner(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/obbanner1.jpg")
					h1.articletitle Obscurity Player's Guide
					h1.articleauthor by @jaehighfive
		.row.articlerow
			.col-md-12
				h1.articleheading who is OBSCURITY?
				p.articletext After an embarassing college life and shaky start on the police force, Det. Ainsley Bryan knew that today would be the day to break her bad luck. After all, she did catch that bank robber...even if she did fall down a manhole during the press conference. Plus, she found a pack of gum inside her jacket! It can't all be bad. As she began unwrapped a stick of gum, she smiled to herself and thought 'Yup, today is going to be different.' Unfortunately, it wasn't. On the way to investigating a restaurant owner, she fell down another manhole. She would later fall through third manhole that evening while chasing a runaway cat.

				p.articletext Despite her crummy luck, Ainsley makes her living as a superhero detective working for the Amberville Police. Known as OBSCURITY due to her metahuman ability to become invisible, Ainsley is also a founding member of the Amberville Heroes. With her dedication to her friends and unshakeable courage, OBSCURITY has fought through the unfavorable odds and bureaocracy to become a powerful force of justice within her home of Amberville. With a detective's intuition, trenchcoat filled with cool gadgets and hydraulic robot legs, OBSCURITY has the tenacity and courage to stand up to any threat!
		.row.articlerow
			.col-md-12
				h1.articleheading how to play OBSCURITY
				p.articletext Say what you want about the superhero business, but OBSCURITY is one of the good ones. With her cheerful attitude and deductive reasoning, OBSCURITY has a long record of putting dangerous criminals in jail. Lots of supervillains come to Amberville underestimating Obscurity due to her sunny personality, but the disappearing detective has saved countless lives since forming the Amberville Heroes. To play OBSCURITY, you'll have get comfortable sitting back and staying safe instead of throwing punches. Never give up!

				p.articletext Obscurity is a grindy control character that has the potential to outlast any character in the game. Her VANISH skill allows players to hide powerful Utilities from their opponent between turns. Some gadgets give you special bonuses when you VANISH them, so take extra care to keep your most valuable tools safe. If you want to combine powerful Utilities with strong card draw and healing, OBSCURITY is your gal.

				p.articletext OBSCURITY is the least aggressive character in the game, but that doesn't mean she can't win. If left alone, OBSCURITY's gadgets begin to snowball in a way that buries her opponent over time. Since Obscurity has been classified as an INTERMEDIATE character, it may take players a bit of time to adjust to the slower pace. Once you've got her figured out, Obscurity can provide patient players a lot of time and safety.
		.row.articlerow
			.col-md-12
				h1.articleheading what is OBSCURITY's skill?
				p.articletext A detective first and superhero second, crack gumshoe Obscurity uses her invisibility powers to sneak around crime scenes and ambush unsuspecting criminals. Non-confrontational, OBSCURITY prefers to avoid fighting but keeps her ankle-length trenchcoat packed full of magnet guns, static grenades, unbreakable handcuffs and long-forgotten granola bars. If all else fails, her piston-like robotic legs are capable of kicking a hole through a concrete wall. OBSCURITY's VANISH ability lets your gadgets stay hidden from your opponent until you are ready to close the case!

				.row.articleskillrow
					.col-md-12.text-center.articleskillpanel
						img(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/vanish.jpg")
						h4.articleskilltext To VANISH, turn one of your Gadgets upside down. Face-down Gadgets can be VANISHED to turn them face-up but otherwise do not exist.

				p.articletext So how does VANISH work? Some of the Utilities in OBSCURITY's deck are Gadgets. By keeping your most valuable Gadgets hidden from your opponent, you'll be able to use them turn after turn. VANISH helps by turning your Gadgets face-down, meaning that opponents simply can't do anything until you turn them face-up again by using VANISH a second time. Let's check out a few examples.

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlehorzcardheading static grenade
						img.articlehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/staticgrenade.jpg")
						h4.articleskilltext Static Grenade is a Utility card available in OBSCURITY's deck. Played by itself, Static Grenades sits in play waiting for you to VANISH it. When you VANISH Static Grenades, it deals 1 damage to each opponent and their Utilities. 
					.col-md-6.articlecardpanel 
						h3.articlehorzcardheading x-ray spex
						img.articlehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/xrayspex.jpg")
						h4.articleskilltext X-Ray Spex is a Utility card available in OBSCURITY's deck. Played by itself, X-Ray Spex sits in play waiting for you to VANISH it. When you VANISH X-Ray Spex, you may choose to play an Action card from your hand for free.		

				img(url='')

				p.articletext As you can see by the sub-type underneath the card titles, both Static Grenade and X-Ray Spex are Gadgets. That means that OBSCURITY can VANISH Static Grenades to turn it upside-down. Face-down Utilities are hidden from all players until they are turned face-up and using VANISH on face-down Gadgets will turn them face-up.

				p.articletext Both Static Grenades and X-Ray Spex have abilities that trigger each time you VANISH them. This ability will fire every time you VANISH the card, regardless whether it is face-up or face-down. There is no limit for the number of times you are able to VANISH a given Utility per turn, meaning that each of these Gadgets could fire 3 times or more per turn! 

				p.articletext Let's look at another example...

				.row.articlecardrow.text-center
					.col-md-6.articlecardpanel
						h3.articlevertcardheading crack shot
						img.articlevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/crackshot.jpg")
						h4.articleskilltext Crack Shot is an Action card available in OBSCURITY's deck. Many of OBSCURITY's Actions give you the choice of choosing between multiple options. Played by itself, Crack Shot lets you deal 2 damage to any target or VANISH one of your Gadgets. 
					.col-md-6.articlecardpanel
						h3.articlehorzcardheading vibro-knuckle dusters
						img.articlehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/vibroknuckledusters.jpg")
						h4.articleskilltext Vibro-Knuckle Dusters is a Utility card available in OBSCURITY's deck. Played by itself, Vibro-Knuckle Dusters sits in play waiting for you to VANISH it. When you do VANISH Vibro-Knuckle Dusters, you may play the top card of your deck for free.

				p.articletext These two cards work well together. Let's walk through it. 

				img(src='')

				p.articletext Let's say your turn begins with a copy of Vibro-Knuckle Dusters in play face-down. Since it is face-down, you won't be able to attack with Vibro-Knuckle Duster's until you turn it face-up. 

				p.articletext Next, let's play a copy of Crack Shot. Crack Shot gives us the choice of dealing 2 damage to any target or Vanishing our Vibro-Knuckle Dusters. Turning our Gadget face-up would let us attack and allows us to play the top card of your deck for free thanks to the Dusters' bonus ability! It's entirely possible we find another copy of Crack Shot or another set of Knuckle Dusters!

				p.articletext Playing OBSCURITY is all about measuring your options and making difficult decisions. After all - she is a detective. By sitting back and thinking long-term, OBSCURITY can grind out her opponent by VANISHING powerful Gadgets turn after turn after turn. Struggling to crack the case? Try to protect one powerful Gadget like Pastel Pistol or X-Ray Spex instead of spreading your VANISH triggers around. 
		.row.articlerow
			.col-md-12
				h1.articleheading 5 to watch out for...
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/dropfromtheceiling.jpg")		
					.col-md-6.articlefivepanel
						h3.articlefiveheading drop from the ceiling
						h4.articlefivetext If you are looking to make a dramatic entrance, being able to blow up a Utility or VANISH two gadgets is a fine way to say 'hi'. This card may have different two modes, but you'll always have a target.	
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/calmdown.jpg")			
					.col-md-6.articlefivepanel
						h3.articlefiveheading calm down
						h4.articlefivetext Wouldn't it be nice to have everybody slow down a little bit? Use Calm Down to force your opponent to lose their balance next turn but don't stumble over yourself in the process!
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/rubbermaiden.jpg")			
					.col-md-6.articlefivepanel
						h3.articlefiveheading rubber maiden
						h4.articlefivetext Rubber Maiden is a world-class brawler, throwing around 3 damage left and right until she's taken off the board. With OBSCURITY's limited offense, Rubber Maiden can be a great tool for closing out a stalemate.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivevertimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/casingthescene.jpg")		
					.col-md-6.articlefivepanel
						h3.articlefiveheading casing the scene
						h4.articlefivetext When your deck doubles as your life total, drawing cards can be a mixed bag. Go low to keep the cards flowing and stay defensive. Go high to find a specific card early or strike back against a discard player.
				.row.articlefiverow.text-center
					.col-md-6.articlefivepanel
						img.articlefivehorzimg.center-block(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/pastelpistol.jpg")			
					.col-md-6.articlefivepanel
						h3.articlefiveheading pastel pistol
						h4.articlefivetext The more you get to use this thing, the more your opponent will be working to get rid of it. Use your VANISH cards to keep this face-down at the end of your turn and keep firing away!