.container-fluid.text-center
	h1	WHO
	h3 As she sat beneath the stars years ago, Dr. XXXXX XXXXXX peered into her telescope to see a star-streaked comet fall to earth. Hurried, she threw the telescope into her satchel and run down the hillside to pursue the heavenly body. As she approached closer, she felt her eyes and hands drawn to its warm purple glow. She reached out to touch it and become overwhelmed with incredible cosmic power. 

	h3 Imbued with the ability to manipulate gravity, space and time, Dr. XXXXXX became GRAVITY GIRL!  As a founding member of her local superhero team The Amberville Heroes, Gravity Girl has used her superstrength and knowledge of astrophysics to save the lives of countless Amberville citizens. With Gravity Girl's in-depth knowledge of high level mathematics and her incredible cosmic powers, crime doesn't stand a chance.  

	h1 WHAT
	h3 Resident powerhouse of the Amberville Heroes, Gravity Girl uses her amazing cosmic powers to slug it out with supervillains on an everyday basis. An astrophysist by day, Gravity Girl uses her knowledge of science and mathematics to outwit her foes in battle. When that fails, she isn't afraid to throw a few fists. When you choose Gravity Girl, expect to pummel your opponent into the ground and blow a few things up in the process.

	h3 Gravity Girl is an aggressive all-purpose deck that can alternate between a variety of offensive strategies as needed. Her THROW skill allows you to play powerful Action cards at the cost of destroying your own Utilities. Of course, Gravity Girl has a number of Utilities that give you big rewards for throwing them at your opponent. By mixing-and-matching which THROW and Utility cards appear in your deck, you will be rewarded by an aggressive deck that can overcome most control and combo stratgies.

	h3 To play Gravity Girl, you'll need to be comfortable changing your deckbuild between games. Gravity Girl's card selection includes a lot of variety, meaning that she really excels when players feel comfortable shifting around as needed. Want more Utility removal against Silicon Artist? Need more Armor against Deadeye? Gravity Girl players have the ability to change as needed. As this is an essential skill for all characters, she has been classified as an EASY character. This fundamental simplicity makes her a friendly choice for first-time players while experienced players will be drawn to her power and versatility.

	h1 SKILL
	h3 Gravity Girl isn't satisfied using her incredibly cosmic power to fight crime, she wants unravel the mysteries of space and time. Although she most frequently uses her ability to manipulate gravity to fly and wallop her opponents with weapons, she is also capable of creating transmatter portals to teleport around the world. And Gravity Girl's research indicates that this is just the beginning. Rewinding time. Interdimensional travel. Miniature black holes. Of course, Gravity Girl will need some of that scientific expertise to explore the potential of her versatile THROW skill. 

	h2 THROW
	h2 To play a card with Throw, you must first destroy one of your own Utilities.

	h3 How does Throw work? Gravity Girl loves to pick up anything that's lying around and use her gravity powers to hurl it at her opponents. In order to do this, you'll need something to pick up in the first place. Cards in Gravity Girl's deck that feature Throw cannot be played unless you have a Utility or Crossover to throw. The Utility that gets thrown may get destroyed, but many cards in Gravity Girl's deck offer big bonuses when they are blown up. Let's look at a few examples!   

	img(src='../../images/gg/throwitintoaportal.png')

	h3 Throw It Into A Portal! is an Action card available in Gravity Girl's deck. Played by itself, it provides you the opportunity to throw one of your Utilities in order to place one of your opponent's Utilities on top of their deck. Throw It Into A Portal does require you to destroy one of your own Utilities, but that also allows you to mix-and-match abilities by choosing what to destroy. Let's check out another example.

	img(src='../../images/gg/picnictable.png')
	img(src='../../images/gg/javelinthrow.png')

	h3 Picnic Table is a Utility card available in the Gravity Girl deck. Played by itself, it does nothing waiting for you to destroy it. If you do, it deals 3 damage to any one opponent.

	h3 These two cards work quite well together. Let's walk through it! Javelin Throw is a powerful card for dealing with Utilities. Dealing 4 damage will destroy 90% of all Utilities and Crossovers in the game. It also has Throw, meaning that we'll need to destroy a Utility in order to play it. 

	h3 On the other hand, Picnic Table doesn't do anything. It doesn't have any Armor and can't Fight. Why play it? Because Picnic Table combines well with Throw cards. By choosing Picnic Table when using Javelin Throw, you will be able to deal 4 damage to a Utility and 3 damage to a player! That's 7 damage with only two cards!

	h3 Combining Throw cards with Utilties that like to be thrown is the key to mastering Gravity Girl. Gravity Girl is capable of switching between combo, defensive and offensive decks just by choosing different Throw cards! Want to win with Gravity Girl without feeling a bit dense? Gravity Girl can be difficult to deckbuild so don't be afraid to make tweaks. You might leave yourself empty-handed without a good ratio of Utility to Throw cards!
	
	h1 FAV FIVE

	img(src='../../images/gg/shrapnelstorm.png')

	h2 Shrapnel Storm
	h3 This action can create some of the most explosive turns in the game! Try combining this with Gravity Well and some Throw cards to rack up huge damage.	

	img(src='../../images/cross/darkblades.png')

	h2 Dark Blades
	h3 Gravity Girl will throw anything around, but there's no better partner for her than Dark Blades. His decent Fight score combined with the ability to blow up a Utility when thrown makes him an excellent choice.

	img(src='../../images/gg/dunk.png')

	h2 Dunk
	h3 Sometimes you need to close the door on your opponent entirely. This Feat destroys any single Utility and Crossover in the game at the low cost of one of your own.

	img(src='../../images/gg/dreamsofspace.png')

	h2 Dreams Of Space
	h3 Although cards like Maple Tree and Pile Of Rubble help, Gravity Girl has a hard time keeping her hand full during the game. Almost every Gravity Girl build can use Dreams Of Space - especially against discard-heavy characters like Robonobo & Deadeye.

	img(src='../../images/gg/mapletree.png')

	h2 Maple Tree
	h3 Looking to rack up early damage and keep the cards flowing? Maple Tree replaces itself in your hand, fights well and is a great way to set up big Throw combos.