@font-face
    font-family 'okudabold_italic'
    src url('okuda_bold_italic-webfont.woff2') format('woff2'),
         url('okuda_bold_italic-webfont.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'okudabold'
    src url('okuda_bold-webfont.woff2') format('woff2'),
         url('okuda_bold-webfont.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'okudaitalic'
    src url('okuda_italic-webfont.woff2') format('woff2'),
         url('okuda_italic-webfont.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'okudaregular'
    src url('okuda-webfont.woff2') format('woff2'),
         url('okuda-webfont.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'adventure_hollowregular'
    src url('adventure_hollow-webfont.woff2') format('woff2'),
         url('adventure_hollow-webfont.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'adventureregular'
    src url('adventure-webfont.woff2') format('woff2'),
         url('adventure-webfont.woff') format('woff')
    font-weight normal
    font-style normal

deadeyecolor = rgb(51, 51, 102)
deadeyealpha = rgba(51, 51, 102, .85)
gravitygirlcolor = rgb(153, 102, 153)
gravitygirlalpha = rgba(153, 102, 153, .85)
knoxcolor = rgb(102, 51, 51)
knoxalpha = rgba(102, 51, 51, .85)
obscuritycolor = rgb(204, 153, 204)
obscurityalpha = rgba(204, 153, 204, .85)
querycolor = rgb(51, 102, 51)
queryalpha = rgba(51, 102, 51, .85)
robonobocolor = rgb(102, 102, 102)
robonoboalpha = rgba(102, 102, 102, .85)
crosscolor = rgb(204, 153, 51)
crossalpha = rgba(204,153,51,.85)
characterpagebg = url('../images/charpagebg.png')

body
    padding-top 70px

.mainButton
	padding-top 3rem
	padding-bottom 3rem
	font-size 7rem

.modal-admin
	background-color white

.charselect
	height 30rem
	width 30rem
	margin-right 1.25rem
	margin-bottom 1rem
	border 2.0rem outset rgba(193, 66, 66, 0.1)
	border-radius .25rem

.ggcharselect:hover
	border 3.0rem outset gravitygirlcolor

.gg-profilebg
	background linear-gradient(0deg,gravitygirlalpha,gravitygirlalpha),url(../images/jumbotron.png)

.gg-profileheadings
	color white
	background linear-gradient(0deg,gravitygirlalpha,gravitygirlalpha),url(../images/jumbotron.png)
	font-size 5rem
	border-radius .5rem

.gg-flavortext
	color gray
	font-style italic

.gg-charpage-name
	background gravitygirlcolor
	color white
	font-size 10rem

.gg-charpage-img
	min-width 100%
	border 2em solid gravitygirlcolor

.characterselectgg
	background linear-gradient(0deg,gravitygirlalpha,gravitygirlalpha),url(../images/jumbotron.png)


.decharselect:hover
	border 3.0rem outset deadeyecolor

.de-profilebg
	background linear-gradient(0deg,deadeyealpha,deadeyealpha),url(../images/jumbotron.png)

.de-profileheadings
	color white
	background linear-gradient(0deg,deadeyealpha,deadeyealpha),url(../images/jumbotron.png)
	font-size 5rem
	border-radius .5rem

.de-flavortext
	color gray
	font-style italic

.de-charpage-name
	background deadeyecolor
	color white
	font-size 10rem

.de-charpage-img
	min-width 100%
	border 2em solid deadeyecolor

.characterselectde
	background linear-gradient(0deg,deadeyealpha,deadeyealpha),url(../images/jumbotron.png)

.kxcharselect:hover
	border 3.0rem outset knoxcolor

.kx-profilebg
	background linear-gradient(0deg,knoxalpha,knoxalpha),url(../images/jumbotron.png)

.kx-profileheadings
	color white
	background linear-gradient(0deg,knoxalpha,knoxalpha),url(../images/jumbotron.png)
	font-size 5rem
	border-radius .5rem

.kx-flavortext
	color gray
	font-style italic

.kx-charpage-name
	background knoxcolor
	color white
	font-size 10rem

.kx-charpage-img
	min-width 100%
	border 2em solid knoxcolor

.characterselectkx
	background linear-gradient(0deg,knoxalpha,knoxalpha),url(../images/jumbotron.png)

.obcharselect:hover
	border 3.0rem outset obscuritycolor

.ob-profilebg
	background linear-gradient(0deg,obscurityalpha,obscurityalpha),url(../images/jumbotron.png)

.ob-profileheadings
	color white
	background linear-gradient(0deg,obscurityalpha,obscurityalpha),url(../images/jumbotron.png)
	font-size 5rem
	border-radius .5rem

.ob-flavortext
	color gray
	font-style italic

.ob-charpage-name
	background obscuritycolor
	color white
	font-size 10rem

.ob-charpage-img
	min-width 100%
	border 2em solid obscuritycolor

.characterselectob
	background linear-gradient(0deg,obscurityalpha,obscurityalpha),url(../images/jumbotron.png)

.rbcharselect:hover
	border 3.0rem outset robonobocolor

.rb-profilebg
	background linear-gradient(0deg,robonoboalpha,robonoboalpha),url(../images/jumbotron.png)

.rb-profileheadings
	color white
	background linear-gradient(0deg,robonoboalpha,robonoboalpha),url(../images/jumbotron.png)
	font-size 5rem
	border-radius .5rem

.rb-flavortext
	color gray
	font-style italic

.rb-charpage-name
	background robonobocolor
	color white
	font-size 10rem

.rb-charpage-img
	min-width 100%
	border 2em solid robonobocolor

.characterselectrb
	background linear-gradient(0deg,robonoboalpha,robonoboalpha),url(../images/jumbotron.png)

.qucharselect:hover
	border 3.0rem outset querycolor

.qu-profilebg
	background linear-gradient(0deg,queryalpha,queryalpha),url(../images/jumbotron.png)

.qu-profileheadings
	color white
	background linear-gradient(0deg,queryalpha,queryalpha),url(../images/jumbotron.png)
	font-size 5rem
	border-radius .5rem

.qu-flavortext
	color gray
	font-style italic

.qu-charpage-name
	background querycolor
	color white
	font-size 10rem

.qu-charpage-img
	min-width 100%
	border 2em solid querycolor

.characterselectqu
	background linear-gradient(0deg,queryalpha,queryalpha),url(../images/jumbotron.png)

.crosscharselect:hover
	border 3.0rem outset crosscolor

.cross-profilebg
	background linear-gradient(0deg,crossalpha,crossalpha),url(../images/jumbotron.png)

.cross-profileheadings
	color white
	background linear-gradient(0deg,crossalpha,crossalpha),url(../images/jumbotron.png)
	font-size 5rem
	border-radius .5rem

.cross-flavortext
	color gray
	font-style italic

.cross-charpage-name
	background deadeyecolor
	color white
	font-size 10rem

.cross-charpage-img
	min-width 100%
	border 2em solid deadeyecolor

.characterselectcross
	background linear-gradient(0deg,crossalpha,crossalpha),url(../images/jumbotron.png)

#characterselecttitle	
	width 100%
	font-size 15rem
	color white
	text-shadow 1px 1px 0 #CCC, 2px 2px 0 #CCC, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444, 6px 6px 0 #444

.characterselectbasic
	background linear-gradient(0deg,rgba(241,251,37,.85),rgba(241,251,37,.85)),url(../images/jumbotron.png)

.hpheading
	color white
	background rgb(237,38,144)
	font-size 5rem
	border-radius .5rem
	font-family "adventureregular"

.utilityvalue
	font-family 'adventureregular'
	font-size 10rem

.fightheading
	color white
	background rgb(42, 173, 227)
	font-size 5rem
	border-radius .5rem
	font-family "adventureregular"

.armorheading
	color white
	background rgb(255, 239, 31)
	font-size 5rem
	border-radius .5rem
	font-family "adventureregular"

.cardtitle
	font-family "Adventure"
	font-size 7rem
 	
.charbio
	border-radius 1.5rem

.charpage-skill
	background white

.charpage-difficulty
	margin-top 1rem

.charpage-download
	padding-top 5rem
	padding-bottom 5rem
	color white
	font-size 5rem
	font-weight bold
	font-family 'adventureregular'
	border-radius 2rem

.profiletext
	font-size 3.5rem

.okuda
	font-family 'okuda'

.adventure
	font-family 'adventureregular'

.big
	font-size 7rem

.navbar
	padding-bottom 1rem

.btn-modal-close
	font-family 'adventureregular'
	background rgb(42, 173, 227)
	color white
	font-size 3rem
