@font-face {
  font-family: 'adventure';
  src: url("adventure-webfont.woff2") format('woff2'), url("adventure-webfont.woff") format('woff'), url("adventure.ttf") format('truetype');
}
@font-face {
  font-family: 'okuda';
  src: url("okuda-webfont.woff2") format('woff2'), url("okuda-webfont.woff") format('woff'), url("okuda.ttf") format('truetype');
}
body {
  padding-top: 8rem;
}
.modal-admin {
  background-color: #fff;
}
.popover {
  font-family: 'adventure', georgia;
  min-width: 70rem;
  min-height: 5rem;
  border: 1rem solid #000;
  border-radius: 5rem;
  padding: auto;
  color: #000;
  letter-spacing: 0.4rem;
}
.popover-content {
  font-family: 'adventure', georgia;
  font-size: 5rem;
  text-align: center;
  line-height: 4rem;
  margin: auto;
}
.copyrightfooter {
  font-family: 'adventure', georgia;
  height: 4rem;
  width: 50%;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(0,0,0,0);
}
.copyrightfooter h1 {
  color: #fff;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  font-size: 3rem;
}
.blue-bg {
  background-color: DodgerBlue;
  border: 0.1rem inset #fff;
}
.border-large {
  border: 2rem solid #000;
}
.border-med {
  border: 1rem solid #000;
}
.border-small {
  border: 0.5rem solid #000;
}
.border-small-white {
  border: 0.1rem solid #fff;
}
.curve {
  border-radius: 5rem;
}
.drop-shadow {
  box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.5);
}
.drop-shadow-small {
  box-shadow: 0.4rem 0.4rem 1rem rgba(0,0,0,0.4);
}
.f-adv {
  font-family: 'adventure', georgia;
  letter-spacing: letter-spacing 0.3rem;
}
.f-oku {
  font-family: 'okuda', helvetica;
  letter-spacing: letter-spacing 0.3rem;
}
.heading-textsize {
  font-size: 7rem;
}
.heading-small-textsize {
  font-size: 2rem;
}
.label-large-textsize {
  font-size: 5rem;
}
.label-textsize {
  font-size: 3rem;
}
.line-height {
  line-height: 175%;
}
.no-border {
  border: none;
}
.outlinetxt {
  text-shadow: -0.1rem 0.25rem 0.25rem #000, -0.1rem -0.25rem 0.2rem #000, 0.5rem 0.25rem 0.25rem #000;
}
.outlinetxt-soft {
  text-shadow: -0.1rem 0.25rem 0.25rem rgba(0,0,0,0.3), -0.1rem -0.25rem 0.2rem rgba(0,0,0,0.3), 0.5rem 0.25rem 0.25rem rgba(0,0,0,0.3);
}
.plaintext {
  font-size: 1.25rem;
}
.wbg {
  background-color: #fff;
}
.wtxt {
  color: #fff;
}
.de-banner {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/desplash.jpg");
}
.de-bg {
  background-color: #336;
}
.de-headshot {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/deadeyecharselect.png");
}
.gg-banner {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/ggsplash.jpg");
}
.gg-bg {
  background-color: #8952a1;
}
.gg-headshot {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/gravitygirlcharselect.png");
}
.kx-banner {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/kxsplash.jpg");
}
.kx-bg {
  background-color: #633;
}
.kx-headshot {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/knoxcharselect.png");
}
.ob-banner {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/obsplash.jpg");
}
.ob-bg {
  background-color: #c69;
}
.ob-headshot {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/obscuritycharselect.png");
}
.qu-banner {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/qusplash.jpg");
}
.qu-bg {
  background-color: #363;
}
.qu-headshot {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/querycharselect.png");
}
.rb-banner {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/rbsplash.jpg");
}
.rb-bg {
  background-color: #666;
}
.rb-headshot {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/robonobocharselect.png");
}
.sa-banner {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/sasplash.jpg");
}
.sa-bg {
  background-color: #093;
}
.sa-headshot {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/siliconartistcharselect.png");
}
.sa-backgroundcolor {
  background-color: #c69;
}
.wf-banner {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/wfsplash.jpg");
}
.wf-bg {
  background-color: #366;
}
.wf-headshot {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/wayfarercharselect.png");
}
.crp-3margin {
  margin-top: 3rem;
}
.crp-banner {
  padding-top: 40%;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.crp-biotxt {
  font-size: 2.5rem;
  text-align: center;
  padding: 0 1% 0 1%;
  margin: 0.5rem 0 0.5rem 0;
  line-height: 3.5rem;
}
.crp-biotxtlbl {
  padding: 0;
  margin: 0;
  font-size: 7rem;
  padding-bottom: 0.5rem;
  letter-spacing: 0.4rem;
}
.crp-blockbtn {
  font-size: 5rem;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.5);
}
.crp-blockbtn:hover {
  background-color: rgba(0,0,0,0.3);
}
.crp-blockbtnlbl {
  font-size: 5rem;
  margin: 0;
  text-align: center;
  line-height: 100%;
  margin-top: 2%;
}
.crp-btnrow {
  margin: auto;
}
.crp-chheading {
  margin: 0;
  font-size: 7rem;
  letter-spacing: 0.3rem;
  text-align: center;
  background-size: 0.625em 0.625em;
  background-repeat: no-repeat;
  border-radius: 20rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3rem;
  border: 0.5rem solid #000;
  line-height: 100%;
}
.crp-chminuslabel {
  background-color: #f00;
  color: #fff;
  border-radius: 1rem;
  border: 0.5rem solid #000;
}
.crp-chminustag {
  text-align: center;
  border-radius: 1rem;
  margin: auto;
  margin-top: 1rem;
  line-height: 100%;
}
.crp-chpluslabel {
  background-color: #008000;
  color: #fff;
  border-radius: 1rem;
  border: 0.5rem solid #000;
}
.crp-chplustag {
  text-align: center;
  border-radius: 1rem;
  margin: auto;
  margin-top: 1rem;
  line-height: 100%;
}
.crp-chtagrow {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
}
.crp-drkbg {
  background-color: rgba(0,0,0,0.4);
}
.crp-headcol {
  min-height: 45rem;
}
.crp-icon {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 9rem;
  height: 9rem;
}
.crp-info {
  border: 1rem solid #000;
  margin-top: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.crp-minuslbl {
  color: #f00;
  align: text-left;
  font-size: 3rem;
  border-bottom: 1rem double #f00;
}
.crp-name {
  margin: 0;
  font-size: 5.5rem;
  letter-spacing: 0.3rem;
  text-align: center;
  background-size: 0.625em 0.625em;
  background-repeat: no-repeat;
  line-height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 0;
  padding: 2%;
  border: 0.5rem solid #fff;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.crp-navbtn {
  padding: 0rem;
  margin: auto;
  margin: 1.25rem;
  border: 0.5rem outset #fff;
  width: 35rem;
  box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.5);
  text-shadow: -0.1rem 0.25rem 0.25rem rgba(0,0,0,0.3), -0.1rem -0.25rem 0.2rem rgba(0,0,0,0.3), 0.5rem 0.25rem 0.25rem rgba(0,0,0,0.3);
}
.crp-navbtnimg {
  height: 10rem;
  margin-top: 20%;
  margin-left: 10%;
}
.crp-pane {
  min-height: 45rem;
}
.crp-pluslbl {
  color: #008000;
  align: text-left;
  font-size: 3rem;
  border-bottom: 1rem double #008000;
}
.crp-profilebg {
  position: relative;
  width: 100%;
}
.crp-profilesub {
  margin: 0;
  text-align: center;
  padding: 0;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.crp-profileimg {
  width: 100%;
  background-size: cover;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  margin-bottom: 0;
}
.crp-skill {
  margin: auto 0;
  background-color: #fff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.5);
}
.crp-skilltxt {
  font-size: 2.5rem;
  text-align: center;
  padding: 0 1% 0 1%;
  margin: 0.5rem 0 0.5rem 0;
  line-height: 3.5rem;
}
.crp-tabcontent {
  box-shadow: 0rem 0rem 0rem rgba(0,0,0,0.5);
}
.crp-taglbl {
  font-size: 5rem;
  line-height: 100%;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
}
.tab-content {
  min-height: 39.333em;
  margin-top: 1rem;
}
.md-armor {
  background-color: #fcee21;
  border: 0.5rem outset #fff;
}
.md-cardimg {
  margin: auto;
  max-height: 65rem;
  -webkit-box-shadow: 1rem 1rem 1rem #808080;
  box-shadow: 1rem 1rem 1rem #808080;
}
.md-cardimgcontainer {
  min-height: 68rem;
}
.md-cardname {
  font-size: 7rem;
  line-height: auto;
  margin: 0;
  letter-spacing: 0.3rem;
}
.md-cardview {
  color: #2aade3;
  line-height: 100%;
  margin: 0 0.5rem 0 0.5rem;
}
.md-cardtext {
  font-size: 5rem;
  border-radius: 0.5rem;
}
.md-comments {
  font-size: 5rem;
  margin: auto 0;
  padding-left: 5%;
  padding-right: 5%;
  color: #808080;
  font-style: italic;
  min-height: 25rem;
}
.md-fight {
  background-color: #2bace3;
  border: 0.5rem outset #fff;
}
.md-footer {
  padding-bottom: 1.5rem;
}
.md-hp {
  background-color: #ed2690;
  margin: auto;
  border: 0.5rem outset #fff;
}
.md-imgcntr {
  margin-top: 0.1rem;
  min-height: 100rem;
}
.md-modallbl {
  font-size: 5rem;
}
.md-navbtn {
  text-align: center;
  width: 100%;
  margin: 0rem;
  border: 0.5rem outset #fff;
  box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.5);
  text-shadow: -0.1rem 0.25rem 0.25rem rgba(0,0,0,0.3), -0.1rem -0.25rem 0.2rem rgba(0,0,0,0.3), 0.5rem 0.25rem 0.25rem rgba(0,0,0,0.3);
  font-size: 5rem;
}
.md-navbtn:hover {
  color: #fff;
}
.md-navbtn:active {
  color: #fff;
}
.md-rating {
  height: 12rem;
  margin: auto;
  border-radius: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 0;
}
.md-type {
  height: 12rem;
  margin: auto;
  border-radius: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 0;
}
.md-utilsymbol {
  padding: 15%;
}
.md-utilicon {
  margin-top: 40%;
}
.md-utiltxt {
  color: #fff;
  size: 10rem;
  letter-spacing: 0.3rem;
}
.md-utilval {
  margin: 0;
  padding: 0;
  font-size: 13rem;
  text-shadow: -0.1rem 0.25rem 0.25rem #000, -0.1rem -0.25rem 0.25rem #000, 0.5rem 0.25rem 0.25rem #000;
}
.modal-admin {
  background-color: #fff;
}
.db-btnlbl {
  font-size: 5rem;
  text-align: center;
  line-height: 100%;
  margin-top: 1.5rem;
}
.db-buttons {
  text-align: center;
  padding: 0rem;
  margin: 0rem;
  min-height: 10rem;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 0.5rem outset #fff;
  box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.5);
  text-shadow: -0.1rem 0.25rem 0.25rem rgba(0,0,0,0.3), -0.1rem -0.25rem 0.2rem rgba(0,0,0,0.3), 0.5rem 0.25rem 0.25rem rgba(0,0,0,0.3);
  font-size: $s-label-ts;
}
.db-controlsbg {
  background-color: #fff;
  margin: auto;
  padding: auto;
  border-left: 1rem solid #000;
  border-right: 1rem solid #000;
  border-top: 1rem solid #000;
  border-bottom: 1rem solid #000;
}
.db-controlsrow {
  float: none;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.db-extag {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin: 0.2rem;
  background-color: #ff4847;
  color: #fff;
  font-size: 3rem;
  text-shadow: -0.1rem 0.25rem 0.25rem rgba(0,0,0,0.3), -0.1rem -0.25rem 0.2rem rgba(0,0,0,0.3), 0.5rem 0.25rem 0.25rem rgba(0,0,0,0.3);
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0,0,0,0.2);
  letter-spacing: 0.3rem;
}
.db-fieldheading {
  background-color: DodgerBlue;
  margin: 0 auto;
  font-size: 5rem;
  line-height: 100%;
  border-style: none;
  box-shadow: none;
}
.db-fieldheading:hover {
  border-style: 0rem;
  box-shadow: none;
  color: DodgerBlue;
  background-color: #fff;
}
.db-fieldheading:focus {
  border-style: 0rem;
  box-shadow: none;
  color: #fff;
  background-color: DodgerBlue;
}
.db-fieldheading:active {
  border-style: 0rem;
  box-shadow: none;
  color: #fff;
  background-color: DodgerBlue;
}
.db-heading {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  background-size: 0.625em 0.625em;
  background-repeat: no-repeat;
  border-radius: 20rem;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 100%;
}
.db-inctag {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin: 0.2rem;
  background-color: #228b22;
  color: #fff;
  font-size: 3rem;
  text-shadow: -0.1rem 0.25rem 0.25rem rgba(0,0,0,0.3), -0.1rem -0.25rem 0.2rem rgba(0,0,0,0.3), 0.5rem 0.25rem 0.25rem rgba(0,0,0,0.3);
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0,0,0,0.2);
  letter-spacing: 0.3rem;
}
.db-input {
  font-size: 50rem;
}
.db-search {
  padding-left: 1rem;
  font-size: 20rem;
  color: #000;
  background-color: #fff;
  padding: 2rem;
  margin: 2rem;
}
.db-searchfield {
  font-size: 18rem;
  color: #000;
}
.db-tablebg {
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 1rem solid #000;
  -webkit-box-shadow: 1rem 1rem 1rem #000;
  box-shadow: 1rem 1rem 1rem #000;
}
.db-tablebody {
  background-color: #fff;
}
.db-tablerow {
  border-bottom: 0.5rem solid DodgerBlue;
  background-color: #fff;
}
.db-table-symbol {
  max-width: 15rem;
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.db-table-text {
  font-size: 5rem;
  margin-top: 1.5rem;
  margin-left: 8%;
  margin-right: 8%;
}
.db-table-title {
  font-size: 5rem;
  width: 80%;
  margin-left: 1;
  margin-top: 1.5rem;
  letter-spacing: 0.2rem;
}
.db-tablebox {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.db-tableheading {
  background-color: #fff;
  font-size: 5rem;
  line-height: 100%;
  border: none;
}
.db-tagrow {
  display: inline-block;
}
.cs-banner {
  background-size: cover;
}
.cs-bg {
  background-color: DodgerBlue;
}
.cs-btn {
  padding: 0.25rem;
  font-size: 5rem;
  width: 100%;
  background-color: DodgerBlue;
  color: #fff;
}
.cs-btn:hover {
  background-color: Red;
  color: #fff;
}
.cs-btn:focus {
  color: #fff;
}
.cs-info {
  border: 1rem solid #000;
  -webkit-box-shadow: 1rem 1rem 1rem #000;
  box-shadow: 1rem 1rem 1rem #000;
  margin-top: 2rem;
}
.cs-name {
  margin: 0;
  font-size: 7rem;
  letter-spacing: 0.3rem;
  text-align: center;
  background-size: 0.625em 0.625em;
  background-repeat: no-repeat;
  border-radius: 20rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3rem;
  border: 0.5rem solid #000;
  line-height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cs-ovals {
  width: 16em;
  height: 16em;
  max-width: 16em;
  max-height: 16em;
  margin-bottom: 0rem;
}
.cs-imgrow {
  width: 70%;
}
.cs-row {
  width: 30%;
}
.main-b1 {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/panel1.png");
  border: 2rem solid #000;
  background-color: rgba(255,255,255,0);
  height: 25rem;
  background-size: cover;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.main-b1:hover {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/panel1h.png");
}
.main-b2 {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/panel2.png");
  border: 2rem solid #000;
  background-color: rgba(255,255,255,0);
  height: 35rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  position: right;
  background-size: cover;
}
.main-b2:hover {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/panel2h.png");
}
.main-b3 {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/panel3.png");
  border: 2rem solid #000;
  background-color: rgba(255,255,255,0);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 35rem;
  background-size: cover;
}
.main-b3:hover {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/panel3h.png");
}
.main-b4 {
  margin-top: 0.5rem;
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/panel4.png");
  border: 2rem solid #000;
  background-color: rgba(255,255,255,0);
  height: 25rem;
  background-size: cover;
}
.main-b4:hover {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/panel4h.png");
}
.main-t1 {
  font-size: 7rem;
  margin-top: 12rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0.25;
}
.main-t2 {
  font-size: 7rem;
  margin-top: 23rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.main-t3 {
  font-size: 7rem;
  margin-top: 23rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0rem;
}
.main-t4 {
  font-size: 7rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 12rem;
}
.dl-button {
  background-color: DodgerBlue;
  font-size: 5rem;
  margin-top: 0.1rem;
  margin-bottom: 0rem;
}
.dl-heading {
  font-size: 10em;
  text-align: center;
  color: DodgerBlue;
  padding: 1rem;
  margin-top: 0rem;
  font-styling: italic;
  letter-spacing: 0.5rem;
}
.dl-text {
  font-size: 2rem;
  text-align: center;
  padding: 0 2% 0 2%;
  margin-top: 0.5rem 0 0.5rem 0;
}
.fb-btn {
  padding: 1rem;
  font-size: 5rem;
  margin-top: 2rem;
  width: 95%;
  background-color: DodgerBlue;
  color: #fff;
}
.fb-btn:hover {
  background-color: Red;
  color: #fff;
}
.fb-btn:focus {
  color: #fff;
}
.fb-comments {
  background-color: #fff;
  border-left: 0.5rem solid DodgerBlue;
  font-family: 'okuda', helvetica;
  padding-left: 0.5rem;
  font-size: 3rem;
}
.fb-fullinput {
  width: 100%;
}
.fb-heading {
  color: #000;
  font-size: $m-label-ts;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0rem;
  letter-spacing: 0.5rem;
}
.fb-input {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: 'adventure', georgia;
  font-size: 5rem;
  text-align: center;
  background-color: #fff;
  border-radius: 1rem;
}
.fb-lbl {
  width: 100%;
  background-color: DodgerBlue;
  color: White;
  border: 0.25rem solid DodgerBlue;
  border-radius: 1rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.fb-option {
  font-size: 3rem;
}
.fb-select {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 3rem;
  padding-left: 1rem;
  text-align-last: center;
  text-align: center;
  border-left: 0.5rem solid DodgerBlue;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.fb-subheading {
  color: #000;
  font-size: 5rem;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.5rem;
}
.ai-image {
  margin-bottom: 0rem;
  border: 0.5rem solid DodgerBlue;
}
.ai-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 0rem;
  background-color: DodgerBlue;
}
.ar-5heading {
  font-size: 3rem;
  padding: 1.5%;
  border-radius: 3%;
}
.ar-5himg {
  border-radius: 3%;
  -webkit-box-shadow: 0.4em 0.4em 0.2em #808080;
  box-shadow: 0.4em 0.4em 0.2em #808080;
  margin-top: 4.5%;
  margin-bottom: 4.5%;
}
.ar-5panel {
  min-height: 40em;
  line-height: 50%;
}
.ar-5row {
  width: 99%;
  margin: 0.5%;
  margin-top: 0%;
  margin-bottom: 0%;
  border-bottom: solid 0.1rem DodgerBlue;
}
.ar-5text {
  font-size: 1.25em;
}
.ar-5vimg {
  height: 37.25em;
  width: 26.563em;
  border-radius: 3%;
  margin-top: 4.5%;
  margin-bottom: 4.5%;
  -webkit-box-shadow: 0.4em 0.4em 0.2em #808080;
  box-shadow: 0.4em 0.4em 0.2em #808080;
}
.ar-author {
  font-size: 2rem;
  margin-top: 0rem;
  padding-top: 0rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  text-align: right;
}
.ar-bg {
  background-image: url("http://res.cloudinary.com/jhi5/image/upload/defaultbg.png");
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
}
.ar-cardheading {
  font-size: 2rem;
  padding: 1.5%;
  line-spacing: 1rem;
}
.ar-cardpanel {
  min-height: 20em;
  line-height: 50%;
}
.ar-cardrow {
  background-color: #fff;
  border-radius: 3%;
  margin-top: 2%;
  margin-bottom: 3.5%;
}
.ar-contbg {
  background-color: #fff;
  border: 0.5rem solid #000;
}
.ar-heading {
  font-size: 2rem;
  text-align: left;
  padding: 1rem;
  text-indent: 0.938em;
  margin-bottom: 2rem;
  margin-top: 0rem;
  font-styling: italic;
  letter-spacing: 0.5rem;
}
.ar-himg {
  height: 24.667em;
  border-radius: 3%;
  -webkit-box-shadow: 0.4em 0.4em 0.2em #808080;
  box-shadow: 0.4em 0.4em 0.2em #808080;
}
.ar-mast {
  border-radius: 1rem;
  width: 100%;
  margin: auto 0;
  margin-top: 1rem;
  margin-bottom: 0rem;
  padding-top: 1.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
.ar-row {
  width: 99%;
  margin: 0.5%;
}
.ar-skillpanel {
  border-top: solid 0.1rem DodgerBlue;
  border-bottom: solid 0.1rem DodgerBlue;
}
.ar-skillrow {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.ar-skilltext {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2%;
  color: #808080;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.ar-text {
  font-size: 1.25rem;
  text-align: left;
  padding: 0 2% 0 2%;
  margin-top: 0.5rem 0 0.5rem 0;
}
.ar-title {
  font-size: 3rem;
  margin-top: 1rem;
  padding-top: 0rem;
  padding-right: 1rem;
  text-align: right;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}
.ar-tutbtn {
  font-size: 3rem;
  line-height: 100%;
}
.ar-tutbtn:hover {
  color: #fff;
  background-color: #f00;
}
.ar-tutbtn:active {
  color: #fff;
  background-color: #f00;
}
.ar-tutbtn:focus {
  color: #fff;
  background-color: #f00;
}
.ar-tutheading {
  line-height: 125%;
  padding-left: 15%;
  padding-right: 15%;
}
.ar-vimg {
  width: 23.333em;
  border-radius: 3%;
  margin-bottom: 1%;
  -webkit-box-shadow: 0.4em 0.4em 0.2em #808080;
  box-shadow: 0.4em 0.4em 0.2em #808080;
}
#myNavbar ul {
  margin-top: 1%;
}
#myNavbar ul a {
  line-height: 1rem;
  display: inline;
}
.navbar {
  border-bottom: 0.5rem solid #000;
  padding-bottom: 1rem;
}
.nv-btn {
  font-size: 5rem;
  background-color: DodgerBlue;
  margin-right: 0.5rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2rem;
  border-style: none;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-top: 0rem;
  max-height: 7rem;
  line-height: 100%;
}
.nv-btn:hover {
  background-color: #fff;
  color: DodgerBlue;
}
.nv-title {
  font-size: 7rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-shadow: none;
  border-style: none;
  letter-spacing: 1.25rem;
}
@media (min-width: 0px) and (max-width: 576px) {
  .ar-contbg {
    border: 0;
  }
  .cs-ovals {
    width: 8em;
    height: 8em;
    max-width: 8em;
    max-height: 8em;
    margin-bottom: 0rem;
  }
  .cs-bannerimg {
    background-image: none;
    background-color: DodgerBlue;
  }
  .cs-name {
    border: none;
  }
  #cs-splash {
    width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .cs-ovals {
    width: 7em;
    height: 7em;
    max-width: 7em;
    max-height: 7em;
    margin-bottom: 0rem;
  }
  .popover {
    display: none;
  }
  .popovercontent {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .cs-ovals {
    width: 7em;
    height: 7em;
    max-width: 7em;
    max-height: 7em;
    margin-bottom: 0rem;
  }
  .popover {
    display: none;
  }
  .popovercontent {
    display: none;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .cs-ovals {
    width: 10em;
    height: 10em;
    max-width: 10em;
    max-height: 10em;
    margin-bottom: 0rem;
  }
  .popover {
    display: none;
  }
  .popovercontent {
    display: none;
  }
}
@media (min-width: 1201px) {
  .cs-ovals {
    width: 12em;
    height: 12em;
    max-width: 12em;
    max-height: 12em;
    margin-bottom: 0rem;
  }
  .popover {
    display: none;
  }
  .popovercontent {
    display: none;
  }
}
