.container
	.col-lg-12
		p &nbsp;
		p &nbsp;
	.col-lg-6
		img.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/3dbox.jpg")
	.col-lg-6.text-center
		h1.downloadheading HYPERCRISIS
		h4.downloadtext GET READY FOR THE FIGHT OF YOUR LIFE! Superheroes and supervillains clash in this lightning-fast card game based on S House Studio's S.H.U. podcast!
		br
		h4.downloadtext Want to unleash your criminal empire onto the hapless heroes? Stop a megalomaniacal supervillain by hitting him with a truck? Bend space and time during a knock-down, drag-out brawl? HYPERCRISIS lets you bring an epic comic book fight to life so pick your character and knuckle up!
		br
		button.btn.btn-primary.btn-block.downloadbutton(onClick='location.href="https://www.dropbox.com/s/6b23exhwrtynbrb/Hypercrisis%20Open%20Beta%20April.rar?dl=0"') DOWNLOAD NOW!