extends ../includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				h1.navbar-brand.nv-title.f-oku.wtxt.text-center(onClick='location.href="/"') HYPERCRISIS
			#myNavbar.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li
						button.btn.btn-primary.lg.nv-btn.f-oku.wtxt(type='button' onClick='location.href="../characterselect"') Characters
						button.btn.btn-primary.lg.nv-btn.f-oku.wtxt(type='button' onClick='location.href="../articles"') How To Play
						button.btn.btn-primary.lg.nv-btn.f-oku.wtxt(type='button' onClick='location.href="../download"') Download!
						button.btn.btn-primary.lg.nv-btn.f-oku.wtxt(type='button' onClick='location.href="../feedback"') Playtest

	section.content
			div(ng-view)