extends ../includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				h1#navbar-brand.navbar-brand(onClick='location.href="/"') HYPERCRISIS
			#myNavbar.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right.navbuttonmargin
					li
						button.btn.btn-primary.lg.navbutton.adventure(type='button' onClick='location.href="../characterselect"') Characters
						button.btn.btn-primary.lg.navbutton.adventure(type='button' onClick='location.href="../characterselect"') How To Play
						button.btn.btn-primary.lg.navbutton.adventure(type='button' onClick='location.href="../download"') Download Now!
						button.btn.btn-primary.lg.navbutton.adventure(type='button' onClick='location.href="../feedback"') Submit Playtest

	section.content
			div(ng-view)