div.charselectbg
	.container.text-center
		.row.charselectroster
			.col-md-12
				.col-md-6.articlecardpanel
					img(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/deadeyecharselect.jpg" onClick='location.href="../characters/deadeye"')
				.col-md-6.articlecardpanel
					h1 DEADEYE
					h3 THE SINISTER SNIPER
					col-md-12
						img.charpagedifficulty(src="../../images/intermediate.png")
						&nbsp;
						img.charpagedifficulty(src="../../images/intermediate.png")
						&nbsp;
						img.charpagedifficulty(src="../../images/intermediate.png")
			.col-md-12
				img#de.charselectoval.de-charselectoval(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/deadeyecharselect.jpg" onClick='location.href="../characters/deadeye"')
				img#gg.charselectoval.gg-charselectoval(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/gravitygirlcharselect.jpg" onClick='location.href="../characters/gravitygirl"')
				img#kx.charselectoval.kx-charselectoval(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/knoxcharselect.jpg" onClick='location.href="../characters/knox"')
				img#ob.charselectoval.ob-charselectoval(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/obscuritycharselect.jpg" onClick='location.href="../characters/obscurity"')		
				img#qu.charselectoval.qu-charselectoval(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/querycharselect.jpg" onClick='location.href="../characters/query"')
				img#rb.charselectoval.rb-charselectoval(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/robonobocharselect.jpg" onClick='location.href="../characters/robonobo"')
				img#sa.charselectoval.sa-charselectoval(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/siliconartistcharselect.jpg" onClick='location.href="../characters/siliconartist"')
			.col-lg-12#charselectname.charselectnamedefault
				h1#charselecttitle.charselecttitle {{character}}
