div.charselectbg
	.container.text-center
		.row.charselectroster
			.col-md-12
				img#de.charselectoval.de-charselectoval(src="../../images/deadeyecharselect.png" onClick='location.href="../characters/deadeye"')
				img#gg.charselectoval.gg-charselectoval(src="../../images/gravitygirlcharselect.png" onClick='location.href="../characters/gravitygirl"')
				img#kx.charselectoval.kx-charselectoval(src="../../images/knoxcharselect.png" onClick='location.href="../characters/knox"')
				img#ob.charselectoval.ob-charselectoval(src="../../images/obscuritycharselect.png" onClick='location.href="../characters/obscurity"')		
				img#qu.charselectoval.qu-charselectoval(src="../../images/querycharselect.png" onClick='location.href="../characters/query"')
				img#rb.charselectoval.rb-charselectoval(src="../../images/robonobocharselect.png" onClick='location.href="../characters/robonobo"')
				img#sa.charselectoval.sa-charselectoval(src="../../images/siliconartistcharselect.png" onClick='location.href="../characters/siliconartist"')
			.col-lg-12#charselectname.charselectnamedefault
				h1#charselecttitle.charselecttitle {{character}}
