.container-fluid
	.container.top-padding-med
		.row.cs-info.wbg.curve
			.col-md-6.cs-row.text-center
				img#de.cs-ovals(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_48:420,r_25/v1498676135/deoval.png" onClick='location.href="../characters/deadeye"')

				img#gg.cs-ovals(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_48:420,r_25/v1498676135/ggoval.png" onClick='location.href="../characters/gravitygirl"')

				img#kx.cs-ovals(src="http://res.cloudinary.com/jhi5/image/upload/q_54/v1498771393/kxoval.png" onClick='location.href="../characters/knox"')

				img#ob.cs-ovals(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_48:420,r_25/v1498676135/oboval.png" onClick='location.href="../characters/obscurity"')

				img#qu.cs-ovals(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_48:420,r_25/v1498676135/quoval.png" onClick='location.href="../characters/query"')

				img#rb.cs-ovals(src="http://res.cloudinary.com/jhi5/image/upload/q_54/v1498849911/rboval.png" onClick='location.href="../characters/robonobo"')

				img#sa.cs-ovals(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_48:420,r_25/v1498676135/saoval.png" onClick='location.href="../characters/siliconartist"')

				img#wf.cs-ovals(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_48:420,r_25/v1498676135/wfoval.png" onClick='location.href="../characters/wayfarer"')
			.col-md-6.cs-imgrow
				&nbsp;
				img.img-responsive.curve#cs-splash.cs-banner.curve(src="{{splash}}")
				&nbsp;
				h1.cs-name.cs-bg#cs-name.f-adv.wtxt.outlinetxt.cs-defaultname {{character}}
				&nbsp;
