.container-fluid.text-center
	h1.text-center.okuda#characterselecttitle.characterselectbasic {{character}}
	img.charselect.decharselect#de(src="../../images/deadeyecharselect.png" onClick='location.href="../characters/deadeye"')
	img.charselect.ggcharselect#gg(src="../../images/gravitygirlcharselect.png" onClick='location.href="../characters/gravitygirl"')
	img.charselect.kxcharselect#kx(src="../../images/knoxcharselect.png" onClick='location.href="../characters/knox"')
	img.charselect.obcharselect#ob(src="../../images/obscuritycharselect.png" onClick='location.href="../characters/obscurity"')
	img.charselect.qucharselect#qu(src="../../images/querycharselect.png" onClick='location.href="../characters/query"')
	img.charselect.rbcharselect#rb(src="../../images/robocharselect.png" onClick='location.href="../characters/robonobo"')
	img.charselect.crosscharselect#cross(src="../../images/crosscharselect.png" onClick='location.href="../characters/crossovers"')
