.container-fluid.charpagebg
	.container.top-padding-med
		.row.charpageinfocard			
			div.tab-content
				#default.tab-pane.active
					.col-md-12
						img.articlebanner(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/debanner1.jpg")
						.de-charname.text-center#charname Deadeye
				#howtoplay.tab-pane
					.col-md-4
						div.charpageheadshotbg
							img.de-charpageheadshot.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/deadeyecharselect.png")
					.col-md-8												
						row.charselecticonsubrow
							div.col-md-6.charselecticondivplus
								img#charselectplus1.charselecticonimage(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_64/v1498840640/playerdamageicon.png")
								hr.charselecticonhr
								p#charselectplus1label.charselecticontext + player dmg
							div.col-md-6.charselecticondivplus
								img#charselectplus2.charselecticonimage(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_64/v1498840640/discardicon.png")
								hr.charselecticonhr
								p#charselectplus2label.charselecticontext + discard
							div.col-md-6.charselecticondivminus
								img#charselectminus1.charselecticonimage(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_64/v1498840640/armoricon.png")
								hr.charselecticonhr
								p#charselectminus1label.charselecticontext - armor
							div.col-md-6.charselecticondivminus
								img#charselectminus2.charselecticonimage(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_64/v1498840640/utilitydamageicon.png")
								hr.charselecticonhr
								p#charselectminus2label.charselecticontext - utility dmg
							.col-md-6
								.button.btn.btn-block Read The Player's Guide
							.col-md-6
								#charselectdifficultybg.charselectdifficulty
									.row.charselectdifficultyrow
										.col-md-3
											img.charselectdifficultyicon#difficultyicon(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_64/v1498840640/intermediate.png")
										.col-md-9
											h3.charselectdifficultylabel DIFFICULTY						
				#bio.tab-pane
					.col-md-4
						div.charpageheadshotbg
							img.de-charpageheadshot.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/deadeyecharselect.png")
					.col-md-8
						.row
							.col-md-12
								h1 THE SINISTER SNIPER						
							.col-md-12
								p Raised in a warzone, the sinister sniper DEADEYE grew up day and night with a gun in her hand. After escaping from her forced conscription alongside her estranged sister, DEADEYE kept that same gun on her waist for safety. Since that day, her gun has made her rich, powerful and feared. 

								p DEADEYE is on a brutal sharpshooter contracted with Knox's Villain Underground. As a professional assassin, DEADEYE has quickly gained a reputation as a cold-blooded killer. Despite an everpresent disgust with her teammates, DEADEYE has proven to be a dangerous and loyal ally to the Villain Underground. 
							.col-md-6
								#charselectalignmentbg.charselectalignment
									.row.charselectalignmentrow
										.col-md-3
											img.charselectalignmenticon#alignmenticon(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_64/v1498843403/villainicon.png")
										.col-md-9
											h3.charselectalignmentlabel#alignmentlabel VILLAIN
							.col-md-6
								button.btn.btn-block listen to the podcast
				#skill.tab-pane
					.col-md-4
						div.charpageheadshotbg
							img.de-charpageheadshot.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/deadeyecharselect.png")
					.col-md-8
						img.charpageskillimage(src="http://res.cloudinary.com/jhi5/image/upload/aim.png")
						h3 Whenever your Actions or Feats deal damage, add your Aim to that damage. At the end of each turn, reset your Aim to 0.
			.col-md-12				
				a(href="../characterselect")
					img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:333366,c_scale,q_54,w_110/v1498845176/backarrowicon.jpg")
				img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:333366,c_scale,q_54,w_110/v1498845176/strategylogo.jpg" ng-click="changePanel('#howtoplay')")
				img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:333366,c_scale,q_54,w_110/v1498845176/villainicon.jpg" ng-click="changePanel('#bio')")
				img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:333366,c_scale,e_auto_contrast,q_54,w_110/v1499890549/deadeyelogo.jpg" ng-click="changePanel('#skill')")
				a(href="https://www.dropbox.com/s/6b23exhwrtynbrb/Hypercrisis%20Open%20Beta%20April.rar?dl=0")
					img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:333366,c_scale,q_54,w_110/v1498845176/downloadicon.jpg")
			.modal.fade.top-padding-med.modal-admin#myModal(role="dialog")
				.modal-header
					.row
						.col-md-6.text-center
							button.btn.charpagemodalpreviousbutton(ng-click="findPreviousEntry()" ng-hide="hidePrevious()") Previous
							button.btn.charpagemodalclosebutton(data-dismiss="modal" ng-click="emptyModal()") Close Window
							button.btn.charpagemodalnextbutton(ng-click="findNextEntry()" ng-hide="hideNext()") Next
						.col-md-6
							h1#modaltitle.de-charpagemodalcardname.text-center {{modalContent.name}}
				.modal-body
					.col-md-6.charpagemodalimagecontainer
						img.charpagemodalimage.img-responsive(src="{{modalContent.illustrations[0]}}" data-toggle="popover" data-trigger="hover"
					data-content="{{modalContent.flavor[0]}}")
						.row.charpagemodalutilityrow(ng-hide="modalContent.utilityValues == null")
							.col-md-8.col-md-offset-2
									.col-md-4.charpagemodalutilitycell
										h4.charpagemodalhpheading.text-center Hit Points					
										h2#hpsymbol.charpagemodalutilityvalue.text-center {{modalContent.utilityValues[0]}} 
									.col-md-4.charpagemodalutilitycell.text-center
										h4.charpagemodalfightheading.text-center Fight
										h2#fightsymbol.charpagemodalutilityvalue.text-center {{modalContent.utilityValues[1]}}
									.col-md-4.charpagemodalutilitycell.text-center
										h4.charpagemodalarmorheading.text-center Armor
										h2#armorsymbol.charpagemodalutilityvalue.text-center {{modalContent.utilityValues[2]}} 					
					.col-md-6
						.row.charpagemodaliconrow
							.col-md-12.charpagemodalcardcells
								.col-md-6
									h4.charpagemodalratingheading.text-center Rating
									img.img-responsive.charpagemodalrating(src="{{modalContent.ratingSymbol}}")
								.col-md-6
									h4.charpagemodaltypeheading.text-center Type
									img.img-responsive.charpagemodaltype(src="{{modalContent.typeSymbol}}" alt="{{modalContent.type}}")						
						.row
							.col-md-12
								h3.charpagemodaltextheading.text-center Card Text
								h3.charpagemodaltext.text-center {{modalContent.text}}
						.row
							.col-md-12
								h3.charpagemodalcommentheading.text-center Comment
								h3.charpagemodalcomment.text-center(ng-repeat='comment in modalContent.comments') {{comment}}
		br
		.row
			.col-md-12.charpagesearchfiltertable
				table.table.table-hover.table-condensed(ng-if="loaded")
					thread						
						.row
							.col-md-12.charpagedatabaseheadingbg
								h2.text-center.charpagedatabaseheading Deadeye Card Database
								h3.text-center.charpagedatabasesubheading click on a card's name to see more details!
								div.charpagesearchfiltercontainer
									.row
										.col-md-12
											button.btn.btn-block.charpagesearchfilterheading.text-center(data-toggle="collapse" data-target="#searchfilter") Search Filters
									#searchfilter.collapse
										.row.text-center.charpagesearchfiltertagbg
											.col-md-6.charpagesearchfiltertagcol
												div.charpagesearchfiltertagrow(ng-repeat="tag in tagArray")
													button.charpagesearchfilterexcludedtag(ng-click='filterButton(tag)' ng-hide='hideTagButton(tag)') - {{tag}}
											.col-md-6.charpagesearchfiltertagcol
												div.charpagesearchfiltertagrow(ng-repeat="tag in currentTags")
													button.charpagesearchfilterincludedtag(ng-click='removeFilterButton(tag)') + {{tag}}
													&nbsp;
										.row.charpagesearchfilterbuttonrow
											.col-md-4
												button.charpagesearchfilterresetbutton(ng-click='resetTags()') Reset Tags
											.col-md-4
												button#crossbutton.crossbutton.charpagesearchfiltercrossoverbutton(type='button' data-toggle='button' ng-model='checkBox' ng-click='logCheckBox()') Crossovers Off			
											.col-md-4
												button#featbutton.featbutton.charpagesearchfilterfeatbutton(type='button' data-toggle='button' ng-model='featBox' ng-click='logFeatBox()') Feats Off		
						tr.charpagedatabasetablebox
							th.charpagedatabasetablefield
								h3.charpagedatabasefieldheading.text-center Name
							th.charpagedatabasetablefield.text-center
								h3.charpagedatabasefieldheading Type
							th.charpagedatabasetablefield.text-center
								h3.charpagedatabasefieldheading Rating
							th.charpagedatabasetablefield.text-center
								h3.charpagedatabasefieldheading Text
							tbody.charpagedatabasetablebody
								tr.charpagedatabasetablebodyrow(ng-repeat="card in cards | filter:containsTags | orderBy: 'name'")
									td
										h2.charpagedatabasecardtitle.text-center(ng-click="transferModalContent(card.name)") {{card.name}}
									td
										img.img-responsive.charpagedatabasetypesymbol.text-center(src='{{card.typeSymbol}}')
									td
										img.img-responsive.charpagedtatbasetypesymbol.text-center(src='{{card.ratingSymbol}}')
									td
										h3.charpagedatabasetext.text-center {{card.text}}