.container.top-padding-med.charpage
	.row
		.col-md-6.text-center
			div.gg-profilebg
				img.charpage-img.charpagebg(src="../../images/gravitygirlcharselect.png")
			h1.charpage-name.okuda GRAVITY GIRL 
			button.btn.btn-block.btn-success.charpage-download Download Now!
		.col-md-6.charbio.text-center
			h3.gg-profileheadings.okuda POWERS
				h3.profiletext.okuda Gravity Manipulation, Time Manipulation, Teleportation Via Portals	
			h3.gg-profileheadings.okuda STRENGTHS & WEAKNESSES
				h3.okuda.profiletext + Versatile, Combo Friendly
				h3.okuda.profiletext - Poor Card Draw, Hard To Deckbuild
			h3.gg-profileheadings.okuda DIFFICULTY
				div.charpage-skill
					img.charpage-difficulty(src="../../images/easy.png")
			h3.gg-profileheadings.okuda SKILL
				div.charpage-skill				
					img(src="../../images/throw.png")
		.modal.fade.top-padding-med.modal-admin#myModal(role="dialog")
			.modal-header
				button.btn.btn-block.btn-success(data-dismiss="modal" ng-click="emptyModal()") Close This Window
			.modal-body
				.col-md-6.text-center
					img(src="{{modalContent.illustrations[0]}}")
					h1.gg-cardtitle {{modalContent.name}}
					h3.text-center.gg-flavortext(ng-hide="modalContent.flavor == null") {{modalContent.flavor[0]}}
				.col-md-6.text-center
					.row
						.col-md-6
							h3.gg-profileheadings.okuda Rating
							h2.text-center {{modalContent.rating}}
						.col-md-6
							h3.gg-profileheadings.okuda Type
							h2.text-center {{modalContent.type}}
					.row(ng-hide="modalContent.utilityValues == null")
						.col-md-12
							h3.gg-profileheadings.okuda Utility Values
						.col-md-4
							h2.utilityvalue {{modalContent.utilityValues[0]}}
							h4.hpheading Hit Points
						.col-md-4
							h2.utilityvalue {{modalContent.utilityValues[1]}}
							h4.fightheading Fight
						.col-md-4
							h2.utilityvalue {{modalContent.utilityValues[2]}}
							h4.armorheading Armor
					.row
						.col-md-12
							h3.gg-profileheadings.okuda Card Text
							h3.text-center {{modalContent.text}}
					.row
						.com-md-12
							h3.gg-profileheadings.okuda Comment
							h3.text-center(ng-repeat='comment in modalContent.comments') {{comment}}
	h1.text-center Gravity Girl Card Database
	h4.text-center Click On A Card Name To Open Its Details!
	table.table.table-hover.table-striped.table-condensed(ng-if="loaded")
		thread
			tr
				th 
					h3 Card Name
				th 
					h3 Card Type
				th 
					h3 Text
				tbody
					tr(ng-repeat="card in cards | filter: { character: 'Gravity Girl'} | orderBy: 'name'")
						td
							h3.adventure(ng-click="transferModalContent(card.name)") {{card.name}}
						td 
							h3 {{card.type}}
						td 
							h3 {{card.text}}