.container-fluid.charpagebg.crp-bg
	.container.top-padding-med
		.row.crp-info.wbg.curve
			div.tab-content
				#default.tab-pane.active
					.col-md-12
						div.crp-banner.ob-banner.curve(src="http://res.cloudinary.com/jhi5/image/upload/e_auto_contrast,q_54:420,r_25/v1498676135/obsplash.jpg")
							div
								.crp-name.ob-bg#charname.f-adv.wtxt.outlinetxt Obscurity
								&nbsp;
				#howtoplay.tab-pane
					.col-md-12
						&nbsp;
					.col-md-4
						div.crp-profilebg
							img.crp-profileimg.ob-headshot(src="http://res.cloudinary.com/jhi5/image/upload/obheadshot.png" data-toggle="popover" data-trigger="hover" data-content="Weaknesses? Fat chance. Keep clicking, nerd.")
							button.btn.btn-block.crp-profilesub.ob-bg
									.col-md-2
										img(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_64/v1498840640/intermediateicon.png")
									.col-md-10
										h3.crp-sublbl.wtxt.f-oku Intermediate
					.col-md-8
						.row.crp-chtagrow
							.col-md-4
								h2.crp-pluslbl.f-adv strengths			
							.col-md-4.crp-chplustag
								img(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_100/v1498840640/playerdamageicon.png")
								h5.crp-taglbl.wtxt.f-oku player dmg
							.col-md-4.crp-chplustag
								img.plusminusicon(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_100/v1498840640/discardicon.png")
								h5.crp-taglbl.wtxt.f-oku discard
						.row.crp-chtagrow
							.col-md-4
								h2.crp-minuslbl.f-adv weaknesses
							.col-md-4.crp-chminustag
								img.plusminusicon(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_100/v1498840640/armoricon.png")
								h5.crp-taglbl.wtxt.f-oku armor
							.col-md-4.crp-chminustag
								img.plusminusicon(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_100/v1498840640/utilitydamageicon.png")
								h5.crp-taglbl.wtxt.f-oku utility dmg
						&nbsp;							
					.col-md-12
							button.btn.btn-block.crp-blockbtn.ob-bg.f-adv.wtxt.outlinetxt
								.col-md-2
									img(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:cc6699,c_scale,q_54,w_72/v1498845176/guideicon.jpg")
								.col-md-10
									h3.crl-blockbtnlbl.wtxt Read The Player's Guide!
					.row
						.col-md-12
							&nbsp;				
				#bio.tab-pane
					.col-md-12
						&nbsp;
					.col-md-4
						div.crp-profilebg
							img.crp-profileimg.ob-headshot(src="http://res.cloudinary.com/jhi5/image/upload/obheadshot.png" data-toggle="popover" data-trigger="hover" data-content="Stop asking questions and start running.")
							button.btn.btn-block.crp-profilesub.ob-bg
									.col-md-2
										img(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_64/v1498840640/heroicon.png")
									.col-md-10
										h3.crp-sublbl.wtxt.f-oku Hero
					.col-md-8
						.row
							.col-md-12.text-center
								div
									.crp-chheading.f-adv.wtxt.outlinetxt.ob-bg BIOGRAPHY				
						.row
							.col-md-12.text-center
								p.crp-biotxt Raised in a warzone, the sinister sniper DEADEYE grew up day and night with a gun in her hand. After escaping from her forced conscription alongside her estranged sister, DEADEYE kept that same gun on her waist for safety. Since that day, her gun has made her rich, powerful and feared. 

								p.crp-biotxt DEADEYE is on a brutal sharpshooter contracted with Knox's Villain Underground. As a professional assassin, DEADEYE has quickly gained a reputation as a cold-blooded killer. Despite an everpresent disgust with her teammates, DEADEYE has proven to be a dangerous and loyal ally to the Villain Underground. 
						.row
							.col-md-12
								button.btn.btn-block.crp-blockbtn.ob-bg.f-adv.wtxt.outlinetxt
									.col-md-2
										img(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:cc6699,c_scale,q_54,w_72/v1498845176/podcasticon.jpg")
									.col-md-10
										h3.crp-blockbtnlbl.wtxt Listen To The Amberville 
										h3.crp-blockbtnlbl.wtxt Heroes Podcast!
				#skill.tab-pane
					.col-md-12
						&nbsp;
					.col-md-4
						div.crp-profilebg
							img.crp-profileimg.ob-headshot(src="http://res.cloudinary.com/jhi5/image/upload/obheadshot.png" data-toggle="popover" data-trigger="hover" data-content="Leave this to the professionals.")
							button.btn.btn-block.crp-profilesub.ob-bg
									.col-md-2
										img(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_64/v1498840640/oblogo.png")
									.col-md-10
										h3.crp-sublbl.wtxt.f-oku SKILL : VANISH				
					.col-md-8.text-center
						img.crp-skill.curved(src="http://res.cloudinary.com/jhi5/image/upload/vanish.png")
						br
						h3.crp-skilltxt Whenever your Actions or Feats deal damage, add your Aim to that damage. At the end of each turn, reset your Aim to 0.
			.row.crp-btnrow
				.col-md-1
					&nbsp;				
				.col-md-2.crp-navbtn.ob-bg#howtoplaybutton
					img(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:cc6699,c_scale,q_54,w_110/v1498845176/strategylogo.jpg" ng-click="changePanel('#howtoplay')")
				.col-md-2.crp-navbtn.ob-bg#biobutton
					img(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:cc6699,c_scale,q_54,w_110/v1498845176/heroicon.jpg" ng-click="changePanel('#bio')")
				.col-md-2.crp-navbtn.ob-bg#skillbutton
					img(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:cc6699,c_scale,e_auto_contrast,q_54,w_110/v1499890549/oblogo.jpg" ng-click="changePanel('#skill')")
				.col-md-2.crp-navbtn.ob-bg#downloadbutton 
					a(href="https://www.dropbox.com/s/6b23exhwrtynbrb/Hypercrisis%20Open%20Beta%20April.rar?dl=0")
						img(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:cc6699,c_scale,q_54,w_110/v1498845176/downloadicon.jpg")
				.col-md-2.crp-navbtn.ob-bg#backbutton
					a(href="../characterselect")
						img(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:cc6699,c_scale,q_54,w_110/v1498845176/backarrowicon.jpg")
				.col-md-1
					&nbsp;	
			.modal.fade.top-padding-med.modal-admin#myModal(role="dialog")				
				.modal-body
					.col-md-6.md-imgcntr
						img.md-cardimg.img-responsive.curve(src="{{modalContent.illustrations[0]}}" data-toggle="popover" data-trigger="hover" data-content="Flavor Text: {{modalContent.flavor[0]}}" data-placement="bottom")
						&nbsp;
						.row(ng-hide="modalContent.type === 'Action' || modalContent.type === 'Feat' || modalContent.type === 'Special'")
							.col-md-4
								button.btn.btn-block
									.row.de-bg
										.col-md-4
											h2#hpsymbol.md-utilval.wtxt.f-adv.text-left		{{modalContent.utilityValues[0]}}
										.col-md-8
											img.md-utilsymbol(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:333366,c_scale,q_54,w_110/v1498845176/hpicon.jpg")
							.col-md-4
								button.btn.btn-block
									.row.de-bg
										.col-md-4
											h2#fightsymbol.md-utilval.wtxt.f-adv {{modalContent.utilityValues[1]}}
										.col-md-8
											img.md-utilsymbol(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:333366,c_scale,q_54,w_110/v1498845176/fighticon.jpg")
							.col-md-4
								button.btn-block
									.row.de-bg
										.col-md-4
											h2#armor.md-utilval.wtxt.f-adv {{modalContent.utilityValues[2]}}
										.col-md-8
											img.md-utilsymbol(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:333366,c_scale,q_54,w_110/v1498845176/armoricon.jpg")
					.col-md-6
						.row
							.col-md-12
								h1.md-cardname.de-bg.text-center.f-adv.wtxt.outlinetxt#modaltitle {{modalContent.name}}
						.row
							.col-md-12
								.col-md-6
									h4.md-modallbl.text-center.wtxt.f-oku.de-bg Rating
									img.img-responsive.md-rating(src="{{modalContent.ratingSymbol}}")
								.col-md-6
									h4.md-modallbl.text-center.wtxt.f-oku.de-bg Card Type
									img.img-responsive.md-type(src="{{modalContent.typeSymbol}}" alt="{{modalContent.type}}")
						.row
							.col-md-12
								.col-md-12
									h4.md-modallbl.text-center.wtxt.f-oku.de-bg Card Text
									h3.md-cardtext.f-oku.text-center {{modalContent.text}}
						.row
							.col-md-12
								h3.md-modallbl.text-center.wtxt.f-oku.de-bg Comments
								h3.md-comments.f-oku.text-center(ng-repeat='comment in modalContent.comments') {{comment}}
					.col-md-12
						.row
							footer.md-footer.navbar-fixed-bottom
								.col-md-3
									button.btn.btn-block.md-navbtn.outlinetxt(ng-click="findPreviousEntry()" ng-hide="hidePrevious()") ◀
								.col-md-3												
									button.btn.btn-block.md-navbtn.outlinetxt(ng-click="findNextEntry()" ng-hide="hideNext()") ▶
								.col-md-5
									h1.text-center.md-cardview.f-oku CARD VIEWER: {{modalContent.name}}
								.col-md-1
									button.btn.btn-block.md-close.md-navbtn.outlinetxt(data-dismiss="modal" ng-click="emptyModal()") X
		br
		.row
			.col-md-12.db-tablebg.de-bg.curved
				h2.text-center.f-adv.wtxt.outlinetxt.db-heading Deadeye Card Database
				table.table.table-hover.table-condensed(ng-if="loaded")
					thread						
						.row
							.col-md-12.wbg.db-controlsbg
								#searchfilter
										.row.db-controlsrow
												form.form-inline
													.form-group.db-search
														input.form-control(ng-model="searchText", placeholder="Quick Search")
										.row
											.col-md-4
												button.btn.btn-block#crossbutton.db-buttons.f-adv.de-bg(ype='button' data-toggle='button' ng-model='checkBox' ng-click='logCheckBox()')
													.col-md-2
														img(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:333366,c_scale,q_54,w_110/v1498845176/crossovericon.jpg" data-toggle="popover" data-trigger="hover" data-content="Include Crossovers In Search?")
													.col-md-10
															h3.db-btnlbl.wtxt Crossover
											.col-md-4
												button.btn.btn-block.db-buttons.de-bg.f-adv(ng-click='resetTags()')
													.col-md-2
														img(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:333366,c_scale,q_54,w_110/v1498845176/refreshicon.jpg" data-toggle="popover" data-trigger="hover" data-content="Reset Search")
													.col-md-10
															h3.db-btnlbl.wtxt Reset
											.col-md-4
												button.btn.btn-block.db-buttons.de-bg.f-adv(data-toggle="collapse" data-target="#tagrow")
													.col-md-2
														img(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:333366,c_scale,q_54,w_110/v1498845176/tagicon.jpg" data-toggle="popover" data-trigger="hover" data-content="Add Search Tag")
													.col-md-10
															h3.db-btnlbl.wtxt Tags
										#tagrow.collapse
											.row
												.col-md-3
													h3.db-taglbl.f-oku.text-center ACTIVE SEARCH TAGS: 
												.col-md-9
													div.db-tagrow(ng-repeat="tag in currentTags")
															button.db-inctag.wtxt.f-oku(ng-click='removeFilterButton(tag)') + {{tag}}			
											.row
												.col-md-3
													h3.db-taglbl.f-oku.text-center INACTIVE SEARCH TAGS: 
												.col-md-9
													div.db-tagrow(ng-repeat="tag in tagArray")
														button.db-extag.wtxt.f-oku(ng-click='filterButton(tag)' ng-hide='hideTagButton(tag)') {{tag}}
										.row
											&nbsp;
						tr.db-tablebox
							th.db-tableheading.f-oku.wtxt
								button.btn.btn-block.db-fieldheading(ng-click='setOrder("name")') Name
							th.db-tableheading.f-oku.wtxt
								button.btn.btn-block.db-fieldheading(ng-click='setOrder("type")') Type
							th.db-tableheading.f-oku.wtxt
								button.btn.btn-block.db-fieldheading(ng-click='setOrder("rating")') Rating
							th.db-tableheading.f-oku.wtxt
								button.btn.btn-block.db-fieldheading(ng-click='setOrder("text")') Text
							tbody.db-tablebody
								tr.db-tablerow(ng-repeat="card in cards | filter:containsTags | orderBy: sortOrder")
									td
										h2.db-table-title.f-adv.text-center(ng-click="transferModalContent(card.name)") {{card.name}}
									td
										img.db-table-symbol.img-responsive.text-center(src='{{card.typeSymbol}}')
									td
										
										img.db-table-symbol.img-responsive.text-center(src='{{card.ratingSymbol}}')
									td
										h3.db-table-text.text-center.f-oku {{card.text}}