.container-fluid
	.container.top-padding-med
		.row.crp-info.curve.qu-bg.curve.border-small-white.drop-shadow
			.tab-content.crp-tabcontent		
				.col-md-4
					&nbsp;
					.crp-headcol
						img.crp-profileimg.qu-headshot(src="http://res.cloudinary.com/jhi5/image/upload/quheadshot.png" data-toggle="popover" data-trigger="hover" data-content="Do you think it's possible to win a war without raising a fist?")
						.crp-name#charname.f-adv.wtxt.outlinetxt.crp-drkbg Query
				#howtoplay.tab-pane.active
					&nbsp;
					.col-md-8.crp-pane
						.qu-charnamebg
							.row.text-center
								.col-md-6
									.col-md-12
										h1.crp-taglbl.wtxt.f-adv.curve.crp-drkbg.border-small-white.outlinetxt-soft ALIGNMENT	
										img.crp-icon(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_90/v1498840640/heroicon.png")
										h1.crp-taglbl.wtxt.f-oku.curve.outlinetxt-soft hero
								.col-md-6
									.col-md-12
										h1.crp-taglbl.wtxt.f-adv.curve.crp-drkbg.border-small-white.outlinetxt-soft DIFFICULTY
										img.crp-icon(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_90/v1508785460/star.png")
										img.crp-icon(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_90/v1508785460/star.png")
										h1.crp-taglbl.wtxt.f-oku.curve.outlinetxt-soft average						
							.row.crp-3margin
								.col-md-6
									h1.wtxt.f-adv.text-center.crp-taglbl.curve.crp-drkbg.border-small-white.outlinetxt-soft STRENGTHS
									.col-md-6.crp-chplustag
										img.crp-icon(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_100/v1498840640/disruptionicon.png")
										h5.crp-taglbl.wtxt.f-oku.curve.outlinetxt-soft disruption
									.col-md-6.crp-chplustag
										img.crp-icon(src="http://res.cloudinary.com/jhi5/image/upload/,c_scale,w_100/v1498840640/healingicon.png")
										h5.crp-taglbl.wtxt.f-oku.curve.outlinetxt-soft healing									
								.col-md-6
									h1.wtxt.f-adv.text-center.curve.crp-taglbl.crp-drkbg.border-small-white.outlinetxt-soft WEAKNESSES
									.col-md-6.crp-chminustag
										img.crp-icon(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_100/v1498840640/armor.png")
										h5.crp-taglbl.wtxt.f-oku.outlinetxt-soft armor
									.col-md-6.crp-chminustag
										img.crp-icon(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,w_100/v1498840640/utilitydamageicon.png")
										h5.crp-taglbl.wtxt.f-oku.curve.outlinetxt-soft utility dmg						
				#bio.tab-pane
					&nbsp;
					.col-md-8.crp-pane		
						.row
							.col-md-12.text-center								
								h3.crp-biotxtlbl.wtxt.f-adv.outlinetxt SUSPICIOUS SPY
								h3.crp-biotxt.wtxt.outlinetxt A collector of secrets, QUERY has spied on superheroes and supervillains alike. Master of disguise, QUERY changes faces, genders and personalities to infiltrate the lives of their targets. Since the joining the Amberville Heroes, Query has taken on the role of an altrustic superhero and trusted ally. What changed? Why did they join the team in the first place? What do they know?
						.row
							.col-md-12
								button.btn.btn-block.crp-blockbtn.f-adv.wtxt.qu-bg.curve.border-small-white
									a(href="http://shousestudio.libsyn.com/")
										.col-md-2
											img.crp-icon(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,q_54,w_100/v1498845176/guideicon.png")
										.col-md-10
											h3.wtxt.f-adv.line-height.outlinetxt Listen to the SHU Podcast!
				#skill.tab-pane
					.col-md-8.crp-pane.text-center
						img.crp-skill.curve(src="http://res.cloudinary.com/jhi5/image/upload/spy.png")
						br
						h3.crp-skilltxt.wtxt.outlinetxt Choose target player. Look at the top 3 cards of their deck then return them in any order.
						&nbsp;
						.row
							.col-md-12
								a(href="https://www.dropbox.com/s/6b23exhwrtynbrb/Hypercrisis%20Open%20Beta%20April.rar?dl=0")
									button.btn.btn-block.crp-blockbtn.f-adv.wtxt.qu-bg.curve.border-small-white
										.col-md-2
											img.crp-icon(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,q_54,w_100/v1498845176/guideicon.png")
										.col-md-10
											h3.wtxt.f-adv.line-height.outlinetxt Read The Player's Guide!
			.row.crp-btnrow			
				.col-md-4.qu-bg#howtoplaybutton.btn.crp-navbtn.qu-bg.f-adv.curve(ng-click="changePanel('#howtoplay')")
					.col-md-3
						img.crp-navbtnimg(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,q_54,w_100/v1498845176/strategylogo.png")
					.col-md-9
						h1.wtxt.f-adv.line-height basics
				.col-md-4.qu-bg#biobutton.btn.crp-navbtn.qu-bg.f-adv.curve(ng-click="changePanel('#bio')")
					.col-md-3
						img.crp-navbtnimg(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,q_54,w_100/v1498845176/villainicon.png")
					.col-md-9
						h1.wtxt.f-adv.line-height lore
				.col-md-4.qu-bg#skillbutton.btn.crp-navbtn.qu-bg.f-adv.curve(ng-click="changePanel('#skill')")
					.col-md-3
						img.crp-navbtnimg(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,q_54,w_100/v1498845176/delogo.png")
					.col-md-9
						h1.wtxt.f-adv.line-height skill
			.modal.fade.top-padding-med.modal-admin#myModal(role="dialog")				
				.modal-body
					.col-md-6.md-imgcntr
						.md-cardimgcontainer
							img.md-cardimg.img-responsive.curve(src="{{modalContent.illustrations[0]}}" data-toggle="popover" data-trigger="hover" data-content="Flavor Text: {{modalContent.flavor[0]}}" data-placement="bottom")
							&nbsp;
						.row
							.col-md-12
								.col-md-4
									a.btn.md-navbtn.outlinetxt-soft.qu-bg.curve.border-small-white.drop-shadow-small.wtxt.f-adv(ng-click="findPreviousEntry()" ng-hide="hidePrevious()") ◀
								.col-md-4												
									a.btn.md-navbtn.outlinetxt-soft.qu-bg.curve.border-small-white.drop-shadow-small.wtxt.f-adv(ng-click="findNextEntry()" ng-hide="hideNext()") ▶
								.col-md-4
									a.btn.md-close.md-navbtn.outlinetxt-soft.qu-bg.curve.border-small-white.wtxt.drop-shadow.f-adv(data-dismiss="modal" ng-click="emptyModal()") CLOSE			
					.col-md-6
						.row
							.col-md-12
								h1.md-cardname.qu-bg.text-center.f-adv.wtxt.outlinetxt-soft#modaltitle.curve.border-small-white.drop-shadow-small {{modalContent.name}}
						.row
							.col-md-12
								.col-md-8
									h4.md-modallbl.text-center.wtxt.f-oku.qu-bg.curve.border-small-white.drop-shadow-small Card Text
									h3.md-cardtext.f-oku.text-center {{modalContent.text}}
									.row(ng-hide="modalContent.type === 'Action' || modalContent.type === 'Feat' || modalContent.type === 'Special'")
										.col-md-12
											h4.md-modallbl.text-center.wtxt.f-oku.qu-bg.curve.border-small-white.drop-shadow-small Utility Values
											.row
												.col-md-4.md-hp.curve
													.col-md-6
														img.md-utilicon.line-height(src="http://res.cloudinary.com/jhi5/image/upload/w_54/v1500962388/hpicon.png")
													.col-md-6
														h1.wtxt.md-utiltxt.f-adv.outlinetxt {{modalContent.utilityValues[0]}}
												.col-md-4.md-fight.curve
													.col-md-6
														img.md-utilicon.line-height(src="http://res.cloudinary.com/jhi5/image/upload/w_54/v1500962388/fighticon.png")
													.col-md-6
														h1.wtxt.md-utiltxt.f-adv.outlinetxt {{modalContent.utilityValues[1]}}
												.col-md-4.md-armor.curve
													.col-md-6
														img.md-utilicon.line-height(src="http://res.cloudinary.com/jhi5/image/upload/w_54/v1500962388/armoricon.png")
													.col-md-6
														h1.wtxt.md-utiltxt.f-adv.outlinetxt{{modalContent.utilityValues[2]}}											
									h3.md-modallbl.text-center.wtxt.f-oku.qu-bg.curve.border-small-white.drop-shadow Comments
									h3.md-comments.f-oku.text-center(ng-repeat='comment in modalContent.comments') {{comment}}
								.col-md-4
									h4.md-modallbl.text-center.wtxt.f-oku.qu-bg.curve.border-small-white.drop-shadow-small Card Type
									img.img-responsive.md-type(src="{{modalContent.typeSymbol}}" alt="{{modalContent.type}}")
									h2.f-oku.text-center {{modalContent.type}}
								.col-md-4(alt="{{modalContent.type}}")
									h4.md-modallbl.text-center.wtxt.f-oku.qu-bg.curve.border-small-white.drop-shadow Rating
									img.img-responsive.md-rating(src="{{modalContent.ratingSymbol}}")
									h2.f-oku.text-center {{modalContent.ratingText}}
		br
		.row
			.col-md-12.db-tablebg.qu-bg.curve
				row.db-bg(ng-click="cardDatabase()" data-toggle="collapse" data-target="#database")
					h2.text-center.f-adv.wtxt.outlinetxt-soft.db-heading#db-heading Open Card Database
				#database.collapse
					table.table.table-hover.table-condensed(ng-if="loaded")
						thread						
							.row
								.col-md-12.wbg.db-controlsbg.curve
									h1.f-oku &nbsp; CARD SEARCH
									#searchfilter
											.row.db-controlsrow.qu-bg.outlinetxt-soft.drop-shadow.curve
													form.form-inline
														.form-group.db-search.curve.border-small
															input.form-control.input-lg.db-input(ng-model="searchText", placeholder="Quick Search")
											.row
												.col-md-12
													h1.f-oku &nbsp; QUICK FILTERS
											.row
												.col-md-4
													button.btn.btn-block#crossbutton.db-buttons.f-adv.qu-bg.curve(ype='button' data-toggle='button' ng-model='checkBox' ng-click='logCheckBox()')
														.col-md-2
															img#crosssymbol(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,q_54,w_75/v1498845176/crossovericon.png" data-toggle="popover" data-trigger="hover" data-content="Include Crossovers In Search?")
														.col-md-10
																h3.db-btnlbl.wtxt.f-adv Xover					
												.col-md-4
													button.btn.btn-block.db-buttons.qu-bg.f-adv.curve(data-toggle="collapse" data-target="#tagrow")
														.col-md-2
															img(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,q_54,w_75/v1498845176/tagicon.png" data-toggle="popover" data-trigger="hover" data-content="Add Search Tag")
														.col-md-10
																h3.db-btnlbl.wtxt.f-adv Tags
												.col-md-4
													button.btn.btn-block.db-buttons.qu-bg.f-adv.curve(ng-click='resetTags()')
														.col-md-2
															img(src="http://res.cloudinary.com/jhi5/image/upload/c_scale,q_54,w_75/v1498845176/refreshicon.png" data-toggle="popover" data-trigger="hover" data-content="Reset Search")
														.col-md-10
																h3.db-btnlbl.wtxt.f-adv Reset
											#tagrow.collapse
												.row.crp-3margin
													.col-md-3
														h1.db-taglbl.f-oku.text-center ACTIVE TAGS: 
													.col-md-9
														div.db-tagrow(ng-repeat="tag in currentTags")
																button.db-inctag.wtxt.f-adv.curve.border-small-white(ng-click='removeFilterButton(tag)') {{tag}}
												.row.crp-3margin
													.col-md-3
														h1.db-taglbl.f-oku.text-center INACTIVE TAGS: 
													.col-md-9
														div.db-tagrow(ng-repeat="tag in tagArray track by $index")
															button.db-extag.wtxt.f-adv.curve.border-small-white(ng-click='filterButton(tag)' ng-hide='hideTagButton(tag)') {{tag}}
											.row
												&nbsp;
						br
						tr.db-tablebox
							th.db-tableheading.f-oku.wtxt
								button.btn.btn-block.db-fieldheading.qu-bg(ng-click='setOrder("name")') Name
							th.db-tableheading.f-oku.wtxt
								button.btn.btn-block.db-fieldheading(ng-click='setOrder("type")') Type
							th.db-tableheading.f-oku.wtxt
								button.btn.btn-block.db-fieldheading(ng-click='setOrder("rating")') Rating
							th.db-tableheading.f-oku.wtxt
								button.btn.btn-block.db-fieldheading(ng-click='setOrder("text")') Text
							tbody.db-tablebody
								tr.db-tablerow(ng-repeat="card in cards | filter:containsTags | orderBy: sortOrder")
									td
										h2.db-table-title.f-adv.text-center(ng-click="transferModalContent(card.name)") {{card.name}}
									td
										img.db-table-symbol.img-responsive.text-center(src='{{card.typeSymbol}}')
										h1.f-oku.text-center {{card.type}}
									td
										
										img.db-table-symbol.img-responsive.text-center(src='{{card.ratingSymbol}}')
										h1.f-oku.text-center {{card.ratingText}}
									td
										h3.db-table-text.text-center.f-oku {{card.text}}