.container-fluid.charpagebg
	.container.top-padding-med
		.row.charpageinfocard
			.col-md-12
				.col-md-3.charpagedifficultycol
					img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:336633,c_scale,q_54,w_110/v1498845176/easyicon.jpg")
				.col-md-3.charpagedifficultycol
					img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:336633,c_scale,q_54,w_110/v1498845176/intermediateicon.jpg")
				.col-md-3.charpagedifficultycol
					img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:336633,c_scale,q_54,w_110/v1498845176/hardicon.jpg")
				.col-md-3.charpagedifficultycol
					img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:336633,c_scale,q_54,w_110/v1498845176/villainicon.jpg")
				.col-md-3.charpagedifficultycol
					img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:336633,c_scale,q_54,w_110/v1498845176/heroicon.jpg")
				.col-md-3.charpagedifficultycol
					img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:336633,c_scale,q_54,w_110/v1498845176/downloadicon.jpg")
				.col-md-3.charpagedifficultycol
					img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:336633,c_scale,q_54,w_110/v1498845176/podcasticon.jpg")
				.col-md-3.charpagedifficultycol
					img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:336633,c_scale,q_54,w_110/v1498845176/backarrowicon.jpg")
				.col-md-3.charpagedifficultycol
					img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/b_rgb:336633,c_scale,e_auto_contrast,q_54,w_110/v1499890549/qulogo.jpg")
			.col-md-6.text-center.charpagecardleft
				div
					div.charpageheadshotbg
						img.qu-charpageheadshot.img-responsive(src="http://res.cloudinary.com/jhi5/image/upload/querycharselect.png")
					.row.charpagenamerow
						.col-md-9
							h2#charname.charpagename.qu-backgroundcolor Query
						.col-md-3.charpagedifficultycol
							img.charpagedifficulty(src="http://res.cloudinary.com/jhi5/image/upload/easy.png")
							
			.col-md-6.text-center.charpagecardright
				.col-md-6
						h3.charpageheading.qu-backgroundcolor POWERS
							div
								h3.charpagepowers Master Of Disguise
								h3.charpagepowers Surveillance Expert
								h3.charpagepowers Skilled in CQC
								h3.charpagepowers Black Market Gadgets
				.col-md-6					
						h3.charpageheading.qu-backgroundcolor STRATEGY
							div
								h3.charpageplus + Disruption
								h3.charpageplus + Healing
								h3.charpageminus - Armor
								h3.charpageminus - Player Damage			
				.col-md-12
					h3.charpageheading.qu-backgroundcolor SKILL
						div(data-toggle="popover" data-trigger="hover" data-placement="auto top"
						data-content="Choose target player. Look at the top three cards of their deck and return them in any order.")				
							img.charpageskillimage(src="http://res.cloudinary.com/jhi5/image/upload/spy.png")				
					button.btn-block.charpagedownloadbutton.qu-hover Download
			.col-md-12
				h1.charpagedatabasepointer.text-center ▼ CARD DATABASE ▼	
			.modal.fade.top-padding-med.modal-admin#myModal(role="dialog")
				.modal-header
					.row
						.col-md-6.text-center
							button.btn.charpagemodalpreviousbutton(ng-click="findPreviousEntry()" ng-hide="hidePrevious()") Previous
							button.btn.charpagemodalclosebutton(data-dismiss="modal" ng-click="emptyModal()") Close Window
							button.btn.charpagemodalnextbutton(ng-click="findNextEntry()" ng-hide="hideNext()") Next
						.col-md-6
							h1#modaltitle.qu-charpagemodalcardname.text-center {{modalContent.name}}
				.modal-body
					.col-md-6.charpagemodalimagecontainer
						img.charpagemodalimage.img-responsive(src="{{modalContent.illustrations[0]}}" data-toggle="popover" data-trigger="hover"
					data-content="{{modalContent.flavor[0]}}")
						.row.charpagemodalutilityrow(ng-hide="modalContent.utilityValues == null")
							.col-md-8.col-md-offset-2
									.col-md-4.charpagemodalutilitycell
										h4.charpagemodalhpheading.text-center Hit Points					
										h2#hpsymbol.charpagemodalutilityvalue.text-center {{modalContent.utilityValues[0]}} 
									.col-md-4.charpagemodalutilitycell.text-center
										h4.charpagemodalfightheading.text-center Fight
										h2#fightsymbol.charpagemodalutilityvalue.text-center {{modalContent.utilityValues[1]}}
									.col-md-4.charpagemodalutilitycell.text-center
										h4.charpagemodalarmorheading.text-center Armor
										h2#armorsymbol.charpagemodalutilityvalue.text-center {{modalContent.utilityValues[2]}} 					
					.col-md-6
						.row.charpagemodaliconrow
							.col-md-12.charpagemodalcardcells
								.col-md-6
									h4.charpagemodalratingheading.text-center Rating
									img.img-responsive.charpagemodalrating(src="{{modalContent.ratingSymbol}}")
								.col-md-6
									h4.charpagemodaltypeheading.text-center Type
									img.img-responsive.charpagemodaltype(src="{{modalContent.typeSymbol}}" alt="{{modalContent.type}}")						
						.row
							.col-md-12
								h3.charpagemodaltextheading.text-center Card Text
								h3.charpagemodaltext.text-center {{modalContent.text}}
						.row
							.col-md-12
								h3.charpagemodalcommentheading.text-center Comment
								h3.charpagemodalcomment.text-center(ng-repeat='comment in modalContent.comments') {{comment}}
		br
		.row
			.col-md-12.charpagesearchfiltertable
				table.table.table-hover.table-condensed(ng-if="loaded")
					thread
						div.charpagesearchfiltercontainer
							.row
								.col-md-12
									h3.charpagesearchfilterheading.text-center Search Filters
							.row.text-center.charpagesearchfiltertagbg
								.col-md-6.charpagesearchfiltertagcol
									div.charpagesearchfiltertagrow(ng-repeat="tag in tagArray")
										button.charpagesearchfilterexcludedtag(ng-click='filterButton(tag)' ng-hide='hideTagButton(tag)') - {{tag}}
								.col-md-6.charpagesearchfiltertagcol
									div.charpagesearchfiltertagrow(ng-repeat="tag in currentTags")
										button.charpagesearchfilterincludedtag(ng-click='removeFilterButton(tag)') + {{tag}}
										&nbsp;
							.row.charpagesearchfilterbuttonrow
								.col-md-4
									button.charpagesearchfilterresetbutton(ng-click='resetTags()') Reset Tags
								.col-md-4
									button#crossbutton.crossbutton.charpagesearchfiltercrossoverbutton(type='button' data-toggle='button' ng-model='checkBox' ng-click='logCheckBox()') Crossovers Off			
								.col-md-4
									button#featbutton.featbutton.charpagesearchfilterfeatbutton(type='button' data-toggle='button' ng-model='featBox' ng-click='logFeatBox()') Feats Off
						.row
							.col-md-12.charpagedatabaseheadingbg
								h2.text-center.charpagedatabaseheading Query Card Database
								h3.text-center.charpagedatabasesubheading click on a card's name to see more details!		
						tr.charpagedatabasetablebox
							th.charpagedatabasetablefield
								h3.charpagedatabasefieldheading.text-center Name
							th.charpagedatabasetablefield.text-center
								h3.charpagedatabasefieldheading Type
							th.charpagedatabasetablefield.text-center
								h3.charpagedatabasefieldheading Text
							tbody.charpagedatabasetablebody
								tr.charpagedatabasetablebodyrow(ng-repeat="card in cards | filter:containsTags | orderBy: 'name'")
									td
										h2.charpagedatabasecardtitle.text-center(ng-click="transferModalContent(card.name)") {{card.name}}
									td
										img.img-responsive.charpagedatabasetypesymbol.text-center(src='{{card.typeSymbol}}')
									td
										h3.charpagedatabasetext.text-center {{card.text}}