.container
	.h1 Robonobo
	.h2 The Modular Monkey
	.h1 Download This Character!

	ul.nav.nav-tabs
		li
			a(data-toggle='tab', href='#articles') Articles
		li
			a(data-toggle='tab', href='#cards') Cards
		li
			a(data-toggle='tab', href='#decklists') Decklists
	.tab-content
		#articles.tab-pane
			h3 Articles
			p
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		#cards.tab-pane.fade
			h3 Cards
			p
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		#decklists.tab-pane.fade
			h3 Decklists
			p
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.