.container.maincontainer
	br
	.row
		.col-md-12
			h1 A Message To Our Playtesters
			p This is a shout-out to all the people who have helped us to playtest this game in variousstagues during the design process. Every bit o your feedback hlps us make Hyperrisis a better game. We love y'all - and want to thank you for spending your time with our game.

			p Our current plan for this game is to take it around to different Protospeil event in order to gather mre palyestesting and design feedback. All of us working on this game would be thriled to get hypercrisis into game stoes and onventions as a finished procude - either with the hlep fo a game publisher or crowdfunding.

			p For us to achieve that, we need an active group of playtesters - and that's where you come in. If you enjoyed playing Hypercrisis is and would be interestest in sharing your feedback with the design team, reach out to me on Twitter @jaehighfive to recieve a print-and-play copy of the game. We want to make Hypercrisis the best it can be and we can only do that with your help.

			p - J. Munford, Sofie Grant & Alex Cater
			p - Poor Skeleton Games & S. House Studios
		.col-md-12
			h1 Quick Rules

			p Hypercrisis is a versus card game where players choose from a roster of superheroes and villains. Decks are designed to play different from one another and each has unqiue strength and weaknesses.

			p Character decks consist of 30 ACTION/UTILITY cards to represent how your character would throw down in an all-out comic book brawl. These decks also serve a life total - players deal damage to eeach other in the form of placing cards from the top of their deck to their discard pile. If no cards remain in a player's deck and that player takes any amount of damage, they will lose the game.

			p Each character deck also has unique FEAT cards that supplement the deck via powerful -one-time effects. Players choose thre FEATS at the beginning of the game and each FEAT may only be played once per game.
		.col-md-12
			h1 Getting Started

			p To being playing Hypercrisis, each player must choose a character to play as. Each character comes with a character pack consisting of that character's CHARACTER CARD, FEAT & DECK. Players construct a 30-card deck from their DECK cards.

			p Players must choose which of their FEATS will be played in the next game. Each player may choose only three FEATS per game, but are welcome to reselect those FEATS between games.

			p Once each player has chosen their FEATS, eah player then shuffles their deck. To determine turn order, one player must be selected to go first - simple methods to do this include paper-rock-scissors, dice rolls or coin flips. To finalize the setup, each player places their deck face-down on the table and displays their three chosen FEATS face-up. Any player may ask to see your FEATS at any time during the game.

			p When the game begins, each player draws three cards from the top of their deck into their hand. After drawing, each player is offered a one-time mulligan allowing them to place any cards from their hand to the bottom of their deck in exchange for drwawing that many cards from the top of their deck. This is a one-time effect per game - multiple mulligans are not allowed and should be considered cheating.

			p Once both players are satisfied with their hands, the game can begin with the chosen player beginning their first turn. As going first provides a distinct advantage, only one card may be playd from that player's hand during the first turn o the game. Players may activate one of their FEATS on their first turn. Once that player is finished with their turn, they draw two cards and pass the turn to the next player clockwise.

		.col-md-12
			p Each character pack includes 44 ACTION/UTILITY cards for the character's deck, 5 FEATS and 1 CHARACTER card. In order to being the game, each player's deck must consist of exactly 30 cards chosen from among that character's available ACTION/UTILITY cards in any combination. Players may play up to two copies of any given card in their deck.

			p In addition to the cards included in each character pack, players may choose to include up to five CROSSOVERS in their deck as well. CROSSOVERS are cards that function identically to UTILITIES except in the deckbuilding process - you may only play one copy of each CROSSOVER and only five total CROSSOVERS in your deck. Look at the CROSSOVERS available in each deck and see if you might be able to form an unbeatable superteam!

		.col-md-12

			p Each character pack includes a CHARACTER CARD for that character. These CHARACTER CARDS are useful for comparing differences between characters duing character selection. Players interested in a more unpredicatable game could even deal out character to each other randomly!

			p CHARACTER CARDS also include that character's skill - a game mechanic unique to that character. The rules text on the CHARACTER CARD i a reminder for how that skill works during the game. See if you can figure out how to play Javelin Throw using this character card.

		.col-md-12

			h1 TURN ORDER

			p Each player's turn consists of four phases in this order.

			h3 BEGINNING OF TURN PHASE

			p Any cards that have abilities that reference the beginning of a turn occur in this phase - before the active player may play any cards or attack. If there are multiple cards to consider during this phase, the active player chooses the orer in which to resolve them.

			h3 Play Phase

			p The active player may do any of the following in any order during the Play Phase.

			p Play a card from their hand. Players may play up to two cards from their hand each turn.

			p Activate a FEAT by turning it face-down. Players may activate up to one FEAT each turn.

			p Choose one of their Utilities to attack - dealing damage equal to that card's fight score to any single target. Each Utility may attack once per turn, but not on the turn they were played.

			h3 End Of Turn Phase

			p This phase occurs after the active player has announced that they are finished with their turn. Any cards that have abilities checking for the end of turn occur in this phase - before the active player draws any cards or the next player's turn begins. If there are multiple cards to consider durin this phase, the active player chooses the order in which to resolve them.

			h3 Draw Phase

			p Before the next active player may begin their turn, the formerly active player must draw two cards. If this causes that player to have more than 5 cards in their hand, they must discard down to five. If no cards remain in that player's deck, skip this phase. The turn order is then passed to the next player sitting clockwise from the active player.

		.col-md-12

			h1 Zones Of Play

			p Cards may be placed in six different zones of play during the game. Below is a diagram illustrating how to distinguish each zone.

			h3 Deck Zone
			p Your character deck is placed into this zone face-down at the beginning of the game. When your deck is empty and you take any amount of damage, you lose the game.

			h3 Feat Zone
			p FEATS are placed face-up in their own 
			zone at the beginning of the game. They are not considered to be in play, in your deck or in your discard pile.

			h3 Discard Zone
			p Cards from your deck are placed into your discard pile during the course of a game.

			h3 Hand Zone
			p Cards drawn from your deck are held here before you choose to play them. Keep your hand secret from other players!

			h3 Play Zone
			Each player's Play Zone consists of three Utility slots. When choosing to play a Crossover or Utility card, players must select a slot to place that card into. Utilities and Crossovers are played face-up onto the board and each player may only have three in play at any one time. If a player's Utility slots are full, that player may choose to replace an active card with one being played by destroying currently occupying that slot.

		.col-md-12

			h1 Symbols

			p Some cards have symbols in their card text. Those symbols are shorthands for game mechanics. The full index of symbols is as follows:

			h3 Damage

			p Deal damage equal to the number in the symbol. Damage is dealt to players in the form of placing that many cards from their deck into their discard pile.

			h3 Healing

			p Move that many cards from the top of your discard pile to the bottom of your deck.

			h3 Fight

			p Utilities may attack any single target once per turn. That attack deals damage equal to that Utility's Fight value.

			h3 Armor

			p Whenever a player is dealt damage directly, that player may reduce the Armor value on any of their Utilities to prevent that much damage. Whenever a Utility is played, it gains Armor equal to the printed Armor value.

		.col-md-12

			h1 Deckbuilding

			p Each character pack includes 44 ACTION/UTILITY cards for that character's deck, 5 FEATS and 1 CHARACTER CARD. In order to begin a game, each player's deck must consist of 30 cards chosen from among that character's available ACTION/UTILITY cards in any combination. Players may play up to two copies of any given card in their deck.

			p In addition to the cards included in each character pack, players may choose to include up to five CROSSOVERS in their deck as well. CROSSOVERS are cards that function identically to UTILITIES except in the deckbuilding process. You may only play one copy of each CROSSOVER and only five total CROSSOVERS in your deck. Look at the CROSSOVERS available in each deck and see if you might be able to form an unbeatable superteam!

		.col-md-12

			h1 Character Cards and Skills

			p Each character pack includes a CHARACTER CARD for that character. These CHARACTER CARDS are useful for comparing differences between character during character selection. Players interested in a more unpredictable game could even deal out characters to each other at random!

			p CHARACTER CARDS also include that character's skill - a game mechanic unique to that deck. The rules text on the CHARACTER CARD is a reminder for how that skill works during the game. See if you can figure out how to play Javelin Throw using this CHARACTER CARD!

		.col-md-12

			h1 Actions

			p Actions are cards included in your deck that provide a one-time effect. To play an Action, reveal it from your hand then announce the name of the card you are playing and inform your opponent of its card text. After each clause of the played card is resolved, place this card on top of your discard pile.

			p Actions can often have two or more effects and those effects are sepearated by white space. Each of these effects are meant to resolve in the order they are presented on the card. Proper timing and play sequencing are important in this game, so read your cards carefully!

		.col-md-12

			h1 Feats

			p Feats, like Actions, are cards with a one-time effect, but are not included in your character deck. At the beginning of the game, each player chooses three Feats to use during that game. Each character pack comes with five FEATS to choose from - this is useful because FEATS may range in usefulness depending on your opponent! Players are encouraged to swap their FEATS around between games to try and get a leg up on the competition.

			p Feats may only be activated during the play phase of your turn. To activate a FEAT, announce the name of the FEAT to your opponent and the effect of the card, then turn that card face-down. FEATS cannot be activated as long as they are face-down.

		.col-md-12

			h1 Utilities

			p Utilities are horizontally-oriented cards included in your deck which provide a persistent effect from turn-to-turn. Players have three slots in their Utility Belt in which to place their Utilities upon play them. If you wish to replace an existing Utility with a new card, destroy the existing Utility first.

			p Some Utilities are designed as CROSSOVERS - a special type of Utility that may be played in any deck. You deck may contain five CROSSOVERS, but only one copy of each.

			h3 All Utilties have three values - HP, FIGHT & ARMOR.

			p HP represented how much damage must be dealt to this Utility in order to destroy it. Damage dealth to Utilities does not persist from turn-to-turn.

			p Fight represents how much damage this Utility deals when it attacks. Utilties cannot attack on the turn they are played.

			p Armor represents how much damage this Utility can prevent. Whenever a player would take damage, they may reduce the armor value on one of their Utilities instead.

		.col-md-12

			h1 HP

			p HP, short for Hit Points, is a number that represents a Utility's durability. Whenever a Utility is dealt damage equal to its HP in one turn, that Utility is destroyed.

			p FEATS, ACTIONS & UTILITIES can deal damage to Utilities during the course of game. Damage dealt to Utilities is removed at the end of each turn. This means that players will often need to combine their sources of damage in order to attack their opponent's UTILTIES - be sure to check your hand and FEATS if you are grappling with a difficult Utility.

			p While deckbuilding, note the HP value of your Utilities. Utilities with small HP values are often more aggressive while cards with high HP values are often more defensive. Most competitive decklists feature a wide varity of HP values - knowing the difference between your offensive and defensive cards will help you win more games!

		.col-md-12

			h1 FIGHT

			p Fight is a number that represents that Utility's offensive capabilities. Once per turn on your turn, each of your Utilities may attack any target - dealing damage equal to its fight score to that target. Utilities cannot attack on the turn that they are played. Using a Utility to attack only deals direct damage to the target of your choice - using a Utility to attack does not cause that Utility to exchange damage with its target.

			p As your Utilities may only attack once per turn on your turn and may not fight on the turn they are played, you may find this visual shortcut useful. At the beginning of your turn, slightly tilt each of your Utilities to indicate that they are prepared to attack and straighten that Utility after attacking!

		.col-md-12

			h1 ARMOR

			p Armor is a number that represents a Utility's defensive capabilities. Whenever you would be dealt damage, you may subtract that much Armor from your Utiilites instead.

			p Your Utilities do not refresh their ARMOR from turn to turn - meaning that Armor is only a temporary defensive solution. A Utility's Armor value has nothing to its HP or FIGHT value. If you Utility is destroyed before you use its armor, that card's Armor is lost as well. When you have used all of your Armor on your of your Utilites, that Utility remains in play until it is destroyed or replaced.

			p Think of Armor as a way to protect your life total - damage that would be otherwise deal to your deck can instead by blocked by the Armor provided by your Utilities. As armor values change through the course of the game, players are encouraged to use dice to track changing Armor values during the game.

		.col-md-12

			h1 Multiplayer

			p Hypercrisis is perfect for a 1-on-1 versus action, but you can definitely get a couple of friends together for a blockbuster brawl!

			h3 BATTLE ROYALE
			h3 2+ Players

			p In this mode, it's all versus all! Turns still pass in clockwise order and while there no inherent rule differences in BATTLE ROYALE, certain cards in your deck may play differently when there are more players at the table! Players whoare knocked out during the game are eliminated from the table until the game is over. Last cape standing wins!

			h3 Tag Team
			h3 4 / 6 / 8 Players

			p In this mode, all available players are split into teams consisting of 2 or more players. Each team takes turns choosing characters, then sits at the table in alternating order. For instance, two teams would sit in A/B/A/B order while three teams would sit in A/B/C/A/B/C order.

			p After determining which team goes first, that team selects one of their players to take the first team of the game. Once the game begins, the game is played according to standard rules with ONE BIG CHANGE - players may use the ARMOR on their Utilities to block damage that would be dealt to their teammates as well as themselves. Last team standing wins!

			

















