.container
	.row
		.col-md-12.text-center
			form.form-horizontal(name='feedbackForm')
				fieldset
					legend Submit Your Playtest Data!
					.form-group
						label.control-label(for='character') Which Character Did You Play As? &nbsp;
							select(name='character')
								option(value='GG') Gravity Girl
								option(value='RB') Robonobo
								option(value='DE') Deadeye
								option(value='QU') Query
								option(value='KN') Knox
								option(value='OB') Obscurity
					.form-group
						label.control-label(for='gamesWon') Games Won
							input(type='number' name='gamesWon' min='1' max='20')
						label.control-label(for='gamesPlayed') Games Played
							input(type='number' name='gamesPlayed' min='1' max='20')
					.form-group
						label.control-label(for='crossovers') Crossovers
							select(name='crossover1')
								option(value='C01') Basalt
								option(value='C02') Dark Blades
								option(value='C03') US Ape
								option(value='CO4') Ape Omega
								option(value='CO5') Deathboy
							select(name='crossover2')
								option(value='C01') Basalt
								option(value='C02') Dark Blades
								option(value='C03') US Ape
								option(value='CO4') Ape Omega
								option(value='CO5') Deathboy
							select(name='crossover3')
								option(value='C01') Basalt
								option(value='C02') Dark Blades
								option(value='C03') US Ape
								option(value='CO4') Ape Omega
								option(value='CO5') Deathboy
							select(name='crossover4')
								option(value='C01') Basalt
								option(value='C02') Dark Blades
								option(value='C03') US Ape
								option(value='CO4') Ape Omega
								option(value='CO5') Deathboy
							select(name='crossover5')
								option(value='C01') Basalt
								option(value='C02') Dark Blades
								option(value='C03') US Ape
								option(value='CO4') Ape Omega
								option(value='CO5') Deathboy
					.form-group
						label.control-label(for='feats') Feats
							select(name='feat1')
								option(value='F01') Feat 1
								option(value='F02') Feat 2
								option(value='F03') Feat 3
								option(value='FO4') Feat 4
								option(value='FO5') Feat 5
							select(name='feat2')
								option(value='F01') Feat 1
								option(value='F02') Feat 2
								option(value='F03') Feat 3
								option(value='FO4') Feat 4
								option(value='FO5') Feat 5
							select(name='feat3')
								option(value='F01') Feat 1
								option(value='F02') Feat 2
								option(value='F03') Feat 3
								option(value='FO4') Feat 4
								option(value='FO5') Feat 5
					.form-group
						label.control-label(for='card1') Card 1
							select(name='card1')
								option(value='D01') Card 1
								option(value='D02') Card 2
								option(value='D03') Card 3
								option(value='DO4') Card 4
								option(value='DO5') Card 5
							input(type='text' name='card1comment')
						label.control-label(for='card2') Card 2
							select(name='card2')
								option(value='D01') Card 1
								option(value='D02') Card 2
								option(value='D03') Card 3
								option(value='DO4') Card 4
								option(value='DO5') Card 5
							input(type='text' name='card2comment')
						label.control-label(for='card3') Card 3
							select(name='card3')
								option(value='D01') Card 1
								option(value='D02') Card 2
								option(value='D03') Card 3
								option(value='DO4') Card 4
								option(value='DO5') Card 5
							input(type='text' name='card3comment')
					.form-group
						label.control-label(for='comments') Do you have any other comments for our developers?
							input(type='text' name='playerComment')
					button.btn.btn-success.btn-block(ng-disabled='feedbackForm.$invalid') Submit



