.container
	.row
			form.form-horizontal(name='feedbackForm')
				fieldset
					.col-md-12.text-center
						legend Submit Your Playtest Data!
						.form-group
							label.control-label(for='character').formlabel Which Character Did You Play As? &nbsp;
								select(name='character').formfield
									option(value='GG') Gravity Girl
									option(value='RB') Robonobo
									option(value='DE') Deadeye
									option(value='QU') Query
									option(value='KN') Knox
									option(value='OB') Obscurity
									option(value="SA") Silicon Artist
					.col-md-12.text-center
						.form-group
							label.control-label(for='gamesWon').formlabel How Many Games Did You Play? &nbsp; 
								input(type='number' name='gamesPlayed' min='1' max='20').formfield
							br
							label.control-label(for='gamesPlayed').formlabel How Many Of Them Did You Win? &nbsp; 
								input(type='number' name='gamesWon' min='1' max='20').formfield
					.col-md-12.text-center
						.form-group
							label.control-label(for='crossover').formlabel What Were The Best Crossovers? &nbsp;
								br
								select(name='character').formfield
									option(value='GG') Gravity Girl
									option(value='RB') Robonobo
									option(value='DE') Deadeye
									option(value='QU') Query
									option(value='KN') Knox
									option(value='OB') Obscurity
									option(value="SA") Silicon Artist
								&nbsp;
								select(name='character').formfield
									option(value='GG') Gravity Girl
									option(value='RB') Robonobo
									option(value='DE') Deadeye
									option(value='QU') Query
									option(value='KN') Knox
									option(value='OB') Obscurity
									option(value="SA") Silicon Artist
								&nbsp;
								select(name='character').formfield
									option(value='GG') Gravity Girl
									option(value='RB') Robonobo
									option(value='DE') Deadeye
									option(value='QU') Query
									option(value='KN') Knox
									option(value='OB') Obscurity
									option(value="SA") Silicon Artist
					.form-group
						label.control-label(for='feats') Feats
							select(name='feat1')
								option(value='F01') Feat 1
								option(value='F02') Feat 2
								option(value='F03') Feat 3
								option(value='FO4') Feat 4
								option(value='FO5') Feat 5
							select(name='feat2')
								option(value='F01') Feat 1
								option(value='F02') Feat 2
								option(value='F03') Feat 3
								option(value='FO4') Feat 4
								option(value='FO5') Feat 5
							select(name='feat3')
								option(value='F01') Feat 1
								option(value='F02') Feat 2
								option(value='F03') Feat 3
								option(value='FO4') Feat 4
								option(value='FO5') Feat 5
					.form-group
						label.control-label(for='card1') Card 1
							select(name='card1')
								option(value='D01') Card 1
								option(value='D02') Card 2
								option(value='D03') Card 3
								option(value='DO4') Card 4
								option(value='DO5') Card 5
							input(type='text' name='card1comment')
						label.control-label(for='card2') Card 2
							select(name='card2')
								option(value='D01') Card 1
								option(value='D02') Card 2
								option(value='D03') Card 3
								option(value='DO4') Card 4
								option(value='DO5') Card 5
							input(type='text' name='card2comment')
						label.control-label(for='card3') Card 3
							select(name='card3')
								option(value='D01') Card 1
								option(value='D02') Card 2
								option(value='D03') Card 3
								option(value='DO4') Card 4
								option(value='DO5') Card 5
							input(type='text' name='card3comment')
					.form-group
						label.control-label(for='comments') Do you have any other comments for our developers?
							input(type='text' name='playerComment')
					button.btn.btn-success.btn-block(ng-disabled='feedbackForm.$invalid') Submit



