doctype
html
		title Hypercrisis Open Beta
		link(href='/favico.ico', rel='shortcut icon', type='image/x-icon')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/vendor/toastr/toastr.css')
		link(rel='stylesheet', href='/vendor/angular-ui/build/angular-ui.css')
		link(rel='stylesheet', href='/css/style.css')
		base(href='/')
	body(ng-app="app")
		block main-content
		include scripts
		