.container-fluid
	.row
		.col-lg-3
			img(class='img-responsive' src='../../images/frontpage1.png')
			button.btn.btn-block.btn-primary.adventure.mainButton(onClick='location.href="../characterselect"') Characters
		.col-lg-3
			img(class='img-responsive' src='../../images/frontpage2.png')
			button.btn.btn-block.btn-warning.adventure.mainButton(onClick='location.href="../articles"') How To Play
		.col-lg-3
			img(class='img-responsive' src='../../images/frontpage3.png')
			button.btn.btn-block.btn-danger.adventure.mainButton(onClick='location.href="../download"') Download Now!
		.col-lg-3
			img(class='img-responsive' src='../../images/frontpage4.png')
			button.btn.btn-block.btn-success.adventure.mainButton(onClick='location.href="../feedback"') Submit Playtests!