.container
	br
	.row
		.col-lg-12
			.main-b1(onClick='location.href="../characterselect"')
				h1.text-right.main-t1.f-adv.wtxt.outlinetxt characters
	.row
		.col-lg-6
			.main-b2(onClick='location.href="../download"')
				h1.text-center.main-t2.f-adv.wtxt.outlinetxt download
		.col-lg-6
			.main-b3(onClick='location.href="../articles"')
				h1.text-center.main-t3.f-adv.wtxt.outlinetxt how to play
	.row
		.col-lg-12
			.main-b4(onClick='location.href="../feedback"')
				h1.text-left.main-t4.f-adv.wtxt.outlinetxt submit playtests