.container
	.jumbotron.jumbotron-fluid

	.h1.text-center HYPERCRISIS
	.h3.text-center Open Beta
		&nbsp; 
	.container
		col-md-3
			h1 Articles
		col-md-3
			h1 Rules
		col-md-3
			h1 Characters
		col-md-3
			h1 Cards 

