.container.maincontainer
	br
	.row
		.col-lg-12.stiplebg
			div.mainbanner1(onClick='location.href="../characterselect"')
				h1.text-right.maintext1 characters
	.row
		.col-lg-6
			div.mainbanner2(onClick='location.href="../download"')
				h1.text-center.maintext2 download
		.col-lg-6
			div.mainbanner3(onClick='location.href="../articles"')
				h1.text-center.maintext3 how to play
	.row
		.col-lg-12
			div.mainbanner4(onClick='location.href="../feedback"')
				h1.text-left.maintext4 submit playtests